In [8]:
#Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import re
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
#reading the dataset
zomato_real = pd.read_csv("data/zomato.csv", encoding="ISO-8859-1")
zomato_real.head() # prints the first N rows of a DataFrame

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [11]:
zomato_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [12]:
zomato_real['Country Code'].unique()

array([162,  30, 216,  14,  37, 184, 214,   1,  94, 148, 215, 166, 189,
       191, 208])

In [22]:
#Deleting Unnnecessary Columns
zomato=zomato_real.drop(['Has Table booking','Has Online delivery','Is delivering now', 'Switch to order menu', 'Rating color', 'Locality Verbose','Rating text'],axis=1) #Dropping the column "dish_liked", "phone", "url" and saving the new dataset as "zomato"

In [23]:
#Removing the Duplicates
zomato.duplicated().sum()
zomato.drop_duplicates(inplace=True)

In [24]:
#Remove the NaN values from the dataset
zomato.isnull().sum()
zomato.dropna(how='any',inplace=True)
zomato.info() #.info() function is used to get a concise summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9542 non-null   int64
 1   Restaurant Name       9542 non-null   object
 2   Country Code          9542 non-null   int64
 3   City                  9542 non-null   object
 4   Address               9542 non-null   object
 5   Locality              9542 non-null   object
 6   Longitude             9542 non-null   float64
 7   Latitude              9542 non-null   float64
 8   Cuisines              9542 non-null   object
 9   Average Cost for two  9542 non-null   int64
 10  Currency              9542 non-null   object
 11  Price range           9542 non-null   int64
 12  Aggregate rating      9542 non-null   float64
 13  Votes                 9542 non-null   int64
dtypes: float64(3), int64(5), object(6)
memory usage: 1.1+ MB

In [41]:
#Reading Column Names
zomato.columns

Index(['id', 'restaurant_name', 'country_code', 'city', 'address', 'locality',
       'longitude', 'latitude', 'cuisines', 'cost', 'currency', 'price',
       'rating', 'votes'],
      dtype='object')

In [53]:
#Changing the column names
zomato = zomato.rename(columns={'Restaurant ID': 'id','restaurant_name':'name','Country Code': 'country_code','Average Cost for two':'cost','Price range':'price','rating':'rate'})
zomato.columns

Index(['id', 'name', 'country_code', 'city', 'address', 'locality',
       'longitude', 'latitude', 'cuisines', 'cost', 'currency', 'price',
       'rate', 'votes'],
      dtype='object')

In [54]:
zomato.columns = zomato.columns.str.lower()

In [55]:
zomato.columns

Index(['id', 'name', 'country_code', 'city', 'address', 'locality',
       'longitude', 'latitude', 'cuisines', 'cost', 'currency', 'price',
       'rate', 'votes'],
      dtype='object')

In [56]:
#Some Transformations
zomato['cost'] = zomato['cost'].astype(str) #Changing the cost to string
zomato['cost'] = zomato['cost'].apply(lambda x: x.replace(',','.')) #Using lambda function to replace ',' from cost
zomato['cost'] = zomato['cost'].astype(float) # Changing the cost to Float
zomato.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            9542 non-null   int64
 1   name          9542 non-null   object
 2   country_code  9542 non-null   int64
 3   city          9542 non-null   object
 4   address       9542 non-null   object
 5   locality      9542 non-null   object
 6   longitude     9542 non-null   float64
 7   latitude      9542 non-null   float64
 8   cuisines      9542 non-null   object
 9   cost          9542 non-null   float64
 10  currency      9542 non-null   object
 11  price         9542 non-null   int64
 12  rate          9542 non-null   float64
 13  votes         9542 non-null   int64
dtypes: float64(4), int64(4), object(6)
memory usage: 1.1+ MB

In [57]:
zomato.head()

,id,name,country_code,city,address,locality,longitude,latitude,cuisines,cost,currency,price,rate,votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1100.0,Botswana Pula(P),3,4.8,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,1200.0,Botswana Pula(P),3,4.5,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000.0,Botswana Pula(P),4,4.4,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",1500.0,Botswana Pula(P),4,4.9,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,"Japanese, Korean",1500.0,Botswana Pula(P),4,4.8,229

In [58]:
#Reading Rate of dataset
zomato['rate'].unique()

array([4.8, 4.5, 4.4, 4.9, 4. , 4.2, 4.3, 3.6, 4.7, 3. , 3.8, 3.7, 3.2,
       3.1, 0. , 4.1, 3.3, 4.6, 3.9, 3.4, 3.5, 2.2, 2.9, 2.4, 2.6, 2.8,
       2.1, 2.7, 2.5, 1.8, 2. , 2.3, 1.9])

In [59]:
zomato['city'].unique()

array(['Makati City', 'Mandaluyong City', 'Pasay City', 'Pasig City',
       'Quezon City', 'San Juan City', 'Santa Rosa', 'Tagaytay City',
       'Taguig City', 'Brasí_lia', 'Rio de Janeiro', 'Sí£o Paulo',
       'Albany', 'Armidale', 'Athens', 'Augusta', 'Balingup',
       'Beechworth', 'Boise', 'Cedar Rapids/Iowa City', 'Chatham-Kent',
       'Clatskanie', 'Cochrane', 'Columbus', 'Consort', 'Dalton',
       'Davenport', 'Des Moines', 'Dicky Beach', 'Dubuque',
       'East Ballina', 'Fernley', 'Flaxton', 'Forrest', 'Gainesville',
       'Hepburn Springs', 'Huskisson', 'Inverloch', 'Lakes Entrance',
       'Lakeview', 'Lincoln', 'Lorn', 'Macedon', 'Macon', 'Mayfield',
       'Mc Millan', 'Middleton Beach', 'Monroe', 'Montville',
       'Ojo Caliente', 'Orlando', 'Palm Cove', 'Paynesville', 'Penola',
       'Pensacola', 'Phillip Island', 'Pocatello', 'Potrero', 'Princeton',
       'Rest of Hawaii', 'Savannah', 'Singapore', 'Sioux City',
       'Tampa Bay', 'Tanunda', 'Trentham East', 'Valdosta', 'Vernonia',
       'Victor Harbor', 'Vineland Station', 'Waterloo', 'Weirton',
       'Winchester Bay', 'Yorkton', 'Abu Dhabi', 'Dubai', 'Sharjah',
       'Agra', 'Ahmedabad', 'Allahabad', 'Amritsar', 'Aurangabad',
       'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Chennai',
       'Coimbatore', 'Dehradun', 'Faridabad', 'Ghaziabad', 'Goa',
       'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore', 'Jaipur', 'Kanpur',
       'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana', 'Mangalore', 'Mohali',
       'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'New Delhi', 'Noida',
       'Panchkula', 'Patna', 'Puducherry', 'Pune', 'Ranchi',
       'Secunderabad', 'Surat', 'Vadodara', 'Varanasi', 'Vizag',
       'Bandung', 'Bogor', 'Jakarta', 'Tangerang', 'Auckland',
       'Wellington City', 'Birmingham', 'Edinburgh', 'London',
       'Manchester', 'Doha', 'Cape Town', 'Inner City', 'Johannesburg',
       'Pretoria', 'Randburg', 'Sandton', 'Colombo', 'Ankara',
       'ÛÁstanbul'], dtype=object)

In [60]:
zomato.isnull().sum()

id              0
name            0
country_code    0
city            0
address         0
locality        0
longitude       0
latitude        0
cuisines        0
cost            0
currency        0
price           0
rate            0
votes           0
dtype: int64

In [61]:
zomato.head()

,id,name,country_code,city,address,locality,longitude,latitude,cuisines,cost,currency,price,rate,votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1100.0,Botswana Pula(P),3,4.8,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,1200.0,Botswana Pula(P),3,4.5,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000.0,Botswana Pula(P),4,4.4,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",1500.0,Botswana Pula(P),4,4.9,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,"Japanese, Korean",1500.0,Botswana Pula(P),4,4.8,229

In [62]:
## Computing Mean Rating
restaurants = list(zomato['name'].unique())
zomato['Mean Rating'] = 0

for i in range(len(restaurants)):
    zomato['Mean Rating'][zomato['name'] == restaurants[i]] = zomato['rate'][zomato['name'] == restaurants[i]].mean()

In [63]:
zomato.head()

,id,name,country_code,city,address,locality,longitude,latitude,cuisines,cost,currency,price,rate,votes,Mean Rating
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1100.0,Botswana Pula(P),3,4.8,314,4.8
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,1200.0,Botswana Pula(P),3,4.5,591,4.5
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000.0,Botswana Pula(P),4,4.4,270,4.4
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",1500.0,Botswana Pula(P),4,4.9,365,4.9
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,"Japanese, Korean",1500.0,Botswana Pula(P),4,4.8,229,4.8

In [64]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range = (1,5))

zomato[['Mean Rating']] = scaler.fit_transform(zomato[['Mean Rating']]).round(2)

zomato.sample(3)

,id,name,country_code,city,address,locality,longitude,latitude,cuisines,cost,currency,price,rate,votes,Mean Rating
356,17057591,Bahama Breeze Island Grille,216,Orlando,"8849 International Drive, Orlando, FL 32819",I-Drive/Universal,-81.471526,28.437065,Caribbean,45.0,Dollar($),3,4.3,910,4.51
4954,584,Nathu's Sweets,1,New Delhi,"F-17, Vijay Block, Laxmi Nagar, New Delhi",Laxmi Nagar,77.283502,28.634547,"North Indian, South Indian, Street Food, Chine...",400.0,Indian Rupees(Rs.),1,2.1,121,3.22
3150,5462,Taj Snacks,1,New Delhi,"3575, Netaji Subhash Marg, Daryaganj, New Delhi",Daryaganj,77.240470,28.642815,South Indian,200.0,Indian Rupees(Rs.),1,3.0,5,3.45

In [65]:
zomato.head()

,id,name,country_code,city,address,locality,longitude,latitude,cuisines,cost,currency,price,rate,votes,Mean Rating
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1100.0,Botswana Pula(P),3,4.8,314,4.92
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,1200.0,Botswana Pula(P),3,4.5,591,4.67
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000.0,Botswana Pula(P),4,4.4,270,4.59
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",1500.0,Botswana Pula(P),4,4.9,365,5.00
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City",121.057508,14.584450,"Japanese, Korean",1500.0,Botswana Pula(P),4,4.8,229,4.92

## Text Preprocessing

* Lower casing
* Removal of Punctuations
* Removal of Stopwords
* Removal of URLs
* Spelling correction

In [66]:
# 5 examples of these columns before text processing:
zomato[['rate', 'cuisines']].sample(5)

      rate                                           cuisines
1462   2.7                     North Indian, Italian, Mexican
626    3.6                                       North Indian
1550   2.4                              North Indian, Chinese
4642   3.6  American, Italian, North Indian, Chinese, Leba...
3741   3.5                                           Desserts

In [68]:
zomato['cuisines'] = zomato['cuisines'].str.lower()
zomato[['rate', 'cuisines']].sample(5)

      rate                        cuisines
7952   0.0  north indian, chinese, mughlai
8021   0.0                         biryani
1282   3.2                            cafe
1833   3.3                         chinese
6363   3.6                            cafe

In [69]:
# RESTAURANT NAMES:
restaurant_names = list(zomato['name'].unique())
restaurant_names

['Le Petit Souffle',
 'Izakaya Kikufuji',
 'Heat - Edsa Shangri-La',
 'Ooma',
 'Sambo Kojin',
 'Din Tai Fung',
 'Buffet 101',
 'Vikings',
 'Spiral - Sofitel Philippine Plaza Manila',
 'Locavore',
 'Silantro Fil-Mex',
 "Mad Mark's Creamery & Good Eats",
 "Guevarra's",
 'Sodam Korean Restaurant',
 'Cafe Arabelle',
 "Nonna's Pasta & Pizzeria",
 'Balay Dako',
 'Hobing Korean Dessert Cafe',
 'Wildflour Cafe + Bakery',
 'NIU by Vikings',
 'The Food Hall by Todd English',
 'Chez Michou',
 'Cafí© Daniel Briand',
 'Casa do Biscoito Mineiro',
 'Maori',
 'Pizza íæ Bessa',
 'Sushi Loko',
 'Beirute',
 'New Koto',
 'Sandubas Cafí©',
 'Villa Tevere',
 'Rovereto',
 'Buena Carne',
 'Taco Pep',
 'Coco Bambu',
 'Taypíç',
 'Outback Steakhouse',
 'Manzuíç',
 'Gero',
 'Brazilian American Burgers',
 'Pesqueiro Eco Gourmet',
 'Confeitaria Colombo',
 'Bibi',
 'Cervantes',
 'Amir',
 'TT Burger',
 'Braseiro da Gíçvea',
 'Balada Mix',
 'Garota de Ipanema',
 'Zazíç BistríÇ Tropical',
 'Filí© de Ouro',
 'D.O.C Ristorante',
 'Sushi Leblon',
 'Talho Capixaba',
 'Leme Light',
 'Shirley',
 'Quiosque Chopp Brahma',
 'Aprazí_vel',
 'Aconchego Carioca',
 'Cantina Famiglia Mancini',
 'Templo da Carne - Marcos Bassi',
 'Gopala Hari',
 'Jiquitaia',
 'Skye - Hotel Unique',
 'Les 3 Brasseurs',
 'Red Steak & Burger',
 'Cantinho da Gula',
 'Paris 6 Classique',
 'Kawa Sushi',
 'A Figueira Rubaiyat',
 'Kinoshita',
 'Meats',
 'Paribar',
 'Terraí_o Itíçlia',
 'Divino Fogí£o',
 'Super Grill',
 'Esquina Mocotí_',
 'Veloso',
 'Sainte Marie Gastronomia',
 "Austin's BBQ and Oyster Bar",
 "BJ's Country Buffet",
 'El Vaquero Mexican Restaurant',
 'Elements Coffee Co - Northwest',
 'Chick-fil-A',
 'Guang Zhou Chinese Restaurant',
 'Harvest Moon',
 "Henry Campbell's Steakhouse",
 'Hong Kong Cafe',
 'House of China Restaurant II',
 'Locos Grill & Pub',
 'Longhorn Steakhouse',
 'Mikata Japanese Steakhouse',
 'Shogun Japanese Steak House',
 'The Catch Seafood Room & Oyster Bar',
 'Villa Gargano',
 '3 Squares Diner',
 'Whitebull Hotel',
 'Last Resort Grill',
 "Mama's Boy Restaurant",
 'Sr. Sol 1',
 'Choo Choo Eastside',
 'The Grill',
 'Big City Bread Cafe',
 'Clocked',
 "DePalma's Italian Cafe - Downtown",
 "DePalma's Italian Cafe - East Side",
 'Five & Ten',
 'Grit',
 'Ike & Jane',
 'La Dolce Vita Ristorante',
 'Shokitini',
 'Taqueria Del Sol',
 'The National',
 'The Royal Peasant',
 'Transmetropolitan',
 'Trappeze Pub',
 'Viva! Argentine Cuisine',
 'Miyabi Kyoto Japanese Steak House',
 "Rae's Coastal Cafe",
 "The Bee's Knees",
 'Boll Weevil Cafe',
 'Farmhaus Burger',
 "Manuel's Bread Cafe",
 'Sconyers Bar B Que',
 'Frog Hollow Tavern',
 "Giuseppe's Pizza & Italian Specialities",
 'Mellow Mushroom',
 'Nacho Mamas Burritos',
 "Rhinehart's Oyster Bar",
 'Takosushi',
 'The Chop House',
 'The Taj of India',
 'Augsburg Haus',
 'Pho Bac',
 'Thai Kitchen',
 'El Kiosco Mexican Restaurant',
 'Taste of Balingup',
 'Bridge Road Brewers',
 'Bardenay',
 'Flatbread Neapolitan Pizzeria',
 "Goldy's Breakfast Bistro",
 'Chandlers Steakhouse',
 'Bar Gernika Basque Pub & Eatery',
 'Barbacoa Restaurant',
 "Big Jud's",
 'Bittercreek Ale House',
 'Boise Fry Company',
 'Flying Pie Pizzaria',
 'Fork',
 "Guido's Original New York Style Pizza",
 "Los Beto's",
 'Lucianos Italian Restaurant',
 'Mai Thai Restaurant',
 'Shige Japanese Cuisine',
 'The Egg Factory',
 'Tucanos',
 'Texas Roadhouse',
 'Brick 29',
 'Winifreds',
 "Biaggi's Ristorante Italiano",
 'El Super Burrito',
 'Granite City Food & Brewery',
 'Irish Democrat',
 'Taste of India',
 'Thai Moon Restaurant',
 "Ting's Red Lantern",
 "Monica's",
 'Exotic India',
 'Shorts Burger and Shine',
 'The Hamburg Inn No. 2 Inc.',
 'Bluebird Diner',
 'Graze',
 "A & A Pagliai's Pizza",
 'Atlas World Grill',
 'BlackStone',
 'Devotay',
 "Jimmy Jack's Rib Shack",
 'Zoeys Pizzeria',
 'Tokyo Sushi',
 'Berry Patch Restaurant',
 'Sakura Sushi & Grill',
 'Uptown Vietnam cuisine',
 'Cafe Le Rue @ The Landings',
 "Mark's City Grille",
 "B Merrell's",
 'Cannon Brewpub',
 'Fuji Japanese Steak House',
 "Ruth Ann's Family Restaurant",
 'Samurai Japanese Cuisine & Sushi Bar',
 'Wasabi Sushi and Thai',
 'Buckhead Bar and Grill',
 "Burt's Butcher Shoppe and Eatery",
 "Chef Lee's Peking Restaurant",
 "Country's Barbecue",
 "Deorio's",
 'Meritage',
 'Mongo The Mongolian Fire Pit',
 'The Black Cow',
 'Wood Stone',
 "Hunter's Pub",
 'Consort Restaurant',
 "Thatcher's Barbeque and Grill",
 "Christian and Jake's Bistro",
 "Dub's High on the Hog",
 "Sierra's Mexican Restaurant",
 'Oakwood Cafe',
 "Chili's Grill & Bar",
 'Fuji Japanese Steakhouse',
 'Las Palmas',
 "Tony's Italian Restaurant & Pizza",
 'Filling Station',
 'Five Guys Burgers and Fries',
 'Los Pablos',
 'Kobe Hibachi & Sushi',
 'Soho Hibachi',
 'Thai Garden',
 'Southern Bliss Bakery',
 "Bailey's Bar-B-Que",
 'Farm To Fork',
 'Home Plate Grill',
 'Pie Slingers Pizzeria',
 'Olive Tree Cafe',
 'Red Ginger Sushi, Grill & Bar',
 'Crust Stone Oven Pizza',
 "Jimmy's Pancake House",
 'Trattoria Tiramisu',
 'Prairie Grille at SteepleGate Inn',
 'Tantra Asian Bistro',
 'Duck City Bistro',
 "Frick's Tap",
 'Los Agaves',
 'Azteca',
 'China Cafe',
 'Exotic Thai Restaurant',
 'Front Street Brewery',
 'Machine Shed Restaurant',
 'Osaka',
 'Hickory Park',
 'The Cafe',
 'Flying Mango',
 'Cool Basil',
 'HuHot Mongolian Grill',
 'Malo',
 'Centro',
 "Fong's Pizza",
 'A Dong Restaurant',
 'Court Avenue Brewing Company',
 'Django',
 'Miyabi 9',
 'Zombie Burger + Drink Lab',
 "Tursi's Latin King",
 'Tsing Tsao South',
 'Bandit Burrito',
 "Jethro's BBQ",
 'The Machine Shed Restaurant',
 'Mi Patria',
 'Waterfront Seafood Market',
 'The Giggling Goat',
 'Burnt Toast Cafe',
 "Catfish Charlie's",
 "Salsa's Mexican Restaurant",
 "Tony Roma's",
 "Vinny Vanucchi's",
 'Champps Americana',
 'Fiesta Cancun',
 "Happy Joe's Pizza & Ice Cream",
 "Houlihan's",
 'Ichiban Hibachi Steakhouse & Sushi Bar',
 'Kalmes Breaktime Bar & Grill',
 'L. May Eatery',
 'Los Aztecas',
 'Manna Java World Cafe',
 "Mario's Italian Restaurant",
 'Pepper Sprout Incorporated',
 'Shot Tower Inn',
 'Sunshine Family Restaurant',
 'Watershed Cafe',
 'Woodfire Grille',
 'The Belle General',
 'Jehova es Mi Pastor Tacos y Burritos',
 'Flaxton Gardens',
 'Bespoke Harvest',
 'Houndstooth Grill & Tavern',
 'Hawg Wild BBQ & Catfish House',
 'Bourbon Street Grille',
 'Smokin Gold BBQ',
 'Hoka-Hoka Japanese Steak & Sushi',
 "Shenanigan's Irish Pub",
 'Fish Tales Lakeside Grille',
 'Antebellum',
 "Moonie's Texas Barbecue",
 'Atlanta Highway Seafood Market',
 'Eat at Thai',
 'Smoke House BBQ and Catering',
 '2 Dog',
 'Longstreet Cafe',
 'Re-Cess',
 'Bodensee',
 "Hofer's Bakery & Cafe",
 'Troll Tavern',
 'The Nacoochee Village Tavern & Pizzeria',
 'Blue Bean Love Cafe',
 'La Trattoria of Lavandula',
 '5 Little Pigs',
 'Beach Box Cafe',
 'Funkey Monkey',
 'Burger Queen Drive In',
 'Blue Orchid Thai Restaurant',
 'Stillwater on Belmore',
 'Mr.',
 "Emilio's Cuban Cafe",
 'Ingleside Village Pizza',
 "Jim Shaw's Seafood Grill & Bar",
 'Mandarin Chinese Restaurant',
 'Rookery',
 'Bonefish Grill',
 'Downtown Grill',
 'Greek Corner Deli',
 "Natalia's",
 "Papouli's Mediterranean Cafe & Market",
 "Benson's Steak and Sushi",
 'My Fathers Place',
 'Sushi Thai Restaurant',
 'The Mellow Mushroom',
 'El Jalisciense Mexican Restaurant',
 'Greek Village',
 "Martin's BBQ",
 'Thai Pepper',
 'Zen Japanese Steakhouse and Sushi Bar',
 'Star Buffet',
 'Triangle Restaurant',
 'Three Anchors',
 "Vince's Restaurant & Pizzeria",
 'Poets Cafe',
 'The Artesian Restaurant',
 'Ceví_che Tapas Bar & Restaurant',
 "'Ohana",
 'Earl of Sandwich',
 'Raglan Road Irish Pub and Restaurant',
 'Cafí© Tu Tu Tango',
 'Texas de Brazil',
 'Bahama Breeze Island Grille',
 "Maggiano's Little Italy",
 'Hawkers Asian Street Fare',
 'Tako Cheena by Pom Pom',
 'Seasons 52 Fresh Grill',
 "Hollerbach's Willow Tree Cafí©",
 "Pom Pom's Teahouse and Sandwicheria",
 'Yellow Dog Eats',
 "Tibby's New Orleans Kitchen",
 'The Coop',
 'Bosphorous Turkish Cuisine',
 'Ethos Vegan Kitchen',
 'The Ravenous Pig',
 'Vivo Bar and Grill',
 'Pier 70',
 'DiVine',
 'Cactus Flower Cafe Navarre',
 "McGuire's Irish Pub & Brewery",
 'New Yorker Deli & Pizzeria',
 'Tu-Do Vietnamese Restaurant',
 "Carrabba's Italian Grill",
 "Jaco's Bayfront Bar and Grille",
 'The Tin Cow',
 'Cactus Flower Cafe',
 'Dharma Blue',
 'Global Grill',
 'Ichiban',
 'The Fish House',
 'Tuscan Oven',
 'Flounders Chowder House',
 "Hemingway's Island Grill",
 'Native Cafe',
 "Peg Leg Pete's",
 'The Grand Marlin',
 'Original Georgios Authentic Greek Food',
 "Fisherman's Corner",
 'Mad Cowes Cafe',
 'Rupes Burgers',
 'Riverwalk Cafe',
 'Royal Hotel',
 "Buddy's Italian Restaurant",
 'Butterburrs',
 'Chang Garden',
 'Fifth Street Bagelry',
 "Goody's Deli",
 'Grecian Key Restaurant',
 'Outer Limits Fun Zone',
 'Portneuf Valley Brewing',
 'Sandpiper Restaurant & Lounge',
 'Senor Iguanas',
 'Sushi Family',
 'Taste of India Nepal',
 'Thai Paradise',
 'The Bridge',
 'Nosh Mahal',
 'El Herradero',
 'Barrett Junction Cafe',
 'Blue Point Grill',
 "Giovanni's Shrimp Truck",
 'Kona Brewing Company',
 'Coconuts Fish Cafe',
 'Kihei Caffe',
 'Monkeypod Kitchen by Merriman',
 'Sansei Seafood Restaurant & Sushi Bar',
 'Star Noodle',
 'Aloha Mixed Plate',
 'Gazebo',
 'Hula Grill',
 "Kimo's",
 "Mama's Fish House",
 'Marukame Udon',
 'Yard House',
 "Lulu's Waikiki",
 "Duke's Waikiki",
 "Eggs 'n Things",
 "Roy's",
 'Wailana Coffee House',
 'The Lady & Sons',
 'Green Truck Pub',
 "Leopold's Ice Cream",
 "Mrs. Wilkes' Dining Room",
 "Zunzi's",
 'Moon River Brewing Company',
 "Pirates' House Restaurant",
 "B. Matthew's Eatery",
 'Crystal Beer Parlor',
 'Goose Feathers Cafe and Bakery',
 "Henry's",
 "Huey's On The River",
 "J. Christopher's",
 "Lulu's Chocolate Bar",
 'Rocks on the River',
 'SOHO South Cafe',
 'The Olde Pink House',
 "Vic's On The River",
 'The Crab Shack',
 'Sky On 57',
 'Cut By Wolfgang Puck',
 'Restaurant Andre',
 'Potato Head Folk',
 'Jaan',
 'Rhubarb Le Restaurant',
 "Al'frank Cookies",
 'Fratini La Trattoria',
 'Boufe Boutique Cafe',
 'The Refinery Singapore',
 'Chye Seng Huat Hardware',
 'Makansutra Gluttons Bay',
 'Colony',
 'Summer Pavilion',
 'The Lokal',
 'I Am',
 'Super Loco',
 'Artistry',
 'Bitters & Love',
 'Artichoke Cafe',
 "Archie's Waeside",
 "Bob Roe's Pizza",
 'Da Kao Restaurant',
 "Famous Dave's",
 'Fuji Bay Japanese Restaurant',
 'Hunan Palace',
 "Jerry's Pizza",
 "Jim's Burgers",
 'Johnnie Mars',
 'Miles Inn',
 'Milwaukee Wiener House',
 "Minerva's Food & Cocktails",
 'Monterrey Mexican Restaurant',
 'Rebos',
 'Tokyo Japanese Steakhouse & Sushi Bar',
 'Diamond Thai Cuisine',
 'El Fredo Pizza',
 'Trattoria Fresco',
 "Kahill's Steak-Fish Chophouse",
 'Rumba Island Bar & Grill',
 'Red Mesa Cantina',
 'BellaBrava',
 'Ceviche Tapas Bar & Restaurant',
 'The Moon Under Water',
 "Bern's Steak House",
 'Boca Kitchen Bar Market',
 'Edison: Food+Drink Lab',
 'Daily Eats',
 'Salt Rock Grill',
 "Mazzaro's Italian Market",
 'Conch Republic Grill',
 "Mr. Dunderbak's Biergarten and Marketplatz",
 'Red Mesa Restaurant',
 'Datz',
 "Ella's Americana Folk Art Cafe",
 'Taco Bus',
 'The Refinery',
 'Columbia Restaurant',
 '1918 Bistro & Grill',
 'Pig and Whistle',
 'Buffalo Wild Wings',
 'El Toreo Mexican Restaurant',
 '306 North Restaurant',
 'Austins Cattle Co',
 'Beijing Cafe',
 'Bleu Cafe',
 'Bleu Pub',
 'Bubba Jax Crab Shack',
 "Cheddar's Scratch Kitchen",
 'El Cazador',
 'Friends Grille and Bar',
 'Giulios Greek & Italian Restaurant',
 'La Jalisco Supermercato',
 'Masato Japanese',
 "Mom & Dad's Italian Restaurant",
 "Mori's Japanese Steakhouse & Sushi Bar",
 'Passage 2 India',
 'Rodeo Mexican Restaurant',
 'Steel Magnolias',
 "Smok'n Pig B-B-Q",
 'Blue House Cafe',
 'Anchorage Cafe Restaurant Wine Bar',
 'Lake House Restaurant',
 'Masala Grill & Coffee House',
 'Brown Bottle The Cedar Falls',
 'Four Queens Dairy Cream',
 'Hong Kong Chinese Restaurant',
 "J's Homestyle Cooking",
 'Montage',
 "Mulligan's Brick Oven Grill",
 'Sakura',
 'Scratch',
 'SOHO Sushi Bar & Deli',
 "Tony's La Pizzeria",
 'Chapala',
 'Galleria de Paco',
 'Golden China',
 "Rudy's Tacos",
 'The Screaming Eagle',
 'The Thai Bowl',
 'Tokyo Japanese Steak House',
 "Theo Yianni's Authentic Greek Restaurant",
 "Fishpatrick's Crabby Cafe",
 'Arigato Sushi',
 "Denny's",
 "Famous Dave's Barbecue",
 'Pizza Di Rocco',
 'Sofra Istanbul',
 'Salt',
 'Genghis Grill',
 'Olive Garden',
 'Cho Gao - Crowne Plaza Abu Dhabi',
 'Sangeetha Vegetarian Restaurant',
 'Hot Palayok',
 "Applebee's",
 'Tikka Tonight',
 'Bait El Khetyar',
 'Indian By Nature',
 'Via Delhi',
 'Punjab Grill',
 'Tamba',
 "P.F. Chang's",
 'The Cheesecake Factory',
 'The Farm',
 'Maharaja Bhog',
 'Rasoi Ghar',
 'Barbeque Nation',
 'Farzi Cafe',
 "AB's Absolute Barbecues",
 'Carnival By Tresind',
 'Hard Rock Cafe',
 'The Coffee Club',
 'SALT',
 'SpiceKlub',
 'Tresind - Nassima Royal Hotel',
 'Grand Barbeque Buffet Restaurant',
 'Red Lobster',
 "Parker's",
 'Grub Shack',
 'Kamat',
 'Vadakkan Pepper',
 'Katis Restaurant',
 'Zaroob',
 'Derby',
 'Nayaab Haandi',
 'Najmat Lahore Restaurant',
 'Saffron',
 'Pizza Hut',
 'Al Mukhtar Bakery',
 'Aroos Damascus',
 "Nando's",
 'Peking Chinese Restaurant',
 "TGI Friday's",
 'Rajasthan Al Malaki',
 'Paper Fig',
 'Sis Burger',
 'Crafted Blends',
 'Jahanpanah',
 'Rangrezz Restaurant',
 'Time2Eat - Mama Chicken',
 'Chokho Jeeman Marwari Jain Bhojanalya',
 'Pinch Of Spice',
 'MoMo Cafe',
 'Peshawri - ITC Mughal',
 'Taj Bano - ITC Mughal',
 'G Thal',
 'Dawat-e-Nawab - Radisson Blu',
 'The Latitude - Radisson Blu',
 'Dasaprakash Restaurant',
 'The Charcoal Chimney',
 'Sheroes Hangout',
 'Bon Barbecue',
 'Chapter 1 Cafe',
 'Pind Balluchi',
 "Tea'se Me - Rooftop Tea Boutique",
 'Thaaliwala',
 '650 - The Global Kitchen',
 'Patang - The Revolving Restaurant',
 'Huber & Holly',
 '@Mango',
 "Fozzie's Pizzaiolo",
 "La Pino'z Pizza",
 'Mocha',
 'Blue -  Rooftop Cafe Restaurant Bistro',
 'MoMo Cafí© - Courtyard By Marriott',
 'Cryo Lab',
 'Swati Snacks',
 'Brick Kitchen',
 'Kabir Restaurant',
 'Puffizza',
 'Cafe Alfresco',
 'The Cafe Baraco',
 "Nini's Kitchen",
 'Yanki Sizzlers',
 'The Garden Cafe - The Fern',
 'Mazzo',
 'Turquoise Villa',
 "Aryan Family's Delight",
 'Bean Here',
 'Bikanerwala',
 'Dewsis',
 'Friends Forever',
 'Hotel Ravisha Continental',
 'KFC',
 "McDonald's",
 'Subway',
 'Tandoor Restaurant',
 'The BrewMaster',
 'The Tamarind Tree',
 'Cafe El Chico',
 'Eat On',
 'Hot Stuff',
 'Paradise',
 'Sagar Ratna',
 'Moti Mahal Delux',
 'Makhan Fish and Chicken Corner',
 'Charming Chicken',
 'Ahuja Milk Bhandar',
 'Crystal Restaurant',
 'Brijwasi Chat Bhandar',
 'Bubby Fish & Chicken Corner',
 'Bon Gateau',
 'The Yellow Chilli',
 'La Roma Pizzeria',
 'Sakhis Watz Kukin',
 'The Kulcha Land',
 'Shudh Restaurant',
 "Bade Bhai Ka Brothers' Dhaba",
 'Bharawan Da Dhaba',
 'Brothers Dhaba',
 "Brothers' Amritsari Dhaba",
 'Gurdas Ram Jalebi Wala',
 'Kesar Da Dhabha',
 'Beera Chicken Corner',
 'Surjit Food Plaza',
 'Kanha Sweets',
 'Kream N Krunch',
 "Balbeer's Kitchen & Bar",
 'Angeethi Restaurant',
 "Domino's Pizza",
 'Hotel Laadli',
 'Indiana Veg Restaurant',
 'Madhuban Restaurant - Welcome Hotel Rama International',
 'Mauj Restaurant',
 'Naivedya',
 "d' Curry House",
 'Mokoholic Juice Bar',
 "Ashoka's Veg Restaurant",
 "Kareem's Fine Dining",
 'That Baat',
 'Bhoj Restaurant',
 'Downside Up',
 "Kareem's Kabab & Biryani",
 'Great Sagar Restaurant',
 'Kailash Restaurant',
 'Yalla Yalla',
 'Sultans of Spice',
 'The Fatty Bao - Asian Gastro Bar',
 'Toit',
 'Three Dots & A Dash',
 'Bombay Brasserie',
 "Glen's Bakehouse",
 'Onesta',
 'ECHOES Koramangala',
 'Truffles',
 'The Black Pearl',
 'Eat Street',
 'Koramangala Social',
 "AB's - Absolute Barbecues",
 'Flechazo',
 'Communiti',
 'Big Brewsky',
 'Hoot',
 'Black N White Cafe',
 'Maybe There',
 'Sagar Gaire Fast Food',
 'The Kasbah',
 'Bake N Shake',
 '10 Downing Street',
 'Chi Kitchen',
 'Kafe Kulture',
 'Violet Hour',
 'Bapu Ki Kutia',
 'Da pizzeria',
 'Papa Mexicano',
 'Manohar Dairy And Restaurant',
 'Kebabsville - Sayaji Hotel',
 'Indian Coffee House',
 'The Urban Socialite',
 'Tyre Patty',
 'Silver Streak',
 'Central Perk 7',
 'The Chicken Dinesty',
 'Taste Of China',
 "Michael's Kitchen",
 'Mamma Mia - Mayfair Lagoon',
 '99 North Restaurant',
 'Adda',
 'Chill Ummm',
 'Lal Qila',
 "Richard's Kitchen & Coffee Bar",
 'Aangan Horizon',
 'Brewberrys The Coffee Bar',
 'Chai Break',
 'JUGAAD JN.',
 'Cha cTea',
 'Food Fever',
 'Mainland China',
 'Eram Rooftop',
 'The Night Factory',
 'Brooklyn Central',
 "Chili's",
 'Kylin Experience',
 'Pirates of Grill',
 'Pal Dhaba',
 'Midnight Chef',
 "Nik Baker's",
 'OvenFresh',
 'Super Donuts',
 'Taco Bell',
 "Karim's",
 'Virgin Courtyard',
 'Burgrill',
 "Uncle Jack's",
 'That Madras Place',
 'Haunted',
 "Pantry d'or",
 'Palmshore',
 "Writer's Cafe",
 'Fusilli Reasons',
 'Ciclo Cafe',
 'Kaidi Kitchen',
 'Maplai',
 "L'amandier",
 'Basil With A Twist',
 'Coal Barbecues',
 'Pind',
 'Kuchi n Kream',
 'Haribhavanam Hotel',
 'Kites Cafe',
 'Zucca Pizzeria',
 'Burger Ka Baap',
 'The Cascade Restaurant',
 '24 Plus Cafe & Restaurant',
 'Valarmathi Kongunaatu Samayal',
 'Bird On Tree',
 "Tim's Bistro",
 'Batlivala & Khanabhoy',
 'Cafe Totaram',
 'Cream Centre',
 'On The Go',
 'Sree Annapoorna',
 "That's Y Food",
 'CakeBee',
 'Yari',
 'Cream Stone',
 'The Punjabi Essence Restaurant',
 'Tirupati Restaurant',
 'Anandam',
 'Town Table Restaurant',
 'Kalsang Friends Corner',
 'The Great Indian Pub',
 'BMG - All Day Dining',
 'TBistro',
 'Y Cafe & Restaurant',
 "Eddie's Patisserie",
 'First Gear Cafe',
 'Dunkin Donuts',
 'Doon Darbar',
 'Razzmatazz',
 'Black Pepper Restaurant',
 'Cafe Marigold',
 'Jalapenos',
 'Kalsang AMA Cafe',
 'Desire Foods',
 'Knight Rock',
 'Punjab Restaurant',
 'Raju Dhaba',
 'Rakheja Bakery',
 'Snax Points',
 'Aggarwal Sweet Corner',
 'Kashyap Vaishno Dhaba',
 'Total Food Court',
 'The Chaiwalas',
 'Cafe And More',
 'Green Chick Chop',
 'Kolkata Hot Kathi Rolls',
 'Aapki Rasoi',
 'Fusion Food Corner',
 'Punjabi Rasoi',
 'Kebab Xpress',
 'Suruchi',
 "Berco's",
 "Dunkin' Donuts",
 'The Chocolate Room',
 'Baskin Robbin',
 'Popcorn Fusion',
 'Yo! China',
 "Giani's",
 'Momo-Cha',
 'Shree Rathnam',
 'Mirage Restro Bar',
 'Jai Jagannath Hotel',
 'Gelato Vinto',
 'Maggi Point',
 'Angaar',
 'TcozY',
 'The Retriever',
 'Bangali Sweets & Restaurant',
 'Silver',
 "Chill 'N Grill",
 'Punjabi Restaurant',
 'Standard Chicken Point',
 'The Grillz & Gravy',
 "Cakes 'n Bakes - Park Plaza",
 'Cafe Bite',
 'Cafe Light',
 'Little Cafe',
 'Oregano India',
 'Sagar Bakery',
 'Smugglers',
 'Welcome',
 'Invitation',
 'New Dilight',
 'Chimney',
 'Chopstick',
 'Hot & Tasty Chinese Food',
 'Sanjha Chulha',
 'Frontier',
 'Oxy Lounge',
 'City Dhaba',
 'Garam Masala',
 'Mittal Fast Food',
 'Al Bake',
 'Anupam Sweet',
 'Cafe Coffee Day',
 'Chicago Pizza',
 'Crispy Crust',
 'Gulab',
 'Hunger Cure Express',
 'Maitre Patissier',
 "Nirula's",
 'The Grub House',
 'Twenty Four Seven',
 'Cafe Parmesan',
 'Briosca',
 'Burger Point',
 'Cafe Grub Up',
 'Cakes At Bhawanas',
 'Chaudhary Bhojnalaya',
 'Chickenette',
 'Giani',
 'Hash Stix',
 'Juice On Go',
 'Keventers',
 "MD's Kebabs & Curries",
 'Perfect Bake',
 "Sethi's Delicacy",
 'Cafí© Bogchi',
 'Ashoka Restaurant',
 'Baskin Robbins',
 'China Hot Pot',
 'Handi Chhadeyan Di',
 'Hungrill',
 'Kant Khana Khazana',
 'Open Yard',
 'Recipe Badshah',
 'The Chai Cafe',
 'Apna Restaurant',
 'Chaudhary Chaap & Chinese',
 'Chings Chinese',
 'Food On Wheels',
 'Gulshan Hotel',
 'Maa Kali Foods',
 'The Street Kitchen',
 'United Kitchen',
 'Eat N Treat',
 'Hotel Ekant',
 'Paradise Inn',
 'Red Chilli',
 'Shiv Restaurant',
 'Sohan Sweets & Namkeen',
 'The Binge Box Cafe',
 'Tmos Moving Feast',
 'Tmos Cafe Corner',
 'Parkash Dhaba',
 'Hareram Bikanerzaika',
 'Kulcha Paaji',
 'Shree Bikaner Misthan Bhandar',
 'The Hub - Gourmet, Bakers & More',
 'Anand Dhaba',
 'Bikaneri Sweets & Restaurant',
 'Delicieux Ice Cream Rolls',
 'Flying Tandoor',
 'Food Station',
 'Grub Hub',

In [71]:
zomato.shape

(9542, 15)

In [73]:
zomato.columns

Index(['id', 'name', 'country_code', 'city', 'address', 'locality',
       'longitude', 'latitude', 'cuisines', 'cost', 'currency', 'price',
       'rate', 'votes', 'Mean Rating'],
      dtype='object')

In [74]:
import pandas

# Randomly sample 60% of your dataframe
df_percent = zomato.sample(frac=0.5)

In [76]:
df_percent.shape

(4771, 15)

In [77]:
df_percent.set_index('name', inplace=True)

In [79]:
indices = pd.Series(df_percent.index)