# Pandas

In [2]:
import numpy as np
import pandas as pd
import os
import requests

In [3]:
pwd = os.getcwd()
print(pwd)

/Users/Admin/Desktop/python/notebooks/DataScienceProjects/IIT-G applied data science, ml and edge ai/IIT_6M/02_Numpy and Pandas

Create a data directory so that we can easily call from that dir

In [4]:
data_dir = '/Users/Admin/Desktop/python/notebooks/DataScienceProjects/IIT-G applied data science, ml and edge ai/data/'
print(data_dir)

/Users/Admin/Desktop/python/notebooks/DataScienceProjects/IIT-G applied data science, ml and edge ai/data/

In [ ]:
Students=pd.read_excel(data_dir + "Test_file.xlsx")

In [ ]:
Students

In [ ]:
Students.head(6)

In [ ]:
pd.read_excel(data_dir + "Test_file.xlsx",names=["a","b","c","d"], skiprows=[2])

In [ ]:
fifa=pd.read_csv(data_dir + 'FIFA_data.csv')

In [ ]:
fifa

In [ ]:
fifa.isnull()

In [ ]:
url = "http://www.basketball-reference.com/leagues/NBA_2015_totals.html"
html = requests.get(url, verify=False).content
BB_data = pd.read_html(html)

In [ ]:
BB_data

In [ ]:
BB_data[0].iloc[1:15, 3:10]

In [ ]:
titanic_train=pd.read_csv(data_dir + 'titanic/titanic_dataset.csv' , sep=',')

In [ ]:
titanic_train

In [ ]:
titanic_train.columns

In [ ]:
titanic_train[["Name","Sex"]]

In [ ]:
type(titanic_train["Name"])

In [ ]:
titanic_train[["Name","Pclass"]].head(20)

In [ ]:
type(titanic_train[["Name","Pclass"]])

In [ ]:
titanic_train.dtypes

In [ ]:
titanic_train.dtypes == "object"

In [ ]:
 a=titanic_train.dtypes[titanic_train.dtypes == "object"].index

In [ ]:
a

In [ ]:
titanic_train[a].describe()

In [ ]:
titanic_train.describe()

In [ ]:
sorted(titanic_train["Name"])

In [ ]:
sorted(titanic_train["Name"])[5:10:4]

In [ ]:
titanic_train["Name"].head(20)

In [ ]:
titanic_train[["Ticket","Name"]][4:9]

In [ ]:
titanic_train["New_col"]="Jain"

In [ ]:
titanic_train.head(20)

In [ ]:
new_Pclass = pd.Categorical(titanic_train["Pclass"])

In [ ]:
new_Pclass

In [ ]:
titanic_train["Embarked"].unique()

In [ ]:
#Boarded Passengers by Embarkation (S,C,Q)
titanic_train["Survived"].value_counts()

In [ ]:
df_n=titanic_train.drop (['Name','PassengerId','Parch','SibSp','Ticket'],axis=1)

In [ ]:
df_n.columns

In [ ]:
#Count of Survived Column --> 0 & 1 (To see no of survived and not survived)
df_n["Survived"].value_counts()

In [ ]:
#GroupBy Function
#Count of all Variables by Gender
df_n.groupby('Sex').count()

In [ ]:
#GroupBy Function
#Sex & Class Wise Mean of Age, Fare
df_n.groupby(['Sex','Pclass']).mean()

In [ ]:
#GroupBy Function
#Count of All variables by Sex (Cluster Bar Chart)
df_n.groupby('Sex').count().plot.bar

In [ ]:
#Count of Passengers with Age less than 18,by Sex & Passenger Class --> can put condition in df before groupby, 
#Multiple row Index
df_n[df_n['Age']<18].groupby(['Sex','Pclass']).count()

In [ ]:
from numpy.random import randn as rn
np.random.seed(111)
matrix_data = rn(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(matrix_data,row_labels,column_headings)

In [ ]:
df

In [ ]:
df.drop("C")

In [ ]:
df.drop("C",inplace=True)

In [ ]:
df

In [ ]:
import pandas as pd 
import numpy as np
matrix_data = np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['A','B','C','D','E']
column_headings = ['Age', 'Height', 'Weight']
matrix_data

In [ ]:
df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print(df)

In [ ]:
df[df['Height']>65]