In [1]:
# !pip install pyspark

In [126]:
import pyspark
from pyspark.ml.feature import Imputer
import pyspark.sql.functions as F
from pyspark.sql.functions import col, sum, mean, median, mode, concat_ws, col, split
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [3]:
import numpy as np
import pandas as pd

In [40]:
pd.read_csv("cal_housing.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NaN
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NaN
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NaN
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NaN
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NaN
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,NaN
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,NaN
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,NaN
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,NaN
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,NaN

In [41]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [43]:
spark

In [44]:
df_pyspark = spark.read.csv("cal_housing.csv", header=True, inferSchema=True)

In [45]:
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [46]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(5)

[Row(customerID='7590-VHVEG', gender='Female', SeniorCitizen=0, Partner='Yes', Dependents='No', tenure=1, PhoneService='No', MultipleLines='No phone service', InternetService='DSL', OnlineSecurity='No', OnlineBackup='Yes', DeviceProtection='No', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='Month-to-month', PaperlessBilling='Yes', PaymentMethod='Electronic check', MonthlyCharges=29.85, TotalCharges='29.85', Churn='No'),
 Row(customerID='5575-GNVDE', gender='Male', SeniorCitizen=0, Partner='No', Dependents='No', tenure=34, PhoneService='Yes', MultipleLines='No', InternetService='DSL', OnlineSecurity='Yes', OnlineBackup='No', DeviceProtection='Yes', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='One year', PaperlessBilling='No', PaymentMethod='Mailed check', MonthlyCharges=56.95, TotalCharges='1889.5', Churn='No'),
 Row(customerID='3668-QPYBK', gender='Male', SeniorCitizen=0, Partner='No', Dependents='No', tenure=2, PhoneService='Yes', MultipleLines='No', InternetService='DSL', OnlineSecurity='Yes', OnlineBackup='Yes', DeviceProtection='No', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='Month-to-month', PaperlessBilling='Yes', PaymentMethod='Mailed check', MonthlyCharges=53.85, TotalCharges='108.15', Churn='Yes'),
 Row(customerID='7795-CFOCW', gender='Male', SeniorCitizen=0, Partner='No', Dependents='No', tenure=45, PhoneService='No', MultipleLines='No phone service', InternetService='DSL', OnlineSecurity='Yes', OnlineBackup='No', DeviceProtection='Yes', TechSupport='Yes', StreamingTV='No', StreamingMovies='No', Contract='One year', PaperlessBilling='No', PaymentMethod='Bank transfer (automatic)', MonthlyCharges=42.3, TotalCharges='1840.75', Churn='No'),
 Row(customerID='9237-HQITU', gender='Female', SeniorCitizen=0, Partner='No', Dependents='No', tenure=2, PhoneService='Yes', MultipleLines='No', InternetService='Fiber optic', OnlineSecurity='No', OnlineBackup='No', DeviceProtection='No', TechSupport='No', StreamingTV='No', StreamingMovies='No', Contract='Month-to-month', PaperlessBilling='Yes', PaymentMethod='Electronic check', MonthlyCharges=70.7, TotalCharges='151.65', Churn='Yes')]

In [47]:
df_pyspark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)
 |-- ocean_proximity: string (nullable = true)

In [13]:
df_pyspark.columns

['customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']

In [49]:
df_pyspark.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double'),
 ('ocean_proximity', 'string')]

In [50]:
df_pyspark.describe()

DataFrame[summary: string, longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string, ocean_proximity: string]

In [51]:
df_pyspark.describe().show()

+-------+-------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+---------------+
|summary|          longitude|         latitude|housing_median_age|       total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|ocean_proximity|
+-------+-------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+---------------+
|  count|              20640|            20640|             20640|             20640|            20640|             20640|            20640|             20640|             20640|              0|
|   mean|-119.56970445736148| 35.6318614341087|28.639486434108527|2635.7630813953488|537.8980135658915|1425.4767441860465|499.5396802325581|3.8706710029070246|206855.81690891474|           null|
| stddev|  2.003531723502584|2.135952397457101| 12.58555761211163|2181.6152515827944| 421.247905943133|  1132.46212176534|382.3297528316098| 1.899821717945263|115395.61587441359|           null|
|    min|            -124.35|            32.54|               1.0|               2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|           null|
|    max|            -114.31|            41.95|              52.0|           39320.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|           null|
+-------+-------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+---------------+

In [52]:
def convert_categories(df):
    """
    Converts all string categories values into 0, 1, 2, 3.

    Args:
    df: The DataFrame that contains the string categories values.

    Returns:
    A new DataFrame with the converted string categories values.
    """

    categories = {
        "No": 0,
        "Yes": 1,
        "Month-to-month": 2,
        "One year": 3,
        "Two year": 4
    }

    # Convert the string categories values to their corresponding values using the dictionary.
    for column in df.columns:
        if column in categories:
            df = df.withColumn(column, F.when(df[column] == categories[column], 1).otherwise(0))

    return df

In [53]:
df_pyspark = convert_categories(df_pyspark)

In [56]:
# adding column in data frame
df_pyspark.withColumn("new_col", df_pyspark['median_house_value'] * 2).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+--------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity| new_col|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+--------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|905200.0|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|717000.0|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|704200.0|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|682600.0|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|684400.0|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|539400.0|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|598400.0|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|482800.0|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|453400.0|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|522200.0|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|563000.0|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|483600.0|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|427000.0|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|382600.0|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|318400.0|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|280000.0|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|305000.0|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|311000.0|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|317400.0|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|325800.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+--------+
only showing top 20 rows

In [57]:
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [58]:
# drop the column
df_pyspark.drop('new_col')

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double, ocean_proximity: string]

In [59]:
df_pyspark.withColumnRenamed("new_col", "double_charges").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

### Handling missing values
* dropping columns
* dropping rows
* variour parameters in dropping functions
* handling missing values by mean, median and mode

In [60]:
df_pyspark.na.drop().show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+

In [61]:
# whethere if any col value is nul of any row
df_pyspark.na.drop(how='any').show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+

In [62]:
# whethere if all col value is nul of any row
df_pyspark.na.drop(how='all').show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 5 rows

In [63]:
# threshold
# whethere if threshold number of col value is nul of any row
no_of_col_null_to_check = 2
df_pyspark.na.drop(how='any', thresh=no_of_col_null_to_check).show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 5 rows

In [64]:
# which col need to affect by subset
df_pyspark.na.drop(how='any', subset=['ocean_proximity'])

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double, ocean_proximity: string]

In [65]:
# filling the missing values
df_pyspark.na.fill('null', ['ocean_proximity']).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [66]:
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [71]:
null_count_ocean_proximity = df_pyspark.select(sum(col("ocean_proximity").isNull().cast("int"))).collect()[0][0]
print(null_count_ocean_proximity)

20640

In [77]:
imputer = Imputer(
    inputCols = ["ocean_proximity"],
    outputCols = ["{}_imputed".format(c) for c in ["ocean_proximity"]]
).setStrategy("mean")

In [78]:
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

### Filter operation

In [81]:
df_pyspark.drop("ocean_proximity").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [84]:
condition = "total_bedrooms > 4"
df_pyspark.filter(condition=condition).select(['total_bedrooms', 'median_house_value']).show()

+--------------+------------------+
|total_bedrooms|median_house_value|
+--------------+------------------+
|         129.0|          452600.0|
|        1106.0|          358500.0|
|         190.0|          352100.0|
|         235.0|          341300.0|
|         280.0|          342200.0|
|         213.0|          269700.0|
|         489.0|          299200.0|
|         687.0|          241400.0|
|         665.0|          226700.0|
|         707.0|          261100.0|
|         434.0|          281500.0|
|         752.0|          241800.0|
|         474.0|          213500.0|
|         191.0|          191300.0|
|         626.0|          159200.0|
|         283.0|          140000.0|
|         347.0|          152500.0|
|         293.0|          155500.0|
|         455.0|          158700.0|
|         298.0|          162900.0|
+--------------+------------------+
only showing top 20 rows

### Group by and aggregate

In [85]:
df_pyspark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)
 |-- ocean_proximity: string (nullable = true)

In [86]:
# groupby
df_pyspark.groupBy("total_rooms", "median_house_value").sum().show()

+-----------+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|total_rooms|median_house_value|sum(longitude)|sum(latitude)|sum(housing_median_age)|sum(total_rooms)|sum(total_bedrooms)|sum(population)|sum(households)|sum(median_income)|sum(median_house_value)|
+-----------+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|     1238.0|           87500.0|       -122.28|        37.82|                   52.0|          1238.0|              288.0|          622.0|          259.0|            1.5057|                87500.0|
|     1848.0|          234000.0|       -122.26|        37.77|                   52.0|          1848.0|              479.0|          921.0|          477.0|             2.875|               234000.0|
|     1555.0|          183300.0|       -122.17|        37.73|                   52.0|          1555.0|              289.0|          620.0|          292.0|            3.7159|               183300.0|
|     2784.0|          157600.0|       -122.07|        37.63|                   27.0|          2784.0|              723.0|         2028.0|          693.0|            2.4808|               157600.0|
|      957.0|           55000.0|       -121.84|        39.73|                   52.0|           957.0|              263.0|          513.0|          223.0|            1.3672|                55000.0|
|     1504.0|           84800.0|       -120.57|        38.35|                   17.0|          1504.0|              358.0|          661.0|          250.0|            2.2604|                84800.0|
|     4308.0|          159700.0|        -122.1|        38.02|                   28.0|          4308.0|              824.0|         2086.0|          776.0|            3.6523|               159700.0|
|     1025.0|          155000.0|       -122.07|        37.86|                   23.0|          1025.0|              205.0|          263.0|          191.0|              3.12|               155000.0|
|     4711.0|          485400.0|       -121.82|        37.81|                   12.0|          4711.0|              659.0|         2089.0|          621.0|            8.3209|               485400.0|
|     1258.0|          121600.0|       -122.36|        37.93|                   17.0|          1258.0|              254.0|          885.0|          229.0|              3.05|               121600.0|
|     2692.0|          167400.0|       -120.87|        38.71|                   13.0|          2692.0|              470.0|         1302.0|          420.0|               4.0|               167400.0|
|     1497.0|           50000.0|       -118.98|        35.38|                   39.0|          1497.0|              383.0|         1182.0|          355.0|            1.0648|                50000.0|
|     1631.0|           73700.0|       -119.02|        35.36|                   47.0|          1631.0|              340.0|          847.0|          315.0|            2.5062|                73700.0|
|     2817.0|          123500.0|       -118.95|        34.81|                   30.0|          2817.0|              604.0|         1089.0|          412.0|            3.1364|               123500.0|
|     3458.0|           82500.0|       -119.01|        35.44|                   20.0|          3458.0|              651.0|         1465.0|          621.0|            2.5806|                82500.0|
|     1588.0|           71100.0|       -122.89|        39.11|                   10.0|          1588.0|              333.0|          585.0|          254.0|            2.2551|                71100.0|
|     2199.0|           72400.0|       -122.69|        39.02|                   27.0|          2199.0|              527.0|          744.0|          316.0|            2.1094|                72400.0|
|     1389.0|          220900.0|       -118.58|         34.2|                   37.0|          1389.0|              252.0|          826.0|          249.0|             5.015|               220900.0|
|     1610.0|          385900.0|       -118.35|        34.13|                   39.0|          1610.0|              278.0|          511.0|          278.0|            4.3333|               385900.0|
|     1583.0|          225000.0|       -118.29|        34.09|                   43.0|          1583.0|              658.0|         1941.0|          614.0|            1.9835|               225000.0|
+-----------+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
only showing top 20 rows

In [87]:
df_pyspark.groupBy("median_house_value").max().show()

+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|median_house_value|max(longitude)|max(latitude)|max(housing_median_age)|max(total_rooms)|max(total_bedrooms)|max(population)|max(households)|max(median_income)|max(median_house_value)|
+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|          270100.0|       -117.87|        37.81|                   52.0|          3789.0|              874.0|         2243.0|          866.0|            7.1472|               270100.0|
|          330000.0|       -117.69|        37.76|                   40.0|          6678.0|             1011.0|         2877.0|          982.0|            8.2787|               330000.0|
|          179300.0|       -117.92|        37.94|                   52.0|          5031.0|             1194.0|         2461.0|         1185.0|            5.0275|               179300.0|
|          217000.0|       -117.97|        37.61|                   51.0|         15207.0|             2924.0|         6301.0|         2829.0|            5.7078|               217000.0|
|          300000.0|       -117.11|        38.67|                   52.0|          7297.0|             2530.0|         5840.0|         2374.0|            6.8564|               300000.0|
|          337200.0|       -117.02|        37.78|                   52.0|          3047.0|              641.0|         1427.0|          620.0|             7.333|               337200.0|
|          147000.0|       -117.08|        39.74|                   17.0|          2633.0|              712.0|         1487.0|          694.0|             4.817|               147000.0|
|          147100.0|       -116.91|        39.33|                   52.0|          3048.0|              597.0|         1690.0|          576.0|            4.3818|               147100.0|
|           51300.0|        -116.0|        36.76|                   47.0|          8502.0|             2634.0|         2330.0|          991.0|            1.8958|                51300.0|
|          181400.0|        -117.2|        38.52|                   39.0|          6108.0|             1130.0|         3244.0|         1113.0|            4.2768|               181400.0|
|          230800.0|       -117.98|        34.72|                   52.0|          3285.0|              830.0|         2281.0|          786.0|             6.213|               230800.0|
|          262800.0|       -118.62|        37.31|                   32.0|          3085.0|              552.0|         1277.0|          512.0|            4.5795|               262800.0|
|          169700.0|       -117.09|        38.44|                   36.0|          3297.0|              728.0|         2593.0|          622.0|            3.3621|               169700.0|
|          477600.0|       -117.07|        32.91|                    5.0|          2234.0|              256.0|          894.0|          253.0|           10.3354|               477600.0|
|          187200.0|       -116.76|        39.03|                   36.0|          9963.0|             2031.0|         5613.0|         1946.0|            5.4248|               187200.0|
|          197500.0|       -117.94|        38.73|                   52.0|          9071.0|             1335.0|         4558.0|         1327.0|             5.542|               197500.0|
|          209500.0|       -117.86|        38.44|                   52.0|          4885.0|              988.0|         2175.0|          924.0|            5.1814|               209500.0|
|          275100.0|       -118.04|        37.54|                   29.0|          4626.0|              822.0|         2794.0|          763.0|            6.7694|               275100.0|
|           87700.0|       -117.31|         40.2|                   51.0|          2982.0|              689.0|         1831.0|          608.0|            3.8088|                87700.0|
|          220500.0|       -116.53|        37.95|                   40.0|          4071.0|              888.0|         3171.0|          874.0|            5.8683|               220500.0|
+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
only showing top 20 rows

In [89]:
df_pyspark.groupBy("total_bedrooms").mean().show()

+--------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
|total_bedrooms|     avg(longitude)|     avg(latitude)|avg(housing_median_age)|  avg(total_rooms)|avg(total_bedrooms)|   avg(population)|   avg(households)|avg(median_income)|avg(median_house_value)|
+--------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
|         299.0|-119.98315789473686| 36.10026315789473|      31.07894736842105|1605.9473684210527|              299.0| 874.9736842105264|293.10526315789474| 4.308194736842106|     223418.55263157896|
|         305.0|-119.60423076923075| 35.36115384615385|      35.15384615384615|1469.1923076923076|              305.0| 887.6923076923077| 292.5769230769231| 3.761111538461539|      235569.3076923077|
|         769.0|-120.41999999999999| 36.20909090909091|     23.636363636363637|3589.5454545454545|              769.0|            1826.0| 689.9090909090909|3.5215999999999994|     212545.45454545456|
|         496.0|-119.46645161290321| 35.54709677419354|     30.838709677419356|2411.8387096774195|              496.0|1366.6451612903227| 469.4516129032258|3.6425709677419356|     187738.70967741936|
|         558.0|-119.19705882352942| 35.14411764705882|     28.235294117647058| 2565.764705882353|              558.0|1474.9411764705883| 514.0588235294117| 3.750323529411765|     204811.82352941178|
|         596.0|-118.84500000000001| 34.87999999999999|     26.142857142857142| 2919.714285714286|              596.0|            1663.5| 557.4285714285714| 3.529271428571428|     222714.35714285713|
|         934.0|         -118.82625|34.745000000000005|                 27.875|          4255.375|              934.0|           2860.75|           881.125|3.7922374999999997|               223225.0|
|         692.0|-118.66444444444444|34.345555555555556|                   25.0| 3038.777777777778|              692.0|1808.6666666666667|             651.0|3.2282666666666664|               217000.0|
|        2862.0|            -117.79|             34.02|                    5.0|           18690.0|             2862.0|            9427.0|            2777.0|            6.4266|               315600.0|
|        1761.0|            -117.58|            33.985|                   11.5|            9429.5|             1761.0|            5541.0|            1697.0|            4.4489|               153200.0|
|        1051.0|-119.97399999999998|            36.269|                   17.9|            5746.6|             1051.0|            2770.6|             998.8|4.3823300000000005|               204180.0|
|         184.0|-120.01318181818182| 36.07863636363636|      31.40909090909091| 977.7727272727273|              184.0| 523.8181818181819|177.63636363636363|3.8133409090909085|     207240.95454545456|
|         147.0| -119.7163157894737|35.567368421052635|      36.10526315789474| 745.6842105263158|              147.0| 434.8421052631579|147.68421052631578|3.4233315789473693|     176426.36842105264|
|         170.0|-119.66833333333335| 35.62944444444444|                   38.5| 887.9444444444445|              170.0|495.77777777777777|169.83333333333334| 4.258738888888889|     240333.44444444444|
|         576.0|-119.56124999999999|36.024166666666666|     25.916666666666668|2785.5833333333335|              576.0|1569.3333333333333|            549.25|         3.2596875|     166629.16666666666|
|        1369.0|-119.51833333333333|             35.82|                   18.0| 6153.666666666667|             1369.0|3452.8333333333335|1304.1666666666667|3.5704499999999997|               156950.0|
|         782.0|-119.23000000000002|35.483333333333334|                   16.5|            3722.5|              782.0|2150.6666666666665|             715.5|3.1620666666666666|     181733.33333333334|
|         810.0|-119.63799999999999|            35.771|                   17.2|            3930.7|              810.0|            2037.2|             734.5|           3.34916|               201830.1|
|         720.0|-118.89230769230768| 34.89153846153847|     22.307692307692307|            3104.0|              720.0|1928.2307692307693| 660.3846153846154| 3.210246153846153|     174753.84615384616|
|        1765.0|            -119.23|             34.46|                   34.0|            9280.0|             1765.0|            4514.0|            1693.0|            3.2026|               227600.0|
+--------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
only showing top 20 rows

In [90]:
df_pyspark.groupBy("total_rooms").count().show()

+-----------+-----+
|total_rooms|count|
+-----------+-----+
|      769.0|    4|
|     2862.0|    5|
|     3980.0|    2|
|     1761.0|    6|
|      692.0|    2|
|     4800.0|    1|
|      496.0|    1|
|      934.0|    5|
|     2734.0|    6|
|     1051.0|    8|
|      299.0|    3|
|     2815.0|    6|
|     4066.0|    2|
|     7554.0|    1|
|     5776.0|    1|
|      305.0|    1|
|     6433.0|    1|
|    12467.0|    1|
|     5983.0|    2|
|     4142.0|    1|
+-----------+-----+
only showing top 20 rows

In [92]:
df_pyspark.agg({'median_house_value':'sum'}).show()

+-----------------------+
|sum(median_house_value)|
+-----------------------+
|          4.269504061E9|
+-----------------------+

In [93]:
df_pyspark.groupBy("median_house_value").min().show()

+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|median_house_value|min(longitude)|min(latitude)|min(housing_median_age)|min(total_rooms)|min(total_bedrooms)|min(population)|min(households)|min(median_income)|min(median_house_value)|
+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|          270100.0|       -122.29|        33.78|                    9.0|          1142.0|              162.0|          486.0|          150.0|             4.072|               270100.0|
|          330000.0|       -122.47|        33.58|                    5.0|            67.0|               15.0|           49.0|           11.0|            3.1563|               330000.0|
|          179300.0|       -122.29|        33.83|                   21.0|          1072.0|              193.0|          639.0|          196.0|            2.5459|               179300.0|
|          217000.0|       -121.99|        33.87|                    9.0|          1505.0|              338.0|          799.0|          319.0|            3.0147|               217000.0|
|          300000.0|       -122.52|        32.75|                    5.0|           492.0|              168.0|          412.0|          175.0|            1.0298|               300000.0|
|          337200.0|       -122.48|         33.6|                    7.0|          1972.0|              270.0|          854.0|          286.0|             3.244|               337200.0|
|          147000.0|       -121.87|        32.65|                    7.0|          1737.0|              284.0|          747.0|          265.0|            2.5392|               147000.0|
|          147100.0|       -123.23|        32.87|                   10.0|           804.0|              121.0|          448.0|          140.0|            2.5517|               147100.0|
|           51300.0|        -119.8|        33.19|                   16.0|           245.0|               57.0|           81.0|           33.0|            1.2639|                51300.0|
|          181400.0|       -121.51|        32.84|                   19.0|          1470.0|              312.0|          989.0|          284.0|             2.925|               181400.0|
|          230800.0|       -120.27|        33.83|                   14.0|          1079.0|              166.0|          439.0|          187.0|            2.5506|               230800.0|
|          262800.0|       -121.88|        34.17|                   28.0|          1491.0|              355.0|          756.0|          296.0|            3.0404|               262800.0|
|          169700.0|       -122.68|        32.79|                   20.0|          2183.0|              534.0|          999.0|          496.0|            2.5754|               169700.0|
|          477600.0|       -117.07|        32.91|                    5.0|          2234.0|              256.0|          894.0|          253.0|           10.3354|               477600.0|
|          187200.0|       -122.14|         32.8|                   11.0|          1138.0|              228.0|          681.0|          219.0|            2.8342|               187200.0|
|          197500.0|       -122.77|         33.8|                    7.0|           349.0|               59.0|          121.0|           40.0|            2.1432|               197500.0|
|          209500.0|       -122.86|        33.86|                   15.0|          1298.0|              236.0|          607.0|          204.0|             2.588|               209500.0|
|          275100.0|        -122.0|        33.87|                    9.0|          3124.0|              415.0|         1169.0|          407.0|            5.1616|               275100.0|
|           87700.0|       -122.38|        33.18|                   16.0|          1768.0|              303.0|          599.0|          314.0|            2.0034|                87700.0|
|          220500.0|       -122.03|        32.79|                   14.0|          1444.0|              312.0|          411.0|          214.0|            2.5489|               220500.0|
+------------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
only showing top 20 rows

In [95]:
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|           null|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|           null|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|           null|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|           null|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|           null|
|  -122.25|   37.85|              52.0|      919.0|         213.0|     413.0|     193.0|       4.0368|          269700.0|           null|
|  -122.25|   37.84|              52.0|     2535.0|         489.0|    1094.0|     514.0|       3.6591|          299200.0|           null|
|  -122.25|   37.84|              52.0|     3104.0|         687.0|    1157.0|     647.0|         3.12|          241400.0|           null|
|  -122.26|   37.84|              42.0|     2555.0|         665.0|    1206.0|     595.0|       2.0804|          226700.0|           null|
|  -122.25|   37.84|              52.0|     3549.0|         707.0|    1551.0|     714.0|       3.6912|          261100.0|           null|
|  -122.26|   37.85|              52.0|     2202.0|         434.0|     910.0|     402.0|       3.2031|          281500.0|           null|
|  -122.26|   37.85|              52.0|     3503.0|         752.0|    1504.0|     734.0|       3.2705|          241800.0|           null|
|  -122.26|   37.85|              52.0|     2491.0|         474.0|    1098.0|     468.0|        3.075|          213500.0|           null|
|  -122.26|   37.84|              52.0|      696.0|         191.0|     345.0|     174.0|       2.6736|          191300.0|           null|
|  -122.26|   37.85|              52.0|     2643.0|         626.0|    1212.0|     620.0|       1.9167|          159200.0|           null|
|  -122.26|   37.85|              50.0|     1120.0|         283.0|     697.0|     264.0|        2.125|          140000.0|           null|
|  -122.27|   37.85|              52.0|     1966.0|         347.0|     793.0|     331.0|        2.775|          152500.0|           null|
|  -122.27|   37.85|              52.0|     1228.0|         293.0|     648.0|     303.0|       2.1202|          155500.0|           null|
|  -122.26|   37.84|              50.0|     2239.0|         455.0|     990.0|     419.0|       1.9911|          158700.0|           null|
|  -122.27|   37.84|              52.0|     1503.0|         298.0|     690.0|     275.0|       2.6033|          162900.0|           null|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

In [153]:
# Combine independent columns into a single column with comma-separated values
df_combined = df_pyspark.withColumn("independent_features", concat_ws(",", "housing_median_age", "total_rooms", "total_bedrooms", "median_income"))

# Convert the combined values to Vector type
assembler = VectorAssembler(inputCols=["housing_median_age", "total_rooms", "total_bedrooms", "median_income"], outputCol="independent_features_vec")
df_combined = assembler.transform(df_combined)

# Drop unnecessary columns
df_combined = df_combined.drop("independent_features", "housing_median_age", "total_rooms", "total_bedrooms", "median_income")

# Rename the column
df_combined = df_combined.withColumnRenamed("independent_features_vec", "independent_features")

# Select specific columns
df_combined = df_combined.select("independent_features", "median_house_value")

# Show the modified DataFrame
df_combined.show(truncate=False)

+---------------------------+------------------+
|independent_features       |median_house_value|
+---------------------------+------------------+
|[41.0,880.0,129.0,8.3252]  |452600.0          |
|[21.0,7099.0,1106.0,8.3014]|358500.0          |
|[52.0,1467.0,190.0,7.2574] |352100.0          |
|[52.0,1274.0,235.0,5.6431] |341300.0          |
|[52.0,1627.0,280.0,3.8462] |342200.0          |
|[52.0,919.0,213.0,4.0368]  |269700.0          |
|[52.0,2535.0,489.0,3.6591] |299200.0          |
|[52.0,3104.0,687.0,3.12]   |241400.0          |
|[42.0,2555.0,665.0,2.0804] |226700.0          |
|[52.0,3549.0,707.0,3.6912] |261100.0          |
|[52.0,2202.0,434.0,3.2031] |281500.0          |
|[52.0,3503.0,752.0,3.2705] |241800.0          |
|[52.0,2491.0,474.0,3.075]  |213500.0          |
|[52.0,696.0,191.0,2.6736]  |191300.0          |
|[52.0,2643.0,626.0,1.9167] |159200.0          |
|[50.0,1120.0,283.0,2.125]  |140000.0          |
|[52.0,1966.0,347.0,2.775]  |152500.0          |
|[52.0,1228.0,293.0,2.1202] |155500.0          |
|[50.0,2239.0,455.0,1.9911] |158700.0          |
|[52.0,1503.0,298.0,2.6033] |162900.0          |
+---------------------------+------------------+
only showing top 20 rows

train_data, test_data = df_combined

In [154]:
train_data, test_data = df_combined.randomSplit([0.8, 0.2])

In [155]:
regressor = LinearRegression(featuresCol="independent_features", labelCol="median_house_value")

In [156]:
regressor = regressor.fit(train_data)

23/06/18 16:51:06 WARN Instrumentation: [ff29563f] regParam is zero, which might cause numerical instability and overfitting.
23/06/18 16:51:07 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
23/06/18 16:51:07 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.VectorBLAS
23/06/18 16:51:07 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [158]:
regressor.coefficients

DenseVector([1965.5078, -26.0187, 159.8721, 49198.7676])

In [159]:
regressor.intercept

-57838.98215750282

In [160]:
# prediction
pred_result = regressor.evaluate(test_data)

In [162]:
pred_result.predictions.show()

+--------------------+------------------+------------------+
|independent_features|median_house_value|        prediction|
+--------------------+------------------+------------------+
|[1.0,83.0,15.0,4....|          141700.0|184209.04509255738|
|[2.0,337.0,55.0,3...|          164800.0| 98839.50277607984|
|[2.0,718.0,98.0,4.1]|          315000.0| 144793.0008557141|
|[2.0,2239.0,321.0...|          240200.0|222047.96318348768|
|[2.0,2629.0,509.0...|          158500.0|167474.60389988238|
|[2.0,2682.0,393.0...|          196700.0|234007.43890135156|
|[2.0,4953.0,735.0...|          205100.0|182423.39173439218|
|[2.0,6718.0,858.0...|          305200.0|247310.24161602042|
|[2.0,7401.0,1187....|          177300.0| 146909.6458486813|
|[2.0,17978.0,3217...|          220800.0|246968.96396465725|
|[3.0,1629.0,317.0...|           83200.0| 159508.9651025134|
|[3.0,2516.0,429.0...|          271600.0|227661.87295465104|
|[3.0,4430.0,841.0...|          272700.0| 267157.7928043115|
|[3.0,5710.0,919.0...|          206300.0| 210305.4264002513|
|[3.0,7105.0,1459....|          358000.0| 298503.7302245647|
|[3.0,8874.0,1302....|          302000.0|262765.34646649903|
|[3.0,9488.0,1417....|          191900.0|  182486.771987852|
|[3.0,16533.0,2549...|          122100.0|121175.66319409444|
|[3.0,17466.0,3336...|          246500.0|295494.36853230477|
|[3.0,39320.0,6210...|          153700.0|161419.59738294937|
+--------------------+------------------+------------------+
only showing top 20 rows