In [77]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import datetime

import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

In [78]:
cars_data = pd.read_csv('data/car_data.csv')

In [79]:
cars_data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [80]:
# reference to cars_data
samp = cars_data.copy(deep=False)
samp

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [81]:
# Calculate the z-score for each data point
z_scores = np.abs((samp - samp.mean(numeric_only=True)) / samp.std(numeric_only=True))

# Set a threshold for identifying outliers (e.g., z-score greater than 3)
threshold = 3

# Find the indices of outliers
outlier_indices = np.where(z_scores > threshold)

# Print the indices of outliers
print("Outlier Indices:", outlier_indices)

Outlier Indices: (array([ 37,  39,  51,  58,  59,  59,  62,  63,  63,  64,  64,  77,  82,
        84,  85,  86,  86,  93,  96, 106, 179, 184, 191, 192, 193, 196,
       198, 201, 205, 241]), array([8, 8, 6, 3, 4, 6, 4, 4, 6, 4, 6, 8, 6, 2, 3, 4, 6, 6, 6, 3, 2, 3,
       3, 3, 3, 2, 3, 3, 3, 3]))

In [82]:
# Remove the rows containing outliers
df_cleaned = samp.drop(outlier_indices[0])

# Print the cleaned DataFrame
print("Cleaned DataFrame:", df_cleaned)

Cleaned DataFrame:     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[275 rows x 9 columns]

In [83]:
# new obj
cars_data2 = df_cleaned.copy(deep=True)
cars_data2

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [84]:
cars_data.index

RangeIndex(start=0, stop=301, step=1)

In [85]:
cars_data.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [86]:
cars_data.size

2709

In [87]:
cars_data.shape

(301, 9)

In [88]:
cars_data.memory_usage()

Index             128
Car_Name         2408
Year             2408
Selling_Price    2408
Present_Price    2408
Kms_Driven       2408
Fuel_Type        2408
Seller_Type      2408
Transmission     2408
Owner            2408
dtype: int64

In [89]:
cars_data.ndim

2

In [61]:
cars_data.tail(5)

     vehicle_year vehicle_make vehicle_model        vehicle_vin
394          1997       JAGUAR           XK8  SAJGX2744VC012979
395          1997      PONTIAC    GRAND PRIX  1G2WP12K8VF218495
396          1997       TOYOTA        TACOMA  4TANL42N5VZ291591
397          1997    CHEVROLET      SUBURBAN  3GNEC16R0VG133859
398          1997        HONDA        ACCORD  1HGCD726XVA025289

In [90]:
cars_data.at[4, 'Fuel_Type']

'Diesel'

In [91]:
cars_data.iat[4, 3]

6.87

In [92]:
cars_data.loc[:, 'Fuel_Type']

0      Petrol
1      Diesel
2      Petrol
3      Petrol
4      Diesel
        ...
296    Diesel
297    Petrol
298    Petrol
299    Diesel
300    Petrol
Name: Fuel_Type, Length: 301, dtype: object

In [93]:
cars_data.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [94]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

### Replace all categorical data into int

In [95]:
np.unique(cars_data['Fuel_Type'])

array(['CNG', 'Diesel', 'Petrol'], dtype=object)

In [96]:
np.unique(cars_data['Seller_Type'])

array(['Dealer', 'Individual'], dtype=object)

In [97]:
np.unique(cars_data['Transmission'])

array(['Automatic', 'Manual'], dtype=object)

In [98]:
cars_data['Fuel_Type'].head()

0    Petrol
1    Diesel
2    Petrol
3    Petrol
4    Diesel
Name: Fuel_Type, dtype: object

Fuel_Type as category:
1. Petrol
2. Diesel
3. CNG

In [99]:
cars_data['Fuel_Type'].nbytes

2408

In [100]:
cars_data['Fuel_Type'].astype('category').nbytes

325

In [111]:
cars_data['Fuel_Type'].replace('Petrol', 1, inplace=True)

In [112]:
cars_data['Fuel_Type'].replace('Diesel', 2, inplace=True)

In [113]:
cars_data['Fuel_Type'].replace('CNG', 3, inplace=True)

In [114]:
cars_data['Fuel_Type'].astype('int64')

0      1
1      2
2      1
3      1
4      2
      ..
296    2
297    1
298    1
299    2
300    1
Name: Fuel_Type, Length: 301, dtype: int64

In [115]:
cars_data['Fuel_Type'].head()

0    1
1    2
2    1
3    1
4    2
Name: Fuel_Type, dtype: int64

In [116]:
cars_data['Seller_Type'].nbytes

2408

In [117]:
cars_data['Seller_Type'].astype('category').nbytes

317

In [118]:
cars_data['Seller_Type'].replace('Dealer', 1, inplace=True)

In [119]:
cars_data['Seller_Type'].replace('Individual', 2, inplace=True)

In [120]:
cars_data['Seller_Type'].astype('int64')

0      1
1      1
2      1
3      1
4      1
      ..
296    1
297    1
298    1
299    1
300    1
Name: Seller_Type, Length: 301, dtype: int64

Transmission as category:
1. Automatic
2. Manual

In [121]:
cars_data['Transmission'].nbytes

2408

In [122]:
cars_data['Transmission'].astype('category').nbytes

317

In [123]:
cars_data['Transmission'].replace('Automatic', 1, inplace=True)

In [124]:
cars_data['Transmission'].replace('Manual', 2, inplace=True)

In [125]:
cars_data['Transmission'].astype('int64')

0      2
1      2
2      2
3      2
4      2
      ..
296    2
297    2
298    2
299    2
300    2
Name: Transmission, Length: 301, dtype: int64

In [127]:
# display random sample data
cars_data.sample(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
186,TVS Wego,2010,0.25,0.52,22000,1,2,1,0
155,Honda Activa 4G,2017,0.48,0.51,4300,1,2,1,0
246,i20,2012,3.75,6.79,35000,1,1,2,0
203,i10,2011,2.95,4.60,53460,1,1,2,0
222,i20,2014,6.00,7.60,77632,2,1,2,0

### check null data if any

In [128]:
cars_data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [129]:
cars_data2.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

### crosstab caluclation
* to compute a cross tabulation of factors
* by default computes a frequency table of factors

In [ ]:
pd.crosstab(index=cars_data2['Fuel_Type'], columns='count', dropna=True)

In [ ]:
pd.crosstab(index=cars_data2['Transmission'], columns=cars_data2['Fuel_Type'], dropna=True)

In [ ]:
pd.crosstab(index=cars_data2['Transmission'], columns=cars_data2['Fuel_Type'], normalize=True, dropna=True)

#### joint probability is the likelihood of two independent event occuring same time
By converting the table values from numbers to proportion you will get a
joint probability values you will get the joint probability values that is also using the
same function crosstab

In [ ]:
pd.crosstab(cars_data2['Transmission'], columns=cars_data2['Fuel_Type'], margins=True, dropna=True, normalize=True)

Transmission type Automatic total 13% while Manual 87% many more information evolving with the above crosstab or joint probability

### Two way tables - conditional probability
* conditional probability is the probability of an event (A), given that another event (B) has already occured 
* given the type of transmission, probability of different fuel type

In [ ]:
conditional_probability = pd.crosstab(index=cars_data2['Transmission'], columns=cars_data2['Fuel_Type'], margins=True, dropna=True, normalize='index')

In [ ]:
conditional_probability

In [ ]:
conditional_probability['Total'] = conditional_probability['CNG'] + conditional_probability['Diesel'] + conditional_probability['Petrol']
conditional_probability

#### we can see total probability be always 1

### Correlation

* Correlation: the strength of association between two variables
* visual reprensentation of correlation: Scatter plots

If you want to interpret from the correlation measured in terms of numbers then the correlation value will be bounded between - 1 to + 1. 0 represents there is no correlation at all between any two numerical variables. And closer to 1 represents there is a strong correlation between two variables positively.

* to compute pairewise correlation of columns excluding NA/null values
* excluding the categorical variables to find the __Pearson's__ correlation

In [ ]:
numerical_data = cars_data2.select_dtypes(exclude=[object])

In [ ]:
numerical_data.shape

In [ ]:
# self and method='pearson'
correlation_matrix = numerical_data.corr()

In [ ]:
correlation_matrix

### Data visualization
* data visualization allows us to quickly interpret the data and adjust different variables to see their effect
__why visualization__
* observe the patterns
* identify extreme values that could be anomalies
* easy interpretaion

In [ ]:
today = datetime.date.today()
cars_data2['Age'] = today.year - cars_data2['Year']

In [ ]:
cars_data2.head()

In [ ]:
plt.scatter(cars_data2['Age'], cars_data2['Selling_Price'], c='red')
plt.title('Scatter Plot of Price and Age of the Cars')
plt.xlabel('Age')
plt.ylabel('Price')
plt.show()

### Histogram
Histograms groups numbers into ranges and the height of each bar depicts the frequency of each range or bin.
To show the frequency distribution of numerical data

In [ ]:
plt.hist(cars_data2['Kms_Driven'], color='green', edgecolor='white', bins=5)
plt.title('Histogram of KM')
plt.xlabel('Kilometer')
plt.ylabel('Frequency')
plt.show()

### Bar plot

In [ ]:
fuel_types = cars_data2['Fuel_Type'].unique()
fuel_types

In [ ]:
counts = cars_data2['Fuel_Type'].value_counts().values
counts

In [ ]:
index = len(fuel_types)
index

In [ ]:
# create a sample dataframe
data = {'Fruit': ['Apple', 'Banana', 'Cherry', 'Date'],
        'Count': [10, 20, 30, 40]}
df = pd.DataFrame(data)

# create bar plot
df.plot.bar(x='Fruit', y='Count', color='red')

# add labels and title
plt.xlabel('Fruit')
plt.ylabel('Count')
plt.title('Fruit Counts')

# show plot
plt.show()

In [ ]:
plt.bar(fuel_types, counts, color=['red', 'blue', 'green'])
plt.title('Bar plot of fuel types')
plt.xlabel('Fuel types')
plt.ylabel('Frequency')
plt.xticks(fuel_types, fuel_types, rotation=90)
plt.show()

In [ ]:
sns.set_style("dark")

In [ ]:
sns.regplot(x=cars_data2['Age'], y=cars_data2['Selling_Price'], fit_reg=True)

In [ ]:
sns.regplot(x=cars_data2['Age'], y=cars_data2['Selling_Price'], fit_reg=False)

In [ ]:
sns.regplot(x=cars_data2['Age'], y=cars_data2['Selling_Price'], marker="*", fit_reg=False)

In [ ]:
sns.lmplot(x='Age', y='Selling_Price', data=cars_data2, fit_reg=False, hue='Fuel_Type', legend=True, palette='Set1')

In [ ]:
sns.histplot(cars_data2['Age'], kde=True)

### CDF 
example

In [ ]:
# create a sample dataframe
data = {'Value': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
df = pd.DataFrame(data)

print(df['Value'])
print(df['Value'].value_counts())
print(df['Value'].value_counts().sort_index())
print(df['Value'].shape[0])

# calculate the cumulative sum of the column
cdf = np.cumsum(df['Value'].value_counts().sort_index() / df['Value'].shape[0])

# plot the CDF
plt.plot(cdf.index, cdf)

# add labels and title
plt.xlabel('Value')
plt.ylabel('CDF')
plt.title('Cumulative Distribution Function')

# show plot
plt.show()

In [ ]:
sns.displot(cars_data2['Age'], kde=False, bins=5)

In [ ]:
sns.countplot(x='Fuel_Type', data=cars_data2)

In [ ]:
sns.countplot(x='Fuel_Type', data=cars_data2, hue='Transmission')

In [ ]:
sns.boxplot(y=cars_data2['Selling_Price'])

In [ ]:
# box and whisker for numerical vs categorical values
sns.boxplot(x=cars_data2['Fuel_Type'], y=cars_data2['Selling_Price'])

In [ ]:
sns.boxplot(x='Fuel_Type', y=cars_data2['Selling_Price'], hue='Transmission', data=cars_data2)

In [ ]:
f, (ax_box, ax_hist)=plt.subplots(2, gridspec_kw={"height_ratios": (.15, .85)})

In [ ]:
sns.boxplot(cars_data2['Selling_Price'], ax=ax_box)
sns.displot(cars_data2['Selling_Price'], ax=ax_hist, kde=False)

In [ ]:
sns.pairplot(cars_data2, kind='scatter', hue='Fuel_Type')
plt.show()

### Identifyling Missing Values

In [ ]:
cars_data2.sample(5)

In [ ]:
cars_data2['Fuel_Type'] = cars_data2['Fuel_Type'].mask(np.random.random(cars_data2.shape[0]) < 0.1, np.nan)

In [ ]:
cars_data2['Selling_Price'] = cars_data2['Selling_Price'].mask(np.random.random(cars_data2.shape[0]) < 0.1, np.nan)

In [ ]:
idx = np.random.choice(cars_data2.index, int(0.1 * cars_data2.shape[0]), replace=False)
cars_data2.loc[idx, 'Kms_Driven'] = np.nan

In [ ]:
cars_data2.isna().sum()

In [ ]:
cars_data2.isnull().sum()

In [ ]:
missing = cars_data2[cars_data2.isnull().any(axis=1)]
missing

In [ ]:
cars_data2.describe()

In [ ]:
missing = cars_data2[cars_data2['Selling_Price'].isnull()]
missing

In [ ]:
grouped_year = cars_data2.groupby(['Year', 'Fuel_Type', 'Present_Price', 'Kms_Driven']).mean()
grouped_year

In [ ]:
cars_data2['Selling_Price'].fillna(cars_data2['Selling_Price'].mean(), inplace=True)

In [ ]:
cars_data2['Kms_Driven'].fillna(cars_data2['Kms_Driven'].median(), inplace=True)

In [ ]:
cars_data2['Fuel_Type'].value_counts()

In [ ]:
cars_data2['Fuel_Type'].fillna(cars_data2['Fuel_Type'].value_counts().index[0], inplace=True)

In [ ]:
cars_data2.isnull().sum()