In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
from sklearn.datasets import load_iris
%matplotlib inline

In [9]:
# Load the Customer_Churn dataset
customer_data = pd.read_csv("../../data/customer_churn.csv")

In [10]:
customer_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [23]:
# Remove specific columns and create a new DataFrame
columns_to_remove = ['customerID', 'Partner', 'PaperlessBilling', 'Contract', 'TechSupport', 'MultipleLines', 'OnlineBackup', 'PaymentMethod', 'DeviceProtection', 'InternetService', 'SeniorCitizen', 'StreamingTV', 'StreamingMovies']
df = customer_data.drop(columns_to_remove, axis=1)

In [24]:
df.head()

,gender,Dependents,tenure,PhoneService,OnlineSecurity,MonthlyCharges,TotalCharges,Churn
0,Female,No,1,No,No,29.85,29.85,No
1,Male,No,34,Yes,Yes,56.95,1889.5,No
2,Male,No,2,Yes,Yes,53.85,108.15,Yes
3,Male,No,45,No,Yes,42.30,1840.75,No
4,Female,No,2,Yes,No,70.70,151.65,Yes

In [12]:
# Step 2: Build the k-means algorithm
k = 3  # Number of clusters

# Build a k-means algorithm with 3 clusters
kmeans = KMeans(n_clusters=k)

In [25]:
# Replacing 'male' with 0 and 'female' with 1 in-place
df['gender'].replace({'Male': 0, 'Female': 1}, inplace=True)

In [26]:
df['PhoneService'].unique()

array(['No', 'Yes'], dtype=object)

In [27]:
# Replacing 'male' with 0 and 'female' with 1 in-place
df['PhoneService'].replace({'No': 0, 'Yes': 1}, inplace=True)

In [28]:
df['OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [30]:
df['OnlineSecurity'].replace({'No': 0, 'Yes': 1, 'No internet service': 2}, inplace=True)

In [32]:
df['Dependents'].unique()

array(['No', 'Yes'], dtype=object)

In [33]:
df['Dependents'].replace({'No': 0, 'Yes': 1}, inplace=True)

In [35]:
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [36]:
df['Churn'].replace({'No': 0, 'Yes': 1}, inplace=True)

In [37]:
df.head()

,gender,Dependents,tenure,PhoneService,OnlineSecurity,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,0,29.85,29.85,0
1,0,0,34,1,1,56.95,1889.5,0
2,0,0,2,1,1,53.85,108.15,1
3,0,0,45,0,1,42.30,1840.75,0
4,1,0,2,1,0,70.70,151.65,1

In [46]:
df_training = df.iloc[:, :-1]

In [47]:
df_training.head()

,gender,Dependents,tenure,PhoneService,OnlineSecurity,MonthlyCharges,TotalCharges
0,1,0,1,0,0,29.85,29.85
1,0,0,34,1,1,56.95,1889.5
2,0,0,2,1,1,53.85,108.15
3,0,0,45,0,1,42.30,1840.75
4,1,0,2,1,0,70.70,151.65

In [49]:
df_testing = df.iloc[:, -1]

In [50]:
df_testing.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [52]:
customer_features = df_training[['gender', 'tenure', 'MonthlyCharges']]  # Replace with actual customer features

In [53]:
# Calculate the clustering vector values for the monthly charges column
kmeans.fit(customer_features)

/opt/homebrew/Caskroom/miniconda/base/envs/py38/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=3)

In [55]:
clustering_vector = kmeans.predict(customer_features)

In [56]:
# Bind the monthly charges column to the clustering vector
month_group = pd.DataFrame({"MonthlyCharges": df["MonthlyCharges"], "ClusteringVector": clustering_vector})

In [57]:
# Separate all 3 clusters with their values
cluster_1 = month_group[month_group["ClusteringVector"] == 0]
cluster_2 = month_group[month_group["ClusteringVector"] == 1]
cluster_3 = month_group[month_group["ClusteringVector"] == 2]

In [58]:
# Print the results
print(cluster_1)
print(cluster_2)
print(cluster_3)

      MonthlyCharges  ClusteringVector
1              56.95                 0
2              53.85                 0
4              70.70                 0
5              99.65                 0
6              89.10                 0
...              ...               ...
7033           69.50                 0
7035           78.70                 0
7036           60.65                 0
7038           84.80                 0
7041           74.40                 0

[2453 rows x 2 columns]
      MonthlyCharges  ClusteringVector
9              56.15                 1
12            100.35                 1
13            103.70                 1
15            113.25                 1
17            106.70                 1
...              ...               ...
7028           64.10                 1
7031           60.00                 1
7034          102.95                 1
7039          103.20                 1
7042          105.65                 1

[2218 rows x 2 columns]
      MonthlyCharges  ClusteringVector
0              29.85                 2
3              42.30                 2
7              29.75                 2
10             49.95                 2
11             18.95                 2
...              ...               ...
7026           44.20                 2
7029           44.40                 2
7030           20.05                 2
7037           21.15                 2
7040           29.60                 2

[2372 rows x 2 columns]

In [59]:
df_testing.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [61]:
cluster_churn_df = pd.DataFrame({'clustering_vector': clustering_vector, 'Churn': df_testing})

In [62]:
cluster_churn_df.head()

   clustering_vector  Churn
0                  2      0
1                  0      0
2                  0      1
3                  2      0
4                  0      1

In [63]:
# Analyze the relationship between clustering and churn
cluster_churn_analysis = cluster_churn_df.groupby('clustering_vector')['Churn'].value_counts()
print(cluster_churn_analysis)

clustering_vector  Churn
0                  0        1285
                   1        1168
1                  0        1873
                   1         345
2                  0        2016
                   1         356
Name: Churn, dtype: int64