## Kinds of Input
* Command-line arguments: These are values passed to a Python script when it is executed from the command line.
* User input: This is data entered by the user while the program is running, typically through the input() function.
* Environment variables: These are values that are accessible to a Python program and are defined in the environment in which the program runs.
* File inputs: Data read from files, such as text files, CSV files, JSON files, etc., using file handling operations like open() and read().

### User Input

In [ ]:
# Get user input for the number they want to find the factorial of.
# We use the input() function to take user input and convert it to an integer.
# We also use the int() function to ensure the input is treated as a whole number.
# The input() function returns a string, so we need to convert it to an int.
try:
  number = int(input("Enter a non-negative integer: "))

  # Check if the input is a non-negative integer.
  if number < 0:
      print("Sorry, factorial is not defined for negative numbers.")
  elif number == 0:
      # Factorial of 0 is always 1.
      print("The factorial of 0 is 1.")
  else:
      # Initialize a variable to store the factorial and set it to 1 initially.
      factorial = 1

      # Use a for loop to calculate the factorial.
      # We'll start from 1 and go up to the input number.
      for i in range(1, number + 1):
          # Multiply the current factorial by the loop variable (i).
          factorial = factorial * i

      # Print the result.
      print(f"The factorial of {number} is {factorial}")
except ValueError as e:
  print(e)
  print("ERROR: Only whole numbers allowed")

Enter a non-negative integer: 1.2
invalid literal for int() with base 10: '1.2'
ERROR: Only whole numbers allowed

### Command-line Arguments

In [ ]:
!ls

drive  sample_data

In [ ]:
!python3 "/content/drive/MyDrive/GFG/54. Python IO - 12th May, 2024/script.py" ab cd

Script Name: /content/drive/MyDrive/GFG/54. Python IO - 12th May, 2024/script.py
Arguments: ['ab', 'cd']

In [ ]:
# https://docs.python.org/3/library/argparse.html

### Environment Variables

In [ ]:
import os

# Get all environment variables
env_vars = os.environ

# Print all environment variables
for key, value in env_vars.items():
    print(f"{key}: {value}")

SHELL: /bin/bash
NV_LIBCUBLAS_VERSION: 12.2.5.6-1
NVIDIA_VISIBLE_DEVICES: all
COLAB_JUPYTER_TRANSPORT: ipc
NV_NVML_DEV_VERSION: 12.2.140-1
NV_CUDNN_PACKAGE_NAME: libcudnn8
CGROUP_MEMORY_EVENTS: /sys/fs/cgroup/memory.events /var/colab/cgroup/jupyter-children/memory.events
NV_LIBNCCL_DEV_PACKAGE: libnccl-dev=2.19.3-1+cuda12.2
NV_LIBNCCL_DEV_PACKAGE_VERSION: 2.19.3-1
VM_GCE_METADATA_HOST: 169.254.169.253
HOSTNAME: 940f657628d8
LANGUAGE: en_US
TBE_RUNTIME_ADDR: 172.28.0.1:8011
COLAB_TPU_1VM:
GCE_METADATA_TIMEOUT: 3
NVIDIA_REQUIRE_CUDA: cuda>=12.2 brand=tesla,driver>=470,driver<471 brand=unknown,driver>=470,driver<471 brand=nvidia,driver>=470,driver<471 brand=nvidiartx,driver>=470,driver<471 brand=geforce,driver>=470,driver<471 brand=geforcertx,driver>=470,driver<471 brand=quadro,driver>=470,driver<471 brand=quadrortx,driver>=470,driver<471 brand=titan,driver>=470,driver<471 brand=titanrtx,driver>=470,driver<471 brand=tesla,driver>=525,driver<526 brand=unknown,driver>=525,driver<526 brand=nvidia,driver>=525,driver<526 brand=nvidiartx,driver>=525,driver<526 brand=geforce,driver>=525,driver<526 brand=geforcertx,driver>=525,driver<526 brand=quadro,driver>=525,driver<526 brand=quadrortx,driver>=525,driver<526 brand=titan,driver>=525,driver<526 brand=titanrtx,driver>=525,driver<526
NV_LIBCUBLAS_DEV_PACKAGE: libcublas-dev-12-2=12.2.5.6-1
NV_NVTX_VERSION: 12.2.140-1
COLAB_JUPYTER_IP: 172.28.0.12
NV_CUDA_CUDART_DEV_VERSION: 12.2.140-1
NV_LIBCUSPARSE_VERSION: 12.1.2.141-1
COLAB_LANGUAGE_SERVER_PROXY_ROOT_URL: http://172.28.0.1:8013/
NV_LIBNPP_VERSION: 12.2.1.4-1
NCCL_VERSION: 2.19.3-1
KMP_LISTEN_PORT: 6000
TF_FORCE_GPU_ALLOW_GROWTH: true
ENV: /root/.bashrc
PWD: /
TBE_EPHEM_CREDS_ADDR: 172.28.0.1:8009
COLAB_LANGUAGE_SERVER_PROXY_REQUEST_TIMEOUT: 30s
TBE_CREDS_ADDR: 172.28.0.1:8008
NV_CUDNN_PACKAGE: libcudnn8=8.9.6.50-1+cuda12.2
NVIDIA_DRIVER_CAPABILITIES: compute,utility
COLAB_JUPYTER_TOKEN:
LAST_FORCED_REBUILD: 20240508
NV_NVPROF_DEV_PACKAGE: cuda-nvprof-12-2=12.2.142-1
NV_LIBNPP_PACKAGE: libnpp-12-2=12.2.1.4-1
NV_LIBNCCL_DEV_PACKAGE_NAME: libnccl-dev
TCLLIBPATH: /usr/share/tcltk/tcllib1.20
NV_LIBCUBLAS_DEV_VERSION: 12.2.5.6-1
NVIDIA_PRODUCT_NAME: CUDA
COLAB_KERNEL_MANAGER_PROXY_HOST: 172.28.0.12
NV_LIBCUBLAS_DEV_PACKAGE_NAME: libcublas-dev-12-2
NV_CUDA_CUDART_VERSION: 12.2.140-1
COLAB_WARMUP_DEFAULTS: 1
HOME: /root
LANG: en_US.UTF-8
COLUMNS: 100
CUDA_VERSION: 12.2.2
CLOUDSDK_CONFIG: /content/.config
NV_LIBCUBLAS_PACKAGE: libcublas-12-2=12.2.5.6-1
NV_CUDA_NSIGHT_COMPUTE_DEV_PACKAGE: cuda-nsight-compute-12-2=12.2.2-1
COLAB_RELEASE_TAG: release-colab_20240509-060050_RC00
KMP_TARGET_PORT: 9000
KMP_EXTRA_ARGS: --logtostderr --listen_host=172.28.0.12 --target_host=172.28.0.12 --tunnel_background_save_url=https://colab.research.google.com/tun/m/cc48301118ce562b961b3c22d803539adc1e0c19/m-s-3oqbxql30w7ar --tunnel_background_save_delay=10s --tunnel_periodic_background_save_frequency=30m0s --enable_output_coalescing=true --output_coalescing_required=true
NV_LIBNPP_DEV_PACKAGE: libnpp-dev-12-2=12.2.1.4-1
COLAB_LANGUAGE_SERVER_PROXY_LSP_DIRS: /datalab/web/pyright/typeshed-fallback/stdlib,/usr/local/lib/python3.10/dist-packages
NV_LIBCUBLAS_PACKAGE_NAME: libcublas-12-2
COLAB_KERNEL_MANAGER_PROXY_PORT: 6000
CLOUDSDK_PYTHON: python3
NV_LIBNPP_DEV_VERSION: 12.2.1.4-1
NO_GCE_CHECK: False
PYTHONPATH: /env/python
NV_LIBCUSPARSE_DEV_VERSION: 12.1.2.141-1
LIBRARY_PATH: /usr/local/cuda/lib64/stubs
NV_CUDNN_VERSION: 8.9.6.50
SHLVL: 0
NV_CUDA_LIB_VERSION: 12.2.2-1
COLAB_LANGUAGE_SERVER_PROXY: /usr/colab/bin/language_service
NVARCH: x86_64
NV_CUDNN_PACKAGE_DEV: libcudnn8-dev=8.9.6.50-1+cuda12.2
NV_CUDA_COMPAT_PACKAGE: cuda-compat-12-2
NV_LIBNCCL_PACKAGE: libnccl2=2.19.3-1+cuda12.2
LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
COLAB_GPU:
NV_CUDA_NSIGHT_COMPUTE_VERSION: 12.2.2-1
GCS_READ_CACHE_BLOCK_SIZE_MB: 16
NV_NVPROF_VERSION: 12.2.142-1
LC_ALL: en_US.UTF-8
COLAB_FILE_HANDLER_ADDR: localhost:3453
PATH: /opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin
NV_LIBNCCL_PACKAGE_NAME: libnccl2
COLAB_DEBUG_ADAPTER_MUX_PATH: /usr/local/bin/dap_multiplexer
NV_LIBNCCL_PACKAGE_VERSION: 2.19.3-1
PYTHONWARNINGS: ignore:::pip._internal.cli.base_command
DEBIAN_FRONTEND: noninteractive
COLAB_BACKEND_VERSION: next
OLDPWD: /
JPY_PARENT_PID: 85
TERM: xterm-color
CLICOLOR: 1
PAGER: cat
GIT_PAGER: cat
MPLBACKEND: module://ipykernel.pylab.backend_inline
ENABLE_DIRECTORYPREFETCHER: 1
USE_AUTH_EPHEM: 1
PYDEVD_USE_FRAME_EVAL: NO

In [ ]:
import os

# Get a specific environment variable
value = os.getenv("CUDA_VERSION")

if value is not None:
    print(f"The value of CUDA_VERSION is: {value}")
else:
    print("CUDA_VERSION is not set.")

The value of CUDA_VERSION is: 12.2.2

### Basic File IO

File = Container (of any kind) for data (of any kind) at rest.



```
f = open(filename, mode)
```

Where the following mode is supported:

* r: open an existing file for a read operation.
* w: open an existing file for a write operation. If the file already contains some data, then it will be overridden but if the file is not present then it creates the file as well.
* a:  open an existing file for append operation. It won’t override existing data.

In [ ]:
"""
File Contents:
Hello world
GeeksforGeeks
123 456
"""
filepath = '/content/drive/MyDrive/GFG/54. Python IO - 12th May, 2024/data/geeks.txt'

In [ ]:
# Python code to illustrate read() mode
file = open(filepath, "r")
print(file.read())

Hello world
GeeksforGeeks
123 456

In [ ]:
# a file named "geeks.txt", will be opened with the reading mode.
file = open(filepath, 'r')

# This will print every line one by one in the file
for eachline in file:
	print(eachline)

file.close()

Hello world

GeeksforGeeks

123 456

In [ ]:
# Python code to illustrate with()

# file = open(filepath)
# data = file.read()
# file.close()
with open(filepath) as file:
  data = file.read()

print(data)

Hello world
GeeksforGeeks
123 456

In [ ]:
# Python code to illustrate split()
with open(filepath, "r") as file:
	data = file.readlines()
	for line in data:
		word = line.split()
		print(word)

['Hello', 'world']
['GeeksforGeeks']
['123', '456']

In [ ]:
# Python code to create a file
file = open('geeky.txt','w')
file.write("This is the write command\n")
file.write("It allows us to write in a particular file")
file.close()

In [ ]:
# Python code to illustrate with() alongwith write()
with open("file.txt", "w") as f:
	f.write("Hello World!!!")

In [ ]:
# Python code to illustrate append() mode
file = open('geeky.txt', 'a')
file.write("This will add this line")
file.close()

In [ ]:
import os

def create_file(filename):
	try:
		with open(filename, 'w') as f:
			f.write('Hello, world!\n')
		print("File " + filename + " created successfully.")
	except IOError:
		print("Error: could not create file " + filename)

def read_file(filename):
	try:
		with open(filename, 'r') as f:
			contents = f.read()
			print(contents)
	except IOError:
		print("Error: could not read file " + filename)

def append_file(filename, text):
	try:
		with open(filename, 'a') as f:
			f.write(text)
		print("Text appended to file " + filename + " successfully.")
	except IOError:
		print("Error: could not append to file " + filename)

def rename_file(filename, new_filename):
	try:
		os.rename(filename, new_filename)
		print("File " + filename + " renamed to " + new_filename + " successfully.")
	except IOError:
		print("Error: could not rename file " + filename)

def delete_file(filename):
	try:
		os.remove(filename)
		print("File " + filename + " deleted successfully.")
	except IOError:
		print("Error: could not delete file " + filename)


if __name__ == '__main__':
	filename = "example.txt"
	new_filename = "new_example.txt"

	create_file(filename)
	read_file(filename)
	append_file(filename, "This is some additional text.\n")
	read_file(filename)
	rename_file(filename, new_filename)
	read_file(new_filename)
	delete_file(new_filename)

File example.txt created successfully.
Hello, world!

Text appended to file example.txt successfully.
Hello, world!
This is some additional text.

File example.txt renamed to new_example.txt successfully.
Hello, world!
This is some additional text.

File new_example.txt deleted successfully.

# JSON

JSON stands for JavaScript Object Notation.
<br>
It is a lightweight data interchange format.
<br>
JSON uses key-value pairs and various data types (strings, numbers, arrays, objects, booleans, null).

## Comparison with Python Dictionaries
JSON (JavaScript Object Notation) and Python dictionaries share similar structures and serve as data interchange formats, but there are some key differences between them.

#### Syntax



```
#json
{"name": "John", "age": 30, "city": "New York"}

# not a valid json
{30: "John", "age": 30, "city": "New York"} # keys cannot be integer in json

# not a valid json
{"name": 'John', "age": 30, "city": "New York"} # only double quotes work in json

# not a valid json
{(3, 5): "418"} # json supports strings, numbers, arrays, objects, booleans, and null (not a tuple)
{{"k1": "v1"}: "90"} # json supports strings, numbers, arrays, objects, booleans, and null (not a dictionary)
```

**All valid jsons will be valid dictionaries.
But, not all valid dictionaries will be valid jsons.**

#### Representation
* JSON: All keys and string values must be enclosed in double quotes.
* Python Dictionary: Keys can be strings, integers, or other immutable types, and they don't necessarily require quotes.

#### Data Types
* JSON: Supports strings, numbers, arrays, objects, booleans, and null.
* Python Dictionary: Supports any hashable object as keys and various data types as values, including lists, dictionaries, strings, numbers, booleans, etc.

#### Ordering
* JSON: Preserves the order of elements within arrays.
* Python Dictionary: Preserves insertion order starting from Python 3.7+ (official as of Python 3.7, guaranteed as of Python 3.8).

#### Usage
* JSON: Primarily used for data interchange between languages and systems. Commonly used in web development for APIs and configuration files.
* Python Dictionary: Used for storing and manipulating data within Python programs.

#### Null Representation
* JSON: Uses the keyword null to represent a null or undefined value.
* Python Dictionary: Uses None to represent a null or undefined value.

#### Platform Independence
* JSON: Designed to be language-agnostic and platform-independent. Widely supported in various programming languages.
* Python Dictionary: Specific to the Python programming language.

## JSON Datatypes

**1. String:**
* Format: Enclosed in double quotes.
* Example: "name": "John"
* Note: Unicode characters are supported, and escape sequences (\n, \t, etc.) can be used.

**2. Number:**
* Format: Integer or floating-point numbers.
* Example: "age": 30 or "price": 19.99
* Note: JSON does not distinguish between integer and floating-point numbers in its syntax.

**3. Object:**
* Format: Key-value pairs enclosed in curly braces {}.
* Example: "person": {"name": "Alice", "age": 25}
* Note: Objects in JSON are similar to Python dictionaries.

**4. Array:**
* Format: Ordered list of values enclosed in square brackets [].
* Example: "hobbies": ["reading", "painting", 30]
* Note: Arrays can contain values of different data types, including other arrays and objects.

**5. Boolean:**
* Values: true or false.
* Example: "isStudent": true
* Note: Representing truth values.

**6. Null:**
* Value: null.
* Example: "address": null
* Note: Represents an absent or undefined value.

These data types can be combined and nested to represent complex and hierarchical structures. For example, an object can contain arrays of objects, and arrays can include strings, numbers, objects, or other arrays. Here's an example illustrating the combination of these data types:


```
{
  "person": {
    "name": "Bob",
    "age": 28,
    "isStudent": false,
    "hobbies": ["gaming", "coding"],
    "address": null,
    "contacts": [
      {"type": "email", "value": "bob@example.com"},
      {"type": "phone", "value": "+123456789"}
    ]
  }
}
```

In this example:

The "person" property is an object containing various data types. <br>
"name", "age", and "isStudent" are string, number, and boolean values, respectively. <br>
"hobbies" is an array containing strings. <br>
"address" is set to null. <br>
"contacts" is an array of objects, each having string keys and values.

## Creating JSON in Python

### Using `json` Module

In [ ]:
import json

# convert a Python object (usually a dictionary) to a JSON string
data = {'name': 'John', "age": 30, 'city': 'New York'}
json_data = json.dumps(data)
json_data_pretty = json.dumps(data, indent = 4)
print(json_data)
print(json_data_pretty)

{"name": "John", "age": 30, "city": "New York"}
{
    "name": "John",
    "age": 30,
    "city": "New York"
}

In [ ]:
print(type(data))
print(type(json_data))

<class 'dict'>
<class 'str'>

In [ ]:
'''
{"name": "John", "age": 30, "city": "New York"}
'''

'\n{"name": "John", "age": 30, "city": "New York"}\n'

In [ ]:
data = {'name': 'John', 'age': 30, 'city': 'New York'}
# write JSON data to a file
with open("data.json", "w") as json_file:
    json.dump(data, json_file)

## Parsing JSON in Python

In [ ]:
# convert a JSON string to a Python object
json_string = '{"name": "John", "age": 30, "city": "New York"}'
python_object = json.loads(json_string)
print(python_object)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
type(python_object)

dict

In [ ]:
# how to read JSON data from a file
with open("data.json", "r") as json_file:
    data_from_file = json.load(json_file)

## Read and write tabular data using Pandas

pandas supports the integration with many file formats or data sources out of the box (csv, excel, sql, json, parquet,…). Importing data from each of these data sources is provided by function with the prefix read_*. Similarly, the to_* methods are used to store data.

![image.png]()

pandas provides the `read_csv()` function to read data stored as a csv file into a pandas DataFrame.

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("/content/drive/MyDrive/GFG/54. Python IO - 12th May, 2024/data/titanic.csv")

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
titanic.to_excel("/content/drive/MyDrive/GFG/45. Pandas Deepdive - 24th March, 2024/data/titanic.xlsx", sheet_name="passengers", index=False)