# This is 1st level heading

## This is my 2nd level heading

### This is my 3rd level heading

I am doing my python class today.

In [89]:
# This function is created by Arihant and it is doing addditons of 2 variables

In [91]:
# This function is created by Arihant

In [93]:
"""
Date: 17th Sept 20222
Written by: Arihant Jain
Purpose: Adding 2 
"""

'\nDate: 17th Sept 20222\nWritten by: Arihant Jain\nPurpose: Adding 2 \n'

In [94]:
a="This is my first python class"

In [95]:
print(a)

This is my first python class

In [96]:
a

'This is my first python class'

In [99]:
a=1

In [100]:
print(a)

1

In [101]:
print("a")

a

In [97]:
b=1
print(b)

1

In [8]:
print("This is my first python class")

This is my first python class

In [102]:
A=1
a=2
print (A,a)

1 2

In [11]:
print("a")

a

In [13]:
#Python Operators
#Arithmetic
#Comparison
#Assignment
#Logical
#Membership
#Identity
#Bitwise

# Arithmetic Operator +,-,*,/,//,%,**

In [103]:
#Normal Division (/) --> (Float div) 
x=6
y=5
r=x/y
print(r)

1.2

In [107]:
# Modulo Division (//) --> Floor Division --> without decimal values
x=10
y=5
res=x//y
print(res)

2

In [109]:
# Remainder Division (%)
x=10
y=3
res=x%y
print(res)

1

In [110]:
#Exponentiation (**)
res=x**y
print(res)

1000

In [21]:
x=9
y=9
print(x+y)

18

# Comparison Operators <,<=,>,>=,==,!=

# Comparison

In [116]:
a = 15
b = 15
print(a != b)

False

In [25]:
# is equal to
# a == b is False 
print(a == b)

False

In [117]:
# a != b is True 
print(a >= b)

True

# Assignment Operator =,+=,*=,%=

In [119]:
a = 21
b = 10
c = a + b
print (c)

31

In [120]:
c += a 
#--> c=c+a
print (c)

52

In [121]:
c *= a 
#c=c*a
print (c)

1092

In [122]:
a=4
c=10
c %= a 
#c=c/a --> Remainder
print (c)

2

In [37]:
a=4
c=10
c /=a 
# c=c/a
print(c)

2.5

# Logical Operator and, or, not

In [39]:
x = 5
y = 6 
print(x < 3 and x < 10)

False

In [123]:
x = 5
y = 6 
print(x > 3 and x < 2)

True

In [125]:
a = True
b = False
  
# Print a and b is False 
print(a and b) 
  
# Print a or b is True 
print(a or b) 
  
# Print not a is False 
print(not b)

SyntaxError: invalid syntax (2773613386.py, line 12)

In [126]:
Print("Arihant")

NameError: name 'Print' is not defined

In [127]:
print("Arihant")

Arihant

# Membership Operator- in, not in

In [1]:
x = 'IIT Academy'  
print('Cad' in x)

False

In [2]:
print('I' in x)

True

In [3]:
print('IIT' in x)

True

In [4]:
print('IIT' not in x)

False

In [5]:
print('Aca' not in x)

False

# Identity Operator is , is not

In [136]:
a1 = 3
b1 = 6
print(a1 is not b1)

True

In [55]:
print(a1 is b1)

False

In [1]:
a2 = 'IITACADEMY'
b2 = 'iitacademy'

In [57]:
print(a2 is b2)

False

In [58]:
print(a2 is not b2)

True

### Order of Operators

In [62]:
a=30
b=10
c=20
d=5
e=(a+b)*c/d
print(e)

160.0

# other commands

In [64]:
pwd()

'C:\\Users\\hp\\Downloads'

In [65]:
ls

 Volume in drive C is Windows
 Volume Serial Number is AE2C-83D5

 Directory of C:\Users\hp\Downloads

17-09-2022  14:21    <DIR>          .
17-09-2022  14:21    <DIR>          ..
17-09-2022  13:16    <DIR>          .ipynb_checkpoints
29-08-2022  16:08             7,591 [Template] Assignment_NLP_Forecasting_Tableau (1) (1).docx
19-06-2022  17:40             3,495 001autoexec.txt
10-05-2022  17:47             4,773 05100111005202270213.pdf
01-07-2022  20:34           126,318 16.1 Pandas file read and write operation.ipynb
01-07-2022  08:10           120,948 16.2 Pandas data manipulation .ipynb
01-07-2022  12:54           104,756 16.3 Pandas data manipulation_continue .ipynb
29-08-2022  08:49    <DIR>          18.3.Plotly
02-07-2022  12:41         1,460,397 18.3.Plotly.7z
29-06-2022  10:56             9,277 2022-06-29_Test1.xlsx
30-07-2022  22:15           703,481 22 July Course Schedule Batch 5 DS_ML_EICT_IITR (1).pdf
20-08-2022  07:04           703,481 22 July Course Schedule Batch 5 DS_ML_EICT_IITR (2).pdf
27-08-2022  10:10           703,481 22 July Course Schedule Batch 5 DS_ML_EICT_IITR (3).pdf
27-08-2022  15:54           703,481 22 July Course Schedule Batch 5 DS_ML_EICT_IITR (4).pdf
30-07-2022  22:14           703,481 22 July Course Schedule Batch 5 DS_ML_EICT_IITR.pdf
31-07-2022  07:25         1,705,984 6asso.ppt
02-07-2022  12:43         1,569,243 7z2200-x64.exe
29-08-2022  19:25           387,102 aadhar.pdf
29-06-2022  10:56             9,281 ABC.xlsx
14-07-2022  18:16            16,085 Admission_Prediction.csv
19-07-2022  22:58             4,761 Advertising.csv
29-08-2022  19:34           418,582 akhil cv .pdf
18-06-2022  18:43       622,731,992 Anaconda3-2022.05-Windows-x86_64.exe
30-06-2022  13:53         5,732,543 archive (1).zip
13-07-2022  13:57             2,316 archive (2).zip
23-08-2022  11:20         4,360,218 archive (3).zip
28-08-2022  11:47         5,263,446 archive (4).zip
03-09-2022  18:26           687,690 archive (5).zip
30-06-2022  13:00         5,732,543 archive.zip
18-07-2022  12:53           109,498 ARIHANT JAIN.pdf
25-08-2022  13:53    <DIR>          arihant_26QB
25-08-2022  13:53           541,144 arihant_26QB.zip
12-08-2022  18:38           109,287 Arihant_Jain_DS-ML_Trainer.pdf
12-08-2022  19:31           232,979 Arihant-check.pdf
20-08-2022  17:07            69,389 ARJDEMOAUG122 - Arihant Jain - Template.pdf
26-08-2022  18:37         5,967,276 Assgn_ANN-SVM-TABLEAU.docx
29-08-2022  16:14           394,436 Assignment_NLP_Forecasting.docx
13-08-2022  12:35           195,308 Avg of Target depend on Keywords.png
17-06-2022  23:55           115,188 base-guide-practice-data.zip
28-08-2022  17:21           532,458 Beer_Production_prediction.ipynb
31-07-2022  16:52            15,601 best_movies.png
31-07-2022  16:53            15,189 best_popular_movies.png
16-07-2022  22:29           150,452 breast_cancer (3).xlsx
31-07-2022  14:35        30,682,276 BX-Book-Ratings.csv
31-07-2022  14:35        77,787,439 BX-Books.csv
31-07-2022  14:35        12,284,157 BX-Users.csv
09-01-2022  14:46             6,422 cereals.CSV
27-08-2022  13:09                69 checkpoint
28-08-2022  12:44        57,020,860 clean_data.csv
08-09-2022  07:25         1,846,697 Clustering with K-Means (1).pdf
08-09-2022  09:56           604,021 Clustering.ipynb
11-09-2022  18:07            12,900 Common Questions.docx
30-06-2022  13:53             8,783 Country-Code.xlsx
15-09-2022  20:00         1,162,742 curriculum (1) (1).pdf
11-09-2022  15:42         1,162,742 curriculum (1).pdf
28-08-2022  13:22             6,220 daily-total-female-births-CA.csv
28-08-2022  13:22             1,483 daily-total-female-births-in-california-1959.zip
03-09-2022  15:35         1,605,041 Data Science Interview Preparation(#DAY 02) (1).pdf
16-09-2022  14:25            80,785 Data Types_Python.ipynb
02-07-2022  14:59           799,950 Data Visualization - Test.ipynb
01-07-2022  10:18         7,518,541 Data_Visualization_EICT_GUWAHATI (1) (1).pdf
01-07-2022  10:23         7,533,744 Data_Visualization_EICT_GUWAHATI (1) (1)-pages-deleted.pdf
03-09-2022  15:32           973,052 Day-1 Challenge .pdf
28-08-2022  20:59           433,604 Decision Tree - 1 (1).ipynb
12-09-2022  09:28           433,603 Decision Tree - 1.ipynb
06-08-2022  15:44        11,692,910 Decision Tree - 2.ipynb
16-09-2022  08:37        11,801,558 Decision tree practical  (1).ipynb
13-08-2022  12:27        11,792,900 Decision tree practical .ipynb
15-09-2022  07:55            23,873 diabetes.csv
03-08-2022  16:19        11,301,889 DT discussion not yet completed .ipynb
16-09-2022  08:20           136,284 dt_model_1.png
28-08-2022  21:12         1,803,373 DTree.pdf
29-08-2022  11:33           138,284 EDA - Session 2.ipynb
01-07-2022  16:43         5,492,869 EDA-Test.ipynb
27-07-2022  10:19           152,391 EXL_Form16_FY_2021_2022.pdf
01-07-2022  15:23         2,536,134 Exploratory Data Analytics (Descriptive)_Master-pages-deleted.pdf
28-08-2022  13:15           600,480 features.csv
02-07-2022  13:18       124,799,598 FIFA 2019.ipynb
25-08-2022  07:24         9,140,113 FIFA_data (1).csv
01-07-2022  07:27         9,140,113 FIFA_data.csv
14-07-2022  23:29               571 finalized_model.pickle
15-07-2022  22:34             2,707 Height_Weight (2).csv
28-08-2022  20:59        10,555,194 hospital_appointment (1).csv
06-08-2022  08:35        10,555,194 hospital_appointment.csv
24-08-2022  07:25           566,780 hr_data (1).csv
10-09-2022  22:47           566,780 hr_data (2).csv
17-07-2022  11:44           566,780 hr_data.csv
10-07-2022  07:18           335,797 Hypothesis Test Practical Implementation .ipynb
27-07-2022  11:34           104,851 IDFCFIRSTBankstatement_10065627012_101543446.pdf
27-06-2022  17:22             9,310 IITr assignemt -1.docx
27-06-2022  17:46            90,343 IITr assignemt -1.pdf
29-08-2022  19:27            84,245 IMG-20220825-WA0003 (1).jpg
29-08-2022  19:27            84,245 IMG-20220825-WA0003.jpg
13-08-2022  23:09           215,346 Independent Contractor Agreement-Arihant.pdf
20-04-2021  17:44    <DIR>          JAVA & Automation softwares
17-09-2022  14:21            18,994 L01_Python_Operators.ipynb
16-09-2022  14:26            83,395 L02_Data Types_Master.ipynb
17-09-2022  13:16           197,712 L03_Conditional Statements_User Functions_Special Functions_Master.ipynb
04-07-2022  22:44         5,500,999 Learning SQL Generate, Manipulate, and Retrieve Data (Alan Beaulieu) (z-lib.org).pdf
13-08-2022  12:33            20,357 lengthofdisaster.png
26-07-2022  08:43            36,574 Linear regression part 1.ipynb
14-07-2022  23:31         3,376,694 Linear Regression.ipynb
16-07-2022  15:54               566 linear_reg.sav
16-07-2022  19:52    <DIR>          Linear_Regression
15-07-2022  08:52    <DIR>          LinearRegression-master (1)
13-07-2022  21:47         2,751,068 LinearRegression-master (1).zip
08-09-2022  06:50           567,089 Live.csv
24-08-2022  07:25           155,143 Logistic Regression - Part 1 (1).ipynb
10-09-2022  22:47           155,143 Logistic Regression - Part 1 (2).ipynb
17-07-2022  22:42           155,143 Logistic Regression - Part 1.ipynb
28-08-2022  21:44           209,225 Logistic Regression - Part 2 (1).ipynb
12-09-2022  08:28           198,895 Logistic Regression - Part 2 (2).ipynb
17-07-2022  22:42           195,371 Logistic Regression - Part 2.ipynb
24-08-2022  07:30         3,727,925 Logistic Regression slides.pptx
24-08-2022  07:24         2,229,376 Logistic Regression_EICT (3).pdf
16-07-2022  22:58        28,625,468 Logistics regression implementation.ipynb
16-07-2022  22:37         4,027,371 logistics regression svg.svg.zip
16-07-2022  22:35            91,376 Logistics Regression_breastcancer_Master (1).ipynb
07-08-2022  15:21            11,277 lung_cancer_data.csv
28-06-2022  14:43            18,944 Macro Workbook (1).xlsb
28-06-2022  19:24            27,485 Macro Workbook (2).xlsb
29-06-2022  10:56            34,798 Macro Workbook (3).xlsb
29-06-2022  14:29            34,627 Macro Workbook (4).xlsb
12-07-2022  16:36            34,627 Macro Workbook (5).xlsb
12-07-2022  16:36            34,627 Macro Workbook (6).xlsb
28-06-2022  13:44            19,086 Macro Workbook.xlsb
28-08-2022  14:09             6,903 monthly_beer_production_austr.csv
28-08-2022  14:07             6,903 monthly-beer-production-in-austr.csv
03-09-2022  15:51           176,992 My CV with Cover letter.pdf
03-09-2022  15:30           239,195 My Resume .pdf
03-07-2022  07:18    <DIR>          mysqlsampledatabase
24-05-2016  17:46           210,202 mysqlsampledatabase.sql
03-07-2022  07:16            54,335 mysqlsampledatabase.zip
15-09-2022  07:55            12,206 Naive Baye - 2.ipynb
15-09-2022  09:17           297,258 Naive Baye - 3.ipynb
15-09-2022  07:55            27,784 Naive Bayes  -1.ipynb
07-08-2022  11:51             8,938 Naive_Bayes_Dataset.xlsx
07-08-2022  11:25    <DIR>          Naive_Bayes-20210302T225901Z-001
07-08-2022  11:25         1,489,574 Naive_Bayes-20210302T225901Z-001.zip
13-08-2022  23:09           200,852 NDA-Arihant.pdf
29-08-2022  19:25           224,244 New Doc 2021-01-10 20.35.49.pdf
03-08-2022  06:43           704,506 New Updated Course Schedule Batch 5 DS_ML_EICT_IITR (1).pdf
18-07-2022  12:35           704,506 New Updated Course Schedule Batch 5 DS_ML_EICT_IITR.pdf
27-08-2022  07:34             8,833 New_Test1.xlsx
29-08-2022  16:06           422,149 NIFTY 50.csv
01-07-2022  12:17               207 out.csv
16-09-2022  22:29            85,654 PAN_Card.jpeg
27-08-2022  08:00           162,275 Pandas (1) (1).ipynb
25-08-2022  09:01           119,977 Pandas (1).ipynb
30-06-2022  00:27         1,060,997 Pandas session 1 (1).ipynb
06-08-2022  12:04           176,625 Pandas.ipynb
01-07-2022  20:09           111,182 Pandas-Session2.ipynb
02-07-2022  13:17           156,829 Pandas-Test.ipynb
02-07-2022  17:47         1,264,734 plotly .ipynb
29-08-2022  19:28           398,815 Pre Onboarding Personal Information Form.xlsx
28-06-2022  19:21            32,542 PreviousDay.xlsx
21-08-2022  07:13            51,107 Python (1).ipynb
25-08-2022  08:26            59,731 Python (2).ipynb
21-08-2022  09:10            18,438 Python basics 2.ipynb
27-06-2022  17:37           425,631 Python Interview Exam, Certification Exam, 100 Questions  Answers. (Ray Yao) (z-lib.org).pdf
06-08-2022  12:07           569,256 Python Pandas  Follow Dr. AngShuMan Ghosh for more.pdf
03-08-2022  08:11            56,858 Python.ipynb
21-08-2022  22:49            21,904 Python-baiscs.ipynb
08-09-2022  10:35           456,325 Questions-1.docx
08-09-2022  10:37         1,320,618 Questions-2.docx
16-09-2022  09:00            29,594 random+forest (1).ipynb
10-09-2022  20:04            29,594 random+forest.ipynb
31-08-2022  08:23    <DIR>          Recommender system
03-09-2022  07:40    <DIR>          Recommender system 2
31-08-2022  08:22        10,606,980 Recommender system 2.zip
31-08-2022  08:22        25,987,084 Recommender system.zip
31-08-2022  08:22         1,757,693 recommender system-converted (1).pdf
30-07-2022  22:09         1,757,693 recommender system-converted.pdf
31-07-2022  17:11           228,561 RS-1. Average Weighted recommendation system .ipynb
31-07-2022  07:56         2,079,229 RS2.csv
31-08-2022  09:11           128,231 RS-2.ipynb
31-07-2022  19:19            89,824 RS-3 Using KNN.ipynb
21-08-2022  14:40        13,119,732 sales_06_FY2020-21.csv.zip
20-08-2022  14:10         3,364,352 Sample - Superstore.xls
17-06-2022  07:20         8,539,014 SAS Certification Prep Guide Base Programming for SAS 9 (SAS Institute) (z-lib.org).pdf
08-08-2022  19:24           231,591 SAS_Session (1).pptx
08-08-2022  19:25           220,168 SAS_Session (2).pptx
08-08-2022  19:23           184,951 SAS_Session.pptx
19-06-2022  13:31         6,139,427 SASr Certified Specialist Prep Guide Base Programming Using SASr 9.4 (SAS) (z-lib.org) (1).pdf
17-06-2022  23:45         6,139,427 SASr Certified Specialist Prep Guide Base Programming Using SASr 9.4 (SAS) (z-lib.org).pdf
31-07-2022  07:45            15,897 scored_movies.png
02-07-2022  14:27           505,318 seaborn.ipynb
26-07-2022  08:39            18,303 Session-1.ipynb
28-07-2022  22:11            17,338 Session-2 Python.ipynb
27-07-2022  11:28            45,959 Shivani_Form16a_2020-21.pdf
27-07-2022  11:28            47,392 Shivani_Form16a_2021-22.pdf
27-07-2022  11:28            53,035 Shivani_Form16b_2021-22.pdf
16-07-2022  16:54           132,441 Simple_Linear Regression_HeightWeight_MasterData.ipynb
16-07-2022  00:09           217,705 Simple_Multiple_Linear_Regression_AdvertisingSales_MasterData.ipynb
03-09-2022  21:18           464,946 slidedeck.pdf
30-06-2022  22:58    <DIR>          SOftwares exe files
01-07-2022  02:34           298,969 SQL-Tutorial.P1241112567Pczwq.powerpoint.pptx
08-07-2022  14:27         8,114,808 Statistics_Foundation_EICT_Guwahati (2).pptx
11-07-2022  11:29    <DIR>          Stats
07-07-2022  20:02        11,879,732 Stats with Python_code (2).zip
11-07-2022  17:11            13,615 Stats_Assignment.docx
28-08-2022  19:45           871,573 Stock_price_prediction.ipynb
28-08-2022  13:15               579 stores.csv
03-09-2022  08:17         3,364,352 SuperstoreCanada.xls

31-07-2022  18:54             8,915 system1.png
31-07-2022  18:54             9,531 system2.png
27-08-2022  23:28        15,117,465 Tableau_Assignment.xlsx
20-08-2022  13:54       491,533,728 TableauPublicDesktop-64bit-2022-2-0.exe
27-08-2022  17:52            59,517 Tensorflow_1.1.ipynb
27-08-2022  15:56            19,236 Tensorflow_1.2.ipynb
28-08-2022  13:14           292,234 test.csv.zip
16-07-2022  17:03         1,579,735 test.html
10-08-2022  20:13            59,904 Test.xls
25-08-2022  07:24             8,635 Test_file (1).xlsx
04-08-2022  18:17             8,671 Test_file.xlsx
02-07-2022  10:50             8,800 test_pie.jpg
13-08-2022  18:18            20,083 Text Mining - 1.ipynb
13-08-2022  15:54           340,723 Text Mining-2.ipynb
24-06-2022  13:11           169,928 TIA_Trainers_Service_Agreement_Mr. ARIHANT JAIN.docx
28-08-2022  13:25    <DIR>          Time series sunspot
28-08-2022  13:21           578,656 Time series sunspot.7z
28-08-2022  13:25           118,212 Time Series.ipynb
28-08-2022  13:21           280,561 timeSeries.zip
28-06-2022  19:22             9,281 Today1.xlsx
28-06-2022  19:22             9,257 Today2.xlsx
28-06-2022  19:22             9,275 Today3.xlsx
28-06-2022  19:22             9,271 Today4.xlsx
28-08-2022  13:16        13,264,117 train.csv
28-08-2022  13:14         3,052,051 train.csv.zip
28-08-2022  13:22           135,032 trends.PNG
07-08-2022  19:05             8,986 Turtle Tricks.ipynb
13-08-2022  12:12         1,614,460 tweets.csv
13-08-2022  12:05                22 tweets.csv.zip
13-08-2022  12:29           475,303 tweets_test.csv
13-08-2022  12:29         1,139,193 tweets_train.csv
30-06-2022  13:18             1,674 Untitled.ipynb
02-07-2022  11:37            14,509 Untitled1.ipynb
02-07-2022  11:40         1,108,808 Untitled12.ipynb
17-07-2022  18:13               589 Untitled2.ipynb
31-07-2022  11:58               589 Untitled3.ipynb
21-08-2022  07:51             2,314 Untitled4.ipynb
06-08-2022  13:59                72 Untitled5.ipynb
27-08-2022  03:32             5,734 Untitled6.ipynb
28-08-2022  13:20         1,760,165 Untitled7.ipynb
28-08-2022  15:47                72 Untitled8.ipynb
24-08-2022  07:24           703,481 Updated Course Schedule Batch 6 DS_ML_EICT_IITR (1).pdf
09-08-2022  07:07           703,481 Updated Course Schedule Batch 6 DS_ML_EICT_IITR.pdf
27-08-2022  13:09               224 vars-1.data-00000-of-00001
27-08-2022  13:09               255 vars-1.index
15-07-2022  10:12           428,120 weight-height.csv
29-05-2022  15:15           144,166 WhatsApp Image 2022-05-29 at 3.14.55 PM.jpeg
16-09-2022  22:27           135,394 WhatsApp Image 2022-08-31 at 16.42.47.jpeg
28-08-2022  20:58            85,743 winequality_red (1).csv
05-08-2022  23:15            85,743 winequality_red.csv
05-08-2022  23:17           115,936 winequality_red.xlsx
28-08-2022  13:27           197,991 yahoo_stock.csv
30-06-2022  13:15           786,562 zomato EDA.ipynb
30-06-2022  13:02         2,257,316 zomato.csv
             245 File(s)  1,797,740,261 bytes
              15 Dir(s)  15,827,873,792 bytes free

In [137]:
#Help
?print

In [138]:
#Dealing with Dates
import datetime as dt

In [140]:
# Microseconds
dt.datetime.now()

datetime.datetime(2022, 9, 17, 18, 19, 46, 983752)

In [141]:
dt.date.today()

datetime.date(2022, 9, 17)

In [142]:
#strfttime - Convert Date into string format
now = dt.datetime.now()
print(now)
t = now.strftime("%H:%M:%S")
print("time:", t)

2022-09-17 18:23:58.397568
time: 18:23:58

In [86]:
# Change the format of date
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print(s1)

09/17/2022, 14:27:13

In [143]:
a=5
b=10
c=12
print(a<10 and b>=10 and c<10)

False

In [ ]:
a=5
b=10
c=12
print(a<10 or b>=10 or c<10)