# Data Types in Python

The data type of a value (or variable) is an attribute that tells what kind of data that value can have.

Data types in Python are as follows
1)Strings
2)List
3)Dictionary
4)Tuples
5)Sets

# 1. Strings

A string is a sequence of characters. String is ordered i.e. sequence matters

Creating a String
1) By putting the string in inverted commas ''
2) By using a function 'str'

In [1]:
s='python for data science'
type(s)

str

In [2]:
s= "IIT"
s

'IIT'

In [3]:
s = 'IIT'
s

'IIT'

In [1]:
s=str('republic')
s

'republic'

In [2]:
type(s)

str

Accessing characters in a string
1) Indexing
2) Slicing

Indexing --> Indexing starts from 0 and in between space is included

In [4]:
s='python for data science'
s[2]

't'

In [5]:
s[6]

' '

Slicing --> In slicing, start index is included, end index is not included

In [2]:
s[0:7]

'python '

In [8]:
s[0:5:1]

'pytho'

In [10]:
s[4:12:3]

'of '

In [12]:
s[-6]

'c'

In [64]:
#If start index is blank, it means from start ie 0 count
s='python for data science'
s[:5]

'pytho'

In [3]:
#If end index is blank, it means till end of the string
s[5:]

'n for data science'

In [13]:
s[5::2]

'nfrdt cec'

In [4]:
s='python for data science'

In [110]:
s[::-1]

'ecneics atad rof nohtyp'

In [65]:
#Negative Indexing starts from right to left. The rightmost chararacter has the index -1
s[-1]

'e'

In [66]:
s[-3]

'n'

In [78]:
s[-12:-8] #Here start index is -12 and end index is -8. The index for 'a' in data is -9.
#(However here end index is -8, one more than -9)

'data'

In [79]:
#To slice
s[-7:-5]

'sc'

In [68]:
s[-2:] #Here start index is -2 and end index is blank ie till end

'ce'

In [6]:
s[:]

'python for data science'

Slicing in steps

In [5]:
s[1:8:2] #Here start index is 1, end index is 8 and step size is 2

'yhnf'

In [4]:
s[1:8] #Here start index is 1, end index is 8 and step size is 2

'ython f'

String Operations
1)Length of string
2)'in' operator in strings
3)Converting a string to lower case or upper case
4)Count no of characters in a string
5)Convert first character of a string into upper case (Capitalize)
6)Convert first character of all strings into upper case (Title)
7)Stripping empty spaces from Left, Right and both sides of a string
8)Replacing a string with another string
9)Adding two strings
10)Multiplying a string with a scalar
11)Finding sub string in  a string
12)Splitting a string at white spaces
13)Joining the string with seperator
14)Verify string is immutable, cannot be modified

In [103]:
s='python      ! @ ' # For length count starts from 1
len(s)

16

In [73]:
# In opertor in Strings
s='TISSUES'
'I' in s

True

In [104]:
# To find in
s='TISSUES'
'i' in s

False

In [9]:
#Converting a string to lower case
s=s.lower()
s

'tissues'

In [100]:
#Converting a string to upper case
s=s.upper()
s

'TISSUES'

In [77]:
# To count no of characters
s='TISSUES S s' 
s.count('S') # count no of S

4

In [79]:
# Converts first alphabet to Capital
s=" python for data Science"
s.capitalize()

' python for data science'

In [102]:
# Converts the string to title format ie first alphabet of each word
s="  python for data Science  "
s.title()

'  Python For Data Science  '

In [103]:
# Removes empty spaces from left
s.lstrip()

'python for data Science  '

In [104]:
#Removes empty spaces from right
s.rstrip()

'  python for data Science'

In [105]:
#Removes all empty spaces from left and right
s.strip()

'python for data Science'

Replacing a string with another string

In [102]:
s="Python for data Science Python Python python"
s=s.replace("P","S")
s

'Sython for data Science Sython Sython python'

In [ ]:
Adding two strings --> Concatenation

In [85]:
a='python'
b=' data science'
c=a+b
c

'python data science'

Multiplication of string with Scalar

In [90]:
a="1"
b=3*a
b

'111'

Finding a substring in the string

In [92]:
s='python for data science'

In [93]:
t=s.find('n')# Find first occurence, returns index
t

5

In [96]:
t1=s.find('n', 6)
t1

20

In [26]:
x=s.find('n',t+1) #Find next occurence, returns index
x

20

Split a string (at white spaces). 'split' function gives the output as list

In [99]:
s="python for datascience"
s=s.split()
s

['python', 'for', 'datascience']

In [97]:
s1="python for datascience"
s1=s1.split("f")
s1

['python ', 'or datascience']

Join the splitted list and give output as String

In [100]:
s='-'.join(s) # Here Seperator is '-' for joining respective strings
s

'python-for-datascience'

In [ ]:
Strings are immutable, Cannot modify

In [101]:
s='Republic'
s[0]='Z'
s # We get a error

TypeError: 'str' object does not support item assignment

# 2. List

In [ ]:
List is a ordered collection of multiple items stored in a single variable.
List are changeable (Mutable) and allow duplicate values.
Items in the list are indexed, the first item has index [0], the second item has index [1] etc.

List items can be of any data type: String, int and boolean data types:

In [106]:
list1 = ['apple', 'banana', 'cherry', 100, True, 45+9j, True]
list1

['apple', 'banana', 'cherry', 100, True, (45+9j), True]

In [17]:
type(list1)

list

In [18]:
list2 = [1,5,7,9,3,"apple"]
list2

[1, 5, 7, 9, 3, 'apple']

In [3]:
list3 = [True, False,False]
list3

[True, False, False]

In [4]:
type(list3)

list

List can contain different data types:

In [5]:
#Example: A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]
list1

['abc', 34, True, 40, 'male']

##Creating a List##

1) By Putting the items in a square bracket

In [6]:
lst=['apple', 'orange',1]
lst

['apple', 'orange', 1]

In [7]:
type(lst)

list

2) Creating a blank list

In [3]:
lst=[]
lst

[]

In [4]:
type(lst)

list

3) Using the list() Constructor --> It is also possible to use the list() constructor when creating a new list. We can pass following data types to the function 'list'. 
a)Tuple 
b)String 
c) Dictionary as a parameter to 'list' function

In [ ]:
The list() constructor

In [37]:
lst=list()
lst

[]

In [38]:
type(lst)

list

a) Passing 'tuple' to list() constructor

In [39]:
#Note here we need to apply double round brackets
lst=list((1,2,3,4))
lst

[1, 2, 3, 4]

b) Passing 'string' to list() constructor gives the output as list of characters

In [175]:
a="Word"
l=list(a)
l

['W', 'o', 'r', 'd']

c) Passing a 'dictionary' to list() constructor gives the output of 'keys' of a dictionary

In [8]:
a={'a':100,'b':200}
l=list(a)
l

['a', 'b']

##Accessing Items from the list##

In [ ]:
Items in the list are indexed, the first item has index [0], the second item has index [1] etc.

Indexing the list

In [17]:
#Lets consider the list as follows
lst = ["abc", 34, True, 40, "male"]
lst

['abc', 34, True, 40, 'male']

In [18]:
lst[0]

'abc'

In [19]:
lst[2]

True

In [20]:
lst[-1]

'male'

Slicing a list

In [113]:
#Lets consider the list as follows
lst = ["abc", 34, True, 40, "male"]
lst

['abc', 34, True, 40, 'male']

In [2]:
lst[0:4] #Here End index is not included

['abc', 34, True, 40]

In [23]:
lst[-3:-2] #Here End Index is not included

[True]

In [111]:
lst[:3:-1]

[]

In [114]:
lst[3::-1]

[40, True, 34, 'abc']

In [26]:
lst[::2] #All Elements from start to end in step of 2

['abc', True, 'male']

In [27]:
#Reverse the list
lst[::-1]

['male', 40, True, 34, 'abc']

In [115]:
# Indexing a Nested List (List within list)
lst=[1,2,'a',4,5,[40,10]]
lst

[1, 2, 'a', 4, 5, [40, 10]]

In [116]:
lst[5]

[40, 10]

In [117]:
lst[5][0]

40

In [44]:
l=["Arihant", 1234, True, 45+8j, [5,3,1, "a"], 6.7]

In [45]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [46]:
for i in l:
    if type(i)==list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [34]:
# Slicing in nested List
lst=[1,[8,9,10]]
lst[1:2]

[[8, 9, 10]]

In [38]:
# Slicing Nested List (slicing left to right and not right to left)
lst=[1,2,'a',4,5,[40,10]] 
lst[-5:-2] #Here end index is not included

[2, 'a', 4]

In [119]:
# Nested List (For Loop)
lst=[1,2,'a',4,5,[40,10]]
for i in lst:
    print(i,end=" ")

1 2 a 4 5 [40, 10]

In [9]:
# Nested List (For Loop)
lst=[1,2,'a',4,5,[40,10]]
for i in lst:
    print(i)

1
2
a
4
5
[40, 10]

List is mutable

In [24]:
l=['apple',1,'banana', 3+2j]
l[0]='Orange'
l

['Orange', 1, 'banana', (3+2j)]

##Operations with List##
1) Addition of two lists
2) Multiplication with Scalar
3) Built in Functions
4) Appending List

In [40]:
# Addition of two lists
lst1=[1,2,3]
lst2=['1','2','3','4']
lst1=lst1+lst2
lst1

[1, 2, 3, '1', '2', '3', '4']

In [41]:
lst3=lst1+lst2
lst3

[1, 2, 3, '1', '2', '3', '4', '1', '2', '3', '4']

In [176]:
# Multiplication with Scalar
l1=[1,2,3,"A"]*5 
l1

[1, 2, 3, 'A', 1, 2, 3, 'A', 1, 2, 3, 'A', 1, 2, 3, 'A', 1, 2, 3, 'A']

##Built in Functions##

In [43]:
#We are using the following list
l1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
min(l1)

1

In [45]:
max(l1)

3

In [122]:
sum(l1)

30

In [123]:
len(l1)

15

In [48]:
average=sum(l1)/len(l1)
average

2.0

Difference of Lists --> Given 2 lists l1 & l2, Find the elements present in l1 but are absent in l2. This cannot be achieved by
simple subtraction of two lists. It is a two step process 1) Convert both lists into set by using set function and subtract. It gives output in the set form. 2) Convert the set to list

In [126]:
l1=[8,7,4,3,2,2] 
l2=[8,6,4,1,2]
set(l1)-set(l2)#Output in set

{3, 7}

In [127]:
set(l1)

{2, 3, 4, 7, 8}

In [128]:
set(l2)

{1, 2, 4, 6, 8}

In [129]:
s1=set(l1)
type(s1)

set

In [51]:
s2=set(l2)
s2

{1, 2, 4, 6, 8}

In [52]:
diff=s1-s2
diff

{3, 7}

In [53]:
type(diff)

set

In [54]:
list(set(l1)-set(l2)) #To convert to list

[3, 7]

Append a element to the list --> Append takes only 1 argument

In [63]:
lst1=[]
lst1.append('a') 
lst1

['a']

In [65]:
lst=[]
lst.append([5,6,7]) #takes only one single element in argument, can only append 1 value at a time
lst

[[5, 6, 7]]

Append a list to list --> Appends as seperate lists

In [66]:
#To the above list append a list as follows
lst.append([1,2])
lst

[[5, 6, 7], [1, 2]]

In [67]:
lst.append([1,2,'b'])
lst

[[5, 6, 7], [1, 2], [1, 2, 'b']]

Extend a list --> Extends within existing list. It also takes one argument at a time

In [79]:
lst=[]
lst.extend([5,6,7]) 
lst

[5, 6, 7]

In [80]:
lst.extend([10,11])
lst

[5, 6, 7, 10, 11]

In [82]:
#If we need to extend the list with a list inside list, the argument needs to be passed in double square bracket
lst.extend([[12,13]])
lst

[5, 6, 7, 10, 11, [12, 13]]

Sorting a List

In [1]:
lst=[4,3,1,7,10,9,8,5] 
sorted(lst)

[1, 3, 4, 5, 7, 8, 9, 10]

In [130]:
lst=['a','c','b', 1, 8, 3]
l=sorted(lst)
l

TypeError: '<' not supported between instances of 'int' and 'str'

In [3]:
# Sorting a nested list
lst=[4,3,1,7,10,9,8,5,[7,6,3]] # lst.sort works on nested list inner to outer
lst[8].sort()
lst

[4, 3, 1, 7, 10, 9, 8, 5, [3, 6, 7]]

Removing element from list
1) Removing by Index
2) Removing by Specifying the element to be removed
3) Removing by Range

Removing a element in list by Index

In [4]:
lst=[4,'a','bc',8,12]
lst.pop(1)
lst

[4, 'bc', 8, 12]

In [ ]:
Remove element in list by specifying the element to be removed

In [5]:
l=[1,8,5,4,3,10,12]
l.remove(8) 
l

[1, 5, 4, 3, 10, 12]

In [ ]:
Remove element in list by range

In [7]:
l=[1,8,5,4,3,10,12]
del l[2:5]
l

[1, 8, 10, 12]

Convert a String to list

In [96]:
s="Python"  
lst=list(s)
lst

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
To find unique elements of list

In [13]:
# Step 1 : Use Set Function. It gives the output as Set.
lst=[1,1,4,4,6]
set(lst)

{1, 4, 6}

In [14]:
# Step 2 : Convert set to list
list(set(lst))

[1, 4, 6]

# 3. Dictionary

Dictionary is like a list.
It is an unordered collection of items. Sequence does not matter
Dictionary is Mutable
Each item of dictionary has a key / value pair.
The association of a key and a value is called a key-value pair or an item
While the values can be of any data type and can repeat, keys must be of immutable type (string, number or tuple with immutable elements) and must be unique
Dictionaries are used to store data values in key:value pairs.

In [57]:
import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

Creating a dictionary
1)By using Curly braces
2)By using 'dict' function and passing list of tuples
3)By assigning value to a key

1)By Using Curly braces

In [67]:
d={'a':500,'b':1000}
d

{'a': 500, 'b': 1000}

In [19]:
type(d)

dict

2)By using 'dict' function and passing list of tuples

In [21]:
d = dict([('A',100),('B',300)])
d

{'A': 100, 'B': 300}

3)By Creating a blank dictionary and assigning values to respective keys

In [131]:
d1={}
d1[2]='one'
d1

{2: 'one'}

In [25]:
d1["n"]=10
d1

{1: 'one', 'n': 10}

##Accessing Dictionary Items##
1)Get Items
2)Get Keys
3)Get Values

Get all the Items (Key Value Pair) from Dictionary as a list

In [135]:
dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

Get all the Keys from Dictionary as a list

In [27]:
dict.keys()

dict_keys(['brand', 'model', 'year'])

Get all the Values from Dictionary as a list

In [28]:
dict.values()

dict_values(['Ford', 'Mustang', 1964])

Get specific 'value' corresponding to the 'key' using 'get' function

In [138]:
dict.get('brand')

Get specific 'value' corresponding to the 'key' using 'pop' function

In [137]:
dict.pop('brand')

'Ford'

Get specific 'value' corresponding to the 'key' by specifying 'key' in square bracket

In [139]:
dict['brand']

KeyError: 'brand'

Adding key value pair in a dictionary

In [39]:
dict['shoe']='footcover'
dict

{'model': 'Mustang', 'year': 1964, 'shoe': 'footcover'}

Changing a Value for a key in the dictionary

In [40]:
dict['shoe']='footprotection'
dict

{'model': 'Mustang', 'year': 1964, 'shoe': 'footprotection'}

Deleting a key value pair using 'del' function

In [41]:
del dict['shoe']
dict

{'model': 'Mustang', 'year': 1964}

Finding Length of Dictionary

In [42]:
len(dict)

2

Updating a dictionary (Alternative way)

In [6]:
dict.update({'shoe':'footcover'})
dict

dict

Clearing all items of dictionary using clear function

In [9]:
dict.clear()
dict

{}

Update dictionary using update function

In [140]:
# example of update of dictionary (Aggregating various dictionaries)
dict1={1:20,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60}
d={}
d.update(dict1)
d

{1: 20, 2: 20}

In [141]:
d.update(dict2)
d

{1: 20, 2: 20, 3: 30, 4: 40}

In [142]:
d.update(dict3)
d

{1: 20, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

For Loop using dictionary

In [145]:
#For loop loops over the Keys
d={'A':100,'B':200,'C':300}
for i in d:
    print(i)

A
B
C

In [150]:
d['B']

200

In [151]:
#For looping over the values
d={'A':100,'B':200,'C':300}
for k in d:
    print(d[k])

100
200
300

In [153]:
#For Looping over the items (key value pair)
for a,b in d.items():
    print(a,b)

A 100
B 200
C 300

Storing above dictionary keys, values and items in the list

In [14]:
list(d)

['A', 'B', 'C']

In [15]:
list(d.values())

[100, 200, 300]

In [16]:
list(d.items()) #list of tuples

[('A', 100), ('B', 200), ('C', 300)]

# 4. Tuples

Python tuples are a data structure that store an ordered sequence of values. Tuples are immutable. 
This means you cannot change the values in a tuple. Tuples are defined with parenthesis.
Individual values in a tuple are called items. Tuples can store any data type.
Tuples are similar to Python lists, with one big difference: you cannot modify a tuple.
For example, you may use a tuple to store a list of employee names. You could use a tuple to store a list of 
ice cream flavors stocked at an ice cream shop.

Creating Tuple
1) By Round Bracket
2) By passing a list to 'tuple' function

By Round Bracket

In [154]:
t=()
type(t)

tuple

In [155]:
t

()

In [159]:
# Single element in a tuple
t=(2,)
type(t)

tuple

In [160]:
t

(2,)

In [2]:
# tuple with 2 elements
t=('a','b')
type(t)

tuple

By passing a list to the 'tuple' function

In [161]:
t1=tuple([1,2,3,2,3,"a",True])
t1

(1, 2, 3, 2, 3, 'a', True)

In [162]:
type(t1)

tuple

In [20]:
t1=tuple(['a','b','c'])
t1

('a', 'b', 'c')

In [21]:
type(t1)

tuple

Accessing items of tuple

Indexing a tuple (Similar to string and list)

In [22]:
t=(5,2,4,1,8)
t[2]

4

Slicing a Tuple (Similar to string and list)

In [23]:
t=('blue','red','green','yellow')
t[0:2]

('blue', 'red')

Tuple is not mutable (immutable)

In [25]:
t=('blue','red','green','yellow')
t[0]='white'

TypeError: 'tuple' object does not support item assignment

Tuple Operations
1)Concatenation
2)Multiplication with Scalar
3)Length of tuple
4)Max element in a Tuple
4)Comparing two tuples

Concatenation (Similar to Strings & List)

In [26]:
t1=('blue','red','green','yellow')
t2=('black',)
t1+t2

('blue', 'red', 'green', 'yellow', 'black')

Multiplication with Scalar

In [27]:
t1=('blue','red','green','yellow')
t2=t1*3
t2

('blue',
 'red',
 'green',
 'yellow',
 'blue',
 'red',
 'green',
 'yellow',
 'blue',
 'red',
 'green',
 'yellow')

Length of a tuple

In [28]:
len(t2)

12

Comparing two tuples

In [165]:
t1=(0,5,1)
t2=(0,3,4)
t1<t2

False

Max element in a tuple

In [30]:
t=(1,2,3,4,5,6)
max(t)

6

Min element in a tuple

In [31]:
t=(1,2,3,4,5,6)
min(t)

1

Sum of elements of tuple

In [32]:
t=(1,2,3,4,5,6)
sum(t)

21

For loop over tuple

In [170]:
t=(1,2,3,4)
for i in t:
    print(i, end=" ")

1 2 3 4

Finding Unique elements in a tuple using set function. Here output is a set data type. This can be converted to tuple by 
passing the set to tuple function

In [34]:
t=(1,1,2,2)
t=set(t)
t

{1, 2}

Converting set to tuple

In [36]:
t=tuple(t)
t

(1, 2)

# 5. Sets

Set is unordered collection of items. In sets sequence does not matter and indexing has no meaning
Sets are denoted by curly braces.
Every set item is unique (no duplicates) and are immutable (cannot be changed).
However, Set itself is mutable ie we can add or remove items from it.
Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc. 
Sets can have any number of items and they may be of different data types - integer, float, tuple, string etc.
However set cannot hold mutable items like lists, set or dictionaries.

Sets cannot have duplicate items

In [171]:
s={1,2,3,3,1,'Hello'}
s # Retains unique elements only

{1, 2, 3, 'Hello'}

Items of set are Immutable

In [173]:
s={1,2,3,4}
s[0]=6
s

TypeError: 'set' object does not support item assignment

Set is unordered collection of items. Hence cannot be indexed

In [38]:
s={1,2,3,4}
s[0]

TypeError: 'set' object is not subscriptable

Creating a Set
1) Using 'set' function and passing a tuple or a list to set function

By passing a tuple to set function

In [39]:
a=set((1,2,3,4))
a

{1, 2, 3, 4}

In [40]:
type(a)

set

By passing a list to set function

In [177]:
#Set by passing list to set
a=set([1,2,3,4,4,4])
a

{1, 2, 3, 4}

In [41]:
type(a)

set

Creating Blank Set

In [174]:
a=set()
type(a)
a

set()

Updating the Set with the tuple

In [45]:
s={1,2,3,4}
t=(5,6,7)
s.update(t)
s

{1, 2, 3, 4, 5, 6, 7}

Updating the Set with the list --> Cannot Update as List is mutable

In [10]:
s=(1,2,3,4)
l=[5,6,7]
s.update(l)
s

AttributeError: 'tuple' object has no attribute 'update'

Updating the Set with the Dictionary --> Cannot Update as Dictionary is mutable

In [47]:
s=(1,2,3,4)
t={5:'Delhi',6:'Mumbai'}
s.update(t)
s

AttributeError: 'tuple' object has no attribute 'update'

Set Operations
1) Union of two sets
2) Intersection of two sets
3) Difference between two sets
4) Symmetric difference of two sets

Union of two sets - symbol |

In [48]:
a={1,2,3,4,5}
b={4,5,6,7,8}
x=a.union(b)
x

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

Intersection of two sets - symbol &

In [50]:
a={1,2,3,4,5}
b={4,5,6,7,8}
x=a.intersection(b)
x

{4, 5}

In [51]:
a & b

{4, 5}

Difference of two sets. Can be set a - setb or set b - set a (symbol -)

In [51]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a.difference(b)

{1, 2, 3}

In [52]:
a-b

{1, 2, 3}

In [10]:
b.difference(a)

{6, 7, 8}

In [53]:
b-a

{6, 7, 8}

Symmetric Difference (set a ^ set b) --> Symmetric Difference of set A and set B is a set of elements present in Set A 
and present in set B but not present in both. It is a union of a.difference(b) and b.difference(a) --> Symbol ^

In [53]:
a={1,2,3,4,5}
b={4,5,6,7,8}
a^b

{1, 2, 3, 6, 7, 8}