In [0]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.0.3'

#### Introducing A New Dataset

In [0]:

# NEW DATA!
# - English Premier League soccer players
# - 400+ players x 17 attributes

In [0]:
data_url = 'https://andybek.com/pandas-soccer' # as always, this will be attached too!

In [0]:
players = pd.read_csv(data_url)

In [5]:
players.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Columns: 17 entries, name to new_signing
dtypes: float64(2), int64(10), object(5)
memory usage: 190.7 KB

In [6]:
players.dtypes.value_counts()

int64      10
object      5
float64     2
dtype: int64

In [7]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

#### Quick Review: Indexing With Boolean Masks

In [0]:
# boolean indexing:
#   step 1: generate sequence of booleans
#   step 2: use boolean sequence in [] or .loc[]

In [9]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [0]:
# Q: what are the players that have a market value exceeding 40M?

In [11]:
players.market_value > 40

0       True
1       True
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

In [12]:
players[players.market_value > 40]

                  name               club  age  ... club_id  big_club  new_signing
0       Alexis Sanchez            Arsenal   28  ...       1         1            0
1           Mesut Ozil            Arsenal   28  ...       1         1            0
96         Eden Hazard            Chelsea   26  ...       5         1            0
97         Diego Costa            Chelsea   28  ...       5         1            0
108     N%27Golo Kante            Chelsea   26  ...       5         1            1
218  Philippe Coutinho          Liverpool   25  ...      10         1            0
244    Kevin De Bruyne    Manchester+City   26  ...      11         1            0
245      Sergio Aguero    Manchester+City   29  ...      11         1            0
246    Raheem Sterling    Manchester+City   22  ...      11         1            0
264      Romelu Lukaku  Manchester+United   24  ...      12         1            0
267         Paul Pogba  Manchester+United   24  ...      12         1            1
380          Dele Alli          Tottenham   21  ...      17         1            0
381         Harry Kane          Tottenham   23  ...      17         1            0

[13 rows x 17 columns]

In [13]:
players[players.market_value > 40].shape

(13, 17)

#### More Approaches To Boolean Masking

In [14]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [15]:
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [16]:
players.position.unique().size

14

In [0]:
# defender codes: LB, CB, RB

In [18]:
players.position.isin(['LB', 'CB', 'RB'])

0      False
1      False
2      False
3      False
4       True
       ...
460    False
461     True
462     True
463    False
464    False
Name: position, Length: 465, dtype: bool

In [19]:
players.loc[players.position.isin(['LB', 'CB', 'RB'])]

                  name      club  age  ... club_id  big_club  new_signing
4    Laurent Koscielny   Arsenal   31  ...       1         1            0
5      Hector Bellerin   Arsenal   22  ...       1         1            0
7        Nacho Monreal   Arsenal   31  ...       1         1            0
8     Shkodran Mustafi   Arsenal   25  ...       1         1            1
17    Gabriel Paulista   Arsenal   26  ...       1         1            0
..                 ...       ...  ...  ...     ...       ...          ...
455    Aaron Cresswell  West+Ham   27  ...      20         0            0
458     Angelo Ogbonna  West+Ham   29  ...      20         0            0
459     Pablo Zabaleta  West+Ham   32  ...      20         0            0
461     Arthur Masuaku  West+Ham   23  ...      20         0            1
462          Sam Byram  West+Ham   23  ...      20         0            0

[154 rows x 17 columns]

In [20]:
players.market_value.between(40,50, inclusive=False)

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

In [21]:
players[players.market_value.between(40,50, inclusive=True)]

                    name               club  ...  big_club new_signing
1             Mesut Ozil            Arsenal  ...         1           0
31   Alexandre Lacazette            Arsenal  ...         1           0
97           Diego Costa            Chelsea  ...         1           0
102     Thibaut Courtois            Chelsea  ...         1           0
108       N%27Golo Kante            Chelsea  ...         1           1
218    Philippe Coutinho          Liverpool  ...         1           0
219           Sadio Mane          Liverpool  ...         1           1
246      Raheem Sterling    Manchester+City  ...         1           0
263       Bernardo Silva    Manchester+City  ...         1           0
264        Romelu Lukaku  Manchester+United  ...         1           0
265         David de Gea  Manchester+United  ...         1           0
380            Dele Alli          Tottenham  ...         1           0
382    Christian Eriksen          Tottenham  ...         1           0

[13 rows x 17 columns]

In [22]:
players.age <= 25

0      False
1      False
2      False
3      False
4      False
       ...
460     True
461     True
462     True
463     True
464    False
Name: age, Length: 465, dtype: bool

In [23]:
players.loc[players.age <= 25]

                    name      club  age  ... club_id  big_club  new_signing
5        Hector Bellerin   Arsenal   22  ...       1         1            0
8       Shkodran Mustafi   Arsenal   25  ...       1         1            1
9             Alex Iwobi   Arsenal   21  ...       1         1            0
10          Granit Xhaka   Arsenal   24  ...       1         1            0
11          Granit Xhaka   Arsenal   24  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
456         Pedro Obiang  West+Ham   25  ...      20         0            0
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1

[172 rows x 17 columns]

In [24]:
players.loc[players.age.le(25)]

                    name      club  age  ... club_id  big_club  new_signing
5        Hector Bellerin   Arsenal   22  ...       1         1            0
8       Shkodran Mustafi   Arsenal   25  ...       1         1            1
9             Alex Iwobi   Arsenal   21  ...       1         1            0
10          Granit Xhaka   Arsenal   24  ...       1         1            0
11          Granit Xhaka   Arsenal   24  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
456         Pedro Obiang  West+Ham   25  ...      20         0            0
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1

[172 rows x 17 columns]

In [25]:
players.age.le(25).equals(players.age <= 25)

True

#### Binary Operators With Booleans

In [0]:
# Binary OR -> |

In [27]:
True | False

True

In [28]:
False | False

False

In [29]:
False | True

True

In [30]:
True | True

True

In [0]:
# Binary AND -> &

In [32]:
True & False

False

In [33]:
False & True

False

In [34]:
False & False

False

In [35]:
True & True

True

In [0]:
# a single false is enough!

In [37]:
True & True & False & True & True

False

In [0]:
f = pd.Series(False)

In [39]:
f

0    False
dtype: bool

In [0]:
t = pd.Series(True)

In [41]:
t

0    True
dtype: bool

In [42]:
t & f

0    False
dtype: bool

In [43]:
t | f

0    True
dtype: bool

In [0]:
t = pd.Series([True if i%2 ==0 else False for i in range(10)])

In [45]:
t

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [0]:
f = pd.Series([False for i in range(10)])

In [47]:
f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [48]:
t & f

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [49]:
t | f

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [0]:
f = pd.Series(data=[False, True, True], index=['c','b', 'a'])
t = pd.Series(data=[True, False, False], index=['a', 'b', 'c'])

In [51]:
f

c    False
b     True
a     True
dtype: bool

In [52]:
t

a     True
b    False
c    False
dtype: bool

In [53]:
f & t

a     True
b    False
c    False
dtype: bool

#### BONUS - XOR And Complement Binary Ops

In [0]:
# Binary XOR -> ^

In [55]:
True ^ False

True

In [56]:
False ^ False

False

In [57]:
True ^ True

False

In [58]:
True ^ (False | False & True) | False

True

In [0]:
# (Two's) Complement -> ~

In [0]:
# tilde (~) negates

In [61]:
~False

-1

In [62]:
~0

-1

In [63]:
~True

-2

In [64]:
~1

-2

In [0]:
t = pd.Series([True, True, False])

In [66]:
t

0     True
1     True
2    False
dtype: bool

In [67]:
~t

0    False
1    False
2     True
dtype: bool

#### Combining Conditions

In [0]:
# select all the left backs -> LB

In [69]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [0]:
# all left backs who are 25 or younger

In [71]:
players[
        (players.position == 'LB') & 
        (players.age <= 25)
        ]

                 name               club  age  ... club_id  big_club  new_signing
29     Sead Kolasinac            Arsenal   24  ...       1         1            0
54         Brad Smith        Bournemouth   23  ...       2         0            0
112            Kenedy            Chelsea   21  ...       5         1            0
128   Jeffrey Schlupp     Crystal+Palace   24  ...       6         0            0
212      Ben Chilwell     Leicester+City   20  ...       9         0            0
236    Alberto Moreno          Liverpool   25  ...      10         1            0
281         Luke Shaw  Manchester+United   22  ...      12         1            0
294      Paul Dummett   Newcastle+United   25  ...      13         0            0
298  Massadio Haidara   Newcastle+United   24  ...      13         0            0
328      Matt Targett        Southampton   21  ...      14         0            0
354        Josh Tymon         Stoke+City   18  ...      15         0            0
369  Stephen Kingsley            Swansea   22  ...      16         0            0
389        Ben Davies          Tottenham   24  ...      17         1            0
461    Arthur Masuaku           West+Ham   23  ...      20         0            1

[14 rows x 17 columns]

In [0]:
# 3 conditions: left backs, 25 or younger, market value 10+

In [73]:
players[
        (players.position == 'LB') & 
        (players.age <= 25) & 
        (players.market_value >= 10)
        ]

               name               club  age  ... club_id  big_club  new_signing
29   Sead Kolasinac            Arsenal   24  ...       1         1            0
236  Alberto Moreno          Liverpool   25  ...      10         1            0
281       Luke Shaw  Manchester+United   22  ...      12         1            0
389      Ben Davies          Tottenham   24  ...      17         1            0

[4 rows x 17 columns]

In [0]:
# 4 conditions: left backs, 25 or younger, market value 10+, and NOT from Arsenal or Tottenham clubs

In [75]:
players[
        (players.position == 'LB') &
        (players.age <= 25) &
        (players.market_value >= 10) &
        ~(players.club.isin(['Tottenham', 'Arsenal']))
        ]

               name               club  age  ... club_id  big_club  new_signing
236  Alberto Moreno          Liverpool   25  ...      10         1            0
281       Luke Shaw  Manchester+United   22  ...      12         1            0

[2 rows x 17 columns]

#### Conditions As Variables

In [76]:
players[
        (players.position == 'LB') &
        (players.age <= 25) &
        (players.market_value >= 10) &
        ~(players.club.isin(['Tottenham', 'Arsenal']))
        ]

               name               club  age  ... club_id  big_club  new_signing
236  Alberto Moreno          Liverpool   25  ...      10         1            0
281       Luke Shaw  Manchester+United   22  ...      12         1            0

[2 rows x 17 columns]

In [0]:
# new target: Arsenal right backs and Chelsea goalkeepers

In [0]:
arsenal_player = players.club == 'Arsenal'

In [79]:
arsenal_player

0       True
1       True
2       True
3       True
4       True
       ...
460    False
461    False
462    False
463    False
464    False
Name: club, Length: 465, dtype: bool

In [0]:
right_back = players.position == 'RB'

In [81]:
right_back

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462     True
463    False
464    False
Name: position, Length: 465, dtype: bool

In [0]:
chelsea_and_GK = (players.club == 'Chelsea') & (players.position == 'GK')

In [83]:
chelsea_and_GK

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Length: 465, dtype: bool

In [84]:
players.loc[arsenal_player & right_back | chelsea_and_GK]

                 name     club  age  ... club_id  big_club  new_signing
5     Hector Bellerin  Arsenal   22  ...       1         1            0
27     Carl Jenkinson  Arsenal   25  ...       1         1            0
102  Thibaut Courtois  Chelsea   25  ...       5         1            0
109   Willy Caballero  Chelsea   35  ...       5         1            0

[4 rows x 17 columns]

#### Skill Challenge

######Find the players in our dataset that meet these criteria

1.   they're English (*nationality*), and
2.   their market value is more than twice the average market value in the league (*market_value*), and
3. they either have more than 4,000 views (*page_views*) or are a new signing (*new_signing*) but not both

#### Solution

In [85]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [0]:
# first condition

In [0]:
english = players.nationality == 'England'

In [88]:
english.head()

0    False
1    False
2    False
3     True
4    False
Name: nationality, dtype: bool

In [0]:
# second condtion

In [90]:
players.market_value.mean()

11.125649350649349

In [0]:
above_average = players.market_value > players.market_value.mean() * 2

In [92]:
above_average.head()

0     True
1     True
2    False
3    False
4    False
Name: market_value, dtype: bool

In [0]:
# third condition

In [0]:
popular_xor_new = (players.page_views > 4000) ^ (players.new_signing == 1)

In [95]:
popular_xor_new.head()

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [96]:
print(english.shape)

(465,)

In [97]:
print(above_average.shape)
print(popular_xor_new.shape)
print(players.shape)

(465,)
(465,)
(465, 17)

In [98]:
players.loc[english & above_average & popular_xor_new]

            name             club  age  ... club_id  big_club  new_signing
256  John Stones  Manchester+City   23  ...      11         1            1
380    Dele Alli        Tottenham   21  ...      17         1            0
381   Harry Kane        Tottenham   23  ...      17         1            0

[3 rows x 17 columns]

#### 2d Indexing

In [99]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [0]:
# chelsea players and 23 years old or younger

In [0]:
chelsea_23under = (players.club == 'Chelsea') & (players.age.le(23))

In [102]:
chelsea_23under.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [103]:
players.loc[chelsea_23under, ['position', 'market_value']]

    position  market_value
110       CF          25.0
111       CB          15.0
112       LB           7.0
115       DM          16.0

In [0]:
# ...select all column that begin with 'p'

In [0]:
# startwith

In [0]:
p_cols = players.columns.str.startswith('p')

In [107]:
players.loc[chelsea_23under, p_cols]

    position  position_cat  page_views
110       CF             1        1162
111       CB             3         723
112       LB             3         566
115       DM             2        1011

In [108]:
print(chelsea_23under.shape)

(465,)

In [109]:
print(players.shape)

(465, 17)

In [110]:
print(p_cols.shape)

(17,)

In [0]:
# [] chaining

In [112]:
players[chelsea_23under]['position']

110    CF
111    CB
112    LB
115    DM
Name: position, dtype: object

In [113]:
players.loc[chelsea_23under, 'position']

110    CF
111    CB
112    LB
115    DM
Name: position, dtype: object

#### Fancy Indexing With lookup()

In [114]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [115]:
players.loc[[0, 132], ('name', 'market_value')] # fancy

               name  market_value
0    Alexis Sanchez          65.0
132  Connor Wickham           6.0

In [116]:
players.lookup([0, 132], ['name', 'market_value'])

array(['Alexis Sanchez', 6.0], dtype=object)

In [117]:
players.lookup([0, 132], ['market_value', 'name'])

array([65.0, 'Connor Wickham'], dtype=object)

In [0]:
names = ['Petr Cech', 'Mesut Ozil', 'Alexis Sanchez']

In [0]:
attributes = ['age', 'market_value', 'page_views']

In [120]:
players.set_index('name').lookup(names, attributes)

array([  35.,   50., 4329.])

#### Sorting By Index Or Column

In [121]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [122]:
players.sort_values(by='market_value', ascending=False)

                    name               club  ...  big_club new_signing
96           Eden Hazard            Chelsea  ...         1           0
267           Paul Pogba  Manchester+United  ...         1           1
0         Alexis Sanchez            Arsenal  ...         1           0
244      Kevin De Bruyne    Manchester+City  ...         1           0
245        Sergio Aguero    Manchester+City  ...         1           0
..                   ...                ...  ...       ...         ...
287  Joel Castro Pereira  Manchester+United  ...         1           0
113     Eduardo Carvalho            Chelsea  ...         1           1
30          Granit Xhaka            Arsenal  ...         1           0
192         Steve Mounie       Huddersfield  ...         0           0
195    Kasper Schmeichel     Leicester+City  ...         0           0

[465 rows x 17 columns]

In [123]:
players.index

RangeIndex(start=0, stop=465, step=1)

In [0]:
players.set_index('name', inplace=True)

In [125]:
players.head(10)

                      club  age position  ...  club_id  big_club  new_signing
name                                      ...
Alexis Sanchez     Arsenal   28       LW  ...        1         1            0
Mesut Ozil         Arsenal   28       AM  ...        1         1            0
Petr Cech          Arsenal   35       GK  ...        1         1            0
Theo Walcott       Arsenal   28       RW  ...        1         1            0
Laurent Koscielny  Arsenal   31       CB  ...        1         1            0
Hector Bellerin    Arsenal   22       RB  ...        1         1            0
Olivier Giroud     Arsenal   30       CF  ...        1         1            0
Nacho Monreal      Arsenal   31       LB  ...        1         1            0
Shkodran Mustafi   Arsenal   25       CB  ...        1         1            1
Alex Iwobi         Arsenal   21       LW  ...        1         1            0

[10 rows x 16 columns]

In [126]:
players.index

Index(['Alexis Sanchez', 'Mesut Ozil', 'Petr Cech', 'Theo Walcott',
       'Laurent Koscielny', 'Hector Bellerin', 'Olivier Giroud',
       'Nacho Monreal', 'Shkodran Mustafi', 'Alex Iwobi',
       ...
       'Aaron Cresswell', 'Pedro Obiang', 'Sofiane Feghouli', 'Angelo Ogbonna',
       'Pablo Zabaleta', 'Edimilson Fernandes', 'Arthur Masuaku', 'Sam Byram',
       'Ashley Fletcher', 'Diafra Sakho'],
      dtype='object', name='name', length=465)

In [0]:
players.sort_index(inplace=True)

In [128]:
players.head(10)

                            club  age position  ...  club_id  big_club  new_signing
name                                            ...
Aaron Cresswell         West+Ham   27       LB  ...       20         0            0
Aaron Lennon             Everton   30       RW  ...        7         0            0
Aaron Mooy          Huddersfield   26       CM  ...        8         0            0
Aaron Ramsey             Arsenal   26       CM  ...        1         1            0
Abdoulaye Doucoure       Watford   24       CM  ...       18         0            0
Adam Federici        Bournemouth   32       GK  ...        2         0            0
Adam Lallana           Liverpool   29       AM  ...       10         1            0
Adam Smith           Bournemouth   26       RB  ...        2         0            0
Ademola Lookman          Everton   19       LW  ...        7         0            0
Adrian                  West+Ham   30       GK  ...       20         0            0

[10 rows x 16 columns]

In [129]:
players.sort_index(axis=1)

                    age  age_cat  big_club  ... position  position_cat  region
name                                        ...
Aaron Cresswell      27        3         0  ...       LB             3       1
Aaron Lennon         30        4         0  ...       RW             1       1
Aaron Mooy           26        3         0  ...       CM             2       4
Aaron Ramsey         26        3         1  ...       CM             2       1
Abdoulaye Doucoure   24        2         0  ...       CM             2       2
...                 ...      ...       ...  ...      ...           ...     ...
Yohan Cabaye         31        4         0  ...       CM             2       2
YounÃ¨s Kaboul       31        4         0  ...       CB             3       2
Ã‰tienne Capoue      29        4         0  ...       DM             2       2
Ã€ngel Rangel        34        6         0  ...       RB             3       2
Åukasz FabiaÅ„ski   32        5         0  ...       GK             4       2

[465 rows x 16 columns]

In [130]:
players.reset_index()

                   name            club  age  ... club_id  big_club  new_signing
0       Aaron Cresswell        West+Ham   27  ...      20         0            0
1          Aaron Lennon         Everton   30  ...       7         0            0
2            Aaron Mooy    Huddersfield   26  ...       8         0            0
3          Aaron Ramsey         Arsenal   26  ...       1         1            0
4    Abdoulaye Doucoure         Watford   24  ...      18         0            0
..                  ...             ...  ...  ...     ...       ...          ...
460        Yohan Cabaye  Crystal+Palace   31  ...       6         0            0
461      YounÃ¨s Kaboul         Watford   31  ...      18         0            1
462     Ã‰tienne Capoue         Watford   29  ...      18         0            0
463       Ã€ngel Rangel         Swansea   34  ...      16         0            0
464  Åukasz FabiaÅ„ski         Swansea   32  ...      16         0            0

[465 rows x 17 columns]

In [131]:
players.reset_index().reset_index().reset_index()

     level_0  index                name  ... club_id  big_club new_signing
0          0      0     Aaron Cresswell  ...      20         0           0
1          1      1        Aaron Lennon  ...       7         0           0
2          2      2          Aaron Mooy  ...       8         0           0
3          3      3        Aaron Ramsey  ...       1         1           0
4          4      4  Abdoulaye Doucoure  ...      18         0           0
..       ...    ...                 ...  ...     ...       ...         ...
460      460    460        Yohan Cabaye  ...       6         0           0
461      461    461      YounÃ¨s Kaboul  ...      18         0           1
462      462    462     Ã‰tienne Capoue  ...      18         0           0
463      463    463       Ã€ngel Rangel  ...      16         0           0
464      464    464  Åukasz FabiaÅ„ski  ...      16         0           0

[465 rows x 19 columns]

In [0]:
players.reset_index(inplace=True)

In [133]:
players.head()

                 name          club  age  ... club_id  big_club  new_signing
0     Aaron Cresswell      West+Ham   27  ...      20         0            0
1        Aaron Lennon       Everton   30  ...       7         0            0
2          Aaron Mooy  Huddersfield   26  ...       8         0            0
3        Aaron Ramsey       Arsenal   26  ...       1         1            0
4  Abdoulaye Doucoure       Watford   24  ...      18         0            0

[5 rows x 17 columns]

#### Sorting vs. Reordering

In [0]:
# reindex()

In [0]:
players_lite = players.iloc[:4, :4]

In [136]:
players_lite

              name          club  age position
0  Aaron Cresswell      West+Ham   27       LB
1     Aaron Lennon       Everton   30       RW
2       Aaron Mooy  Huddersfield   26       CM
3     Aaron Ramsey       Arsenal   26       CM

In [0]:
# row order: 2, 1, 3, 0
# column order: age, name, position, club

In [138]:
players_lite.reindex(index=[2,1,3,0], columns=['age', 'name', 'position', 'club'])

   age             name position          club
2   26       Aaron Mooy       CM  Huddersfield
1   30     Aaron Lennon       RW       Everton
3   26     Aaron Ramsey       CM       Arsenal
0   27  Aaron Cresswell       LB      West+Ham

In [139]:
players.reindex(index=[2,1,3,0])

              name          club  age  ... club_id  big_club  new_signing
2       Aaron Mooy  Huddersfield   26  ...       8         0            0
1     Aaron Lennon       Everton   30  ...       7         0            0
3     Aaron Ramsey       Arsenal   26  ...       1         1            0
0  Aaron Cresswell      West+Ham   27  ...      20         0            0

[4 rows x 17 columns]

In [0]:
# ...get all the columns, and have them alphabetically ordered

In [141]:
players.reindex(index=[2,1,3,0]).sort_index(axis=1)

   age  age_cat  big_club  ... position  position_cat  region
2   26        3         0  ...       CM             2       4
1   30        4         0  ...       RW             1       1
3   26        3         1  ...       CM             2       1
0   27        3         0  ...       LB             3       1

[4 rows x 17 columns]

In [142]:
players.reindex(index=[2,1,3,0], columns=[])

Empty DataFrame
Columns: []
Index: [2, 1, 3, 0]

In [0]:
# how do we get a sorted list of column labels?

In [0]:
# ===ASIDE===

In [145]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [146]:
iter(players.columns)

In [0]:
# iter(True)

In [148]:
sorted(players.columns)

['age',
 'age_cat',
 'big_club',
 'club',
 'club_id',
 'fpl_points',
 'fpl_sel',
 'fpl_value',
 'market_value',
 'name',
 'nationality',
 'new_foreign',
 'new_signing',
 'page_views',
 'position',
 'position_cat',
 'region']

In [0]:
# ===END ASIDE===

In [150]:
players.reindex(index=[2,1,3,0], columns=sorted(players.columns)[:6])

   age  age_cat  big_club          club  club_id  fpl_points
2   26        3         0  Huddersfield        8           0
1   30        4         0       Everton        7          22
3   26        3         1       Arsenal        1          56
0   27        3         0      West+Ham       20          60

#### BONUS - Another Way

In [151]:
players.reindex(index=[2,1,3,0], columns=sorted(players.columns))

   age  age_cat  big_club  ... position  position_cat  region
2   26        3         0  ...       CM             2       4
1   30        4         0  ...       RW             1       1
3   26        3         1  ...       CM             2       1
0   27        3         0  ...       LB             3       1

[4 rows x 17 columns]

In [152]:
sorted(players.columns)

['age',
 'age_cat',
 'big_club',
 'club',
 'club_id',
 'fpl_points',
 'fpl_sel',
 'fpl_value',
 'market_value',
 'name',
 'nationality',
 'new_foreign',
 'new_signing',
 'page_views',
 'position',
 'position_cat',
 'region']

In [153]:
players.columns.sort_values()

Index(['age', 'age_cat', 'big_club', 'club', 'club_id', 'fpl_points',
       'fpl_sel', 'fpl_value', 'market_value', 'name', 'nationality',
       'new_foreign', 'new_signing', 'page_views', 'position', 'position_cat',
       'region'],
      dtype='object')

In [154]:
players.reindex(index=[2,1,3,0], columns=players.columns.sort_values())

   age  age_cat  big_club  ... position  position_cat  region
2   26        3         0  ...       CM             2       4
1   30        4         0  ...       RW             1       1
3   26        3         1  ...       CM             2       1
0   27        3         0  ...       LB             3       1

[4 rows x 17 columns]

#### BONUS: Please Avoid Sorting Like This

In [0]:
# anti-pattern - please do not do this!!!

In [0]:
df = players.iloc[:6, :6]

In [157]:
df

                 name          club  age position  position_cat  market_value
0     Aaron Cresswell      West+Ham   27       LB             3          12.0
1        Aaron Lennon       Everton   30       RW             1           5.0
2          Aaron Mooy  Huddersfield   26       CM             2           5.0
3        Aaron Ramsey       Arsenal   26       CM             2          35.0
4  Abdoulaye Doucoure       Watford   24       CM             2           6.0
5       Adam Federici   Bournemouth   32       GK             4           1.0

In [158]:
df.swapaxes(1, 0)

                            0             1  ...                   4              5
name          Aaron Cresswell  Aaron Lennon  ...  Abdoulaye Doucoure  Adam Federici
club                 West+Ham       Everton  ...             Watford    Bournemouth
age                        27            30  ...                  24             32
position                   LB            RW  ...                  CM             GK
position_cat                3             1  ...                   2              4
market_value               12             5  ...                   6              1

[6 rows x 6 columns]

In [159]:
df.T.sort_index().T

  age          club market_value                name position position_cat
0  27      West+Ham           12     Aaron Cresswell       LB            3
1  30       Everton            5        Aaron Lennon       RW            1
2  26  Huddersfield            5          Aaron Mooy       CM            2
3  26       Arsenal           35        Aaron Ramsey       CM            2
4  24       Watford            6  Abdoulaye Doucoure       CM            2
5  32   Bournemouth            1       Adam Federici       GK            4

In [160]:
df.sort_index(axis=1)

   age          club  market_value                name position  position_cat
0   27      West+Ham          12.0     Aaron Cresswell       LB             3
1   30       Everton           5.0        Aaron Lennon       RW             1
2   26  Huddersfield           5.0          Aaron Mooy       CM             2
3   26       Arsenal          35.0        Aaron Ramsey       CM             2
4   24       Watford           6.0  Abdoulaye Doucoure       CM             2
5   32   Bournemouth           1.0       Adam Federici       GK             4

#### Skill Challenge

###### **1.**

Sort the players in the **players** dataframe by age in ascending order. Who is the youngest footballer in the EPL?

###### **2**.

Set the *club* column as the index of the dataframe. Then sort the dataframe index in alphabetical order. Make sure these changes are applied to the underlying dataframe and carry over to the next question.

###### **3**.

Sort the dataframe values by *club* and *market_value* where the club is alphabetical (Arsenal first) and the market value is in descending order (within each team, the most valuable players first).

#### Solution

In [0]:
# 1

In [162]:
players.sort_values(by='age', ascending=True)

                       name               club  ...  big_club new_signing
53             Ben Woodburn          Liverpool  ...         1           0
217           Jonathan Leko          West+Brom  ...         0           0
434  Trent Alexander-Arnold          Liverpool  ...         1           0
229              Josh Tymon         Stoke+City  ...         0           0
45            Axel Tuanzebe  Manchester+United  ...         1           0
..                      ...                ...  ...       ...         ...
142            Gareth Barry            Everton  ...         0           0
90           Damien Delaney     Crystal+Palace  ...         0           0
38              Artur Boruc        Bournemouth  ...         0           0
143          Gareth McAuley          West+Brom  ...         0           0
232          Julian Speroni     Crystal+Palace  ...         0           0

[465 rows x 17 columns]

In [0]:
# idxmin()!

In [164]:
players.iloc[players.age.idxmin()]

name            Ben Woodburn
club               Liverpool
age                       17
position                  LW
position_cat               1
market_value             1.5
page_views              1241
fpl_value                4.5
fpl_sel                0.10%
fpl_points                 5
region                     1
nationality            Wales
new_foreign                0
age_cat                    1
club_id                   10
big_club                   1
new_signing                0
Name: 53, dtype: object

In [0]:
# 2

In [0]:
players.set_index('club').sort_index(inplace=True)

In [167]:
players.head()

                 name          club  age  ... club_id  big_club  new_signing
0     Aaron Cresswell      West+Ham   27  ...      20         0            0
1        Aaron Lennon       Everton   30  ...       7         0            0
2          Aaron Mooy  Huddersfield   26  ...       8         0            0
3        Aaron Ramsey       Arsenal   26  ...       1         1            0
4  Abdoulaye Doucoure       Watford   24  ...      18         0            0

[5 rows x 17 columns]

In [0]:
# 3

In [169]:
players.sort_values(by=['club', 'market_value'], ascending=[True, False])

                    name      club  age  ... club_id  big_club  new_signing
21        Alexis Sanchez   Arsenal   28  ...       1         1            0
306           Mesut Ozil   Arsenal   28  ...       1         1            0
20   Alexandre Lacazette   Arsenal   26  ...       1         1            0
3           Aaron Ramsey   Arsenal   26  ...       1         1            0
152         Granit Xhaka   Arsenal   24  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
122  Edimilson Fernandes  West+Ham   21  ...      20         0            1
384            Sam Byram  West+Ham   23  ...      20         0            0
99       Darren Randolph  West+Ham   30  ...      20         0            0
179        James Collins  West+Ham   33  ...      20         0            0
40       Ashley Fletcher  West+Ham   21  ...      20         0            1

[465 rows x 17 columns]

#### Identifying Dupes

In [170]:
players.head()

                 name          club  age  ... club_id  big_club  new_signing
0     Aaron Cresswell      West+Ham   27  ...      20         0            0
1        Aaron Lennon       Everton   30  ...       7         0            0
2          Aaron Mooy  Huddersfield   26  ...       8         0            0
3        Aaron Ramsey       Arsenal   26  ...       1         1            0
4  Abdoulaye Doucoure       Watford   24  ...      18         0            0

[5 rows x 17 columns]

In [171]:
players.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Length: 465, dtype: bool

In [172]:
players[players.duplicated()]

                        name     club  age  ... club_id  big_club  new_signing
18   Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
19   Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
154             Granit Xhaka  Arsenal   24  ...       1         1            0

[3 rows x 17 columns]

In [0]:
# the subset param

In [0]:
# unique -> club, age, position, market_value

In [175]:
players.loc[players.duplicated(subset=['club', 'age', 'position', 'market_value'])]

                        name               club  ...  big_club new_signing
18   Alex Oxlade-Chamberlain            Arsenal  ...         1           0
19   Alex Oxlade-Chamberlain            Arsenal  ...         1           0
134                 Fernando    Manchester+City  ...         1           0
154             Granit Xhaka            Arsenal  ...         1           0
252                Lascelles   Newcastle+United  ...         0           0
281              Marcos Rojo  Manchester+United  ...         1           0
399              Shane Duffy  Brighton+and+Hove  ...         0           0

[7 rows x 17 columns]

In [176]:
players.loc[players.duplicated(subset=['club', 'age', 'position', 'market_value'])].shape

(7, 17)

In [0]:
# A - first -> original
# A
# A - last -> original

In [178]:
players.loc[players.duplicated(subset=['club', 'age', 'position', 'market_value'], keep='last')]

                        name               club  ...  big_club new_signing
17   Alex Oxlade-Chamberlain            Arsenal  ...         1           0
18   Alex Oxlade-Chamberlain            Arsenal  ...         1           0
72            Chris Smalling  Manchester+United  ...         1           0
78              Ciaran Clark   Newcastle+United  ...         0           0
133              Fernandinho    Manchester+City  ...         1           0
152             Granit Xhaka            Arsenal  ...         1           0
263               Lewis Dunk  Brighton+and+Hove  ...         0           0

[7 rows x 17 columns]

In [179]:
players.loc[players.duplicated(subset=['club', 'age', 'position', 'market_value'], keep='last')].shape

(7, 17)

In [180]:
players.loc[players.duplicated(subset=['club', 'age', 'position', 'market_value'], keep=False)]

                        name               club  ...  big_club new_signing
17   Alex Oxlade-Chamberlain            Arsenal  ...         1           0
18   Alex Oxlade-Chamberlain            Arsenal  ...         1           0
19   Alex Oxlade-Chamberlain            Arsenal  ...         1           0
72            Chris Smalling  Manchester+United  ...         1           0
78              Ciaran Clark   Newcastle+United  ...         0           0
133              Fernandinho    Manchester+City  ...         1           0
134                 Fernando    Manchester+City  ...         1           0
152             Granit Xhaka            Arsenal  ...         1           0
154             Granit Xhaka            Arsenal  ...         1           0
252                Lascelles   Newcastle+United  ...         0           0
263               Lewis Dunk  Brighton+and+Hove  ...         0           0
281              Marcos Rojo  Manchester+United  ...         1           0
399              Shane Duffy  Brighton+and+Hove  ...         0           0

[13 rows x 17 columns]

In [181]:
players.loc[players.duplicated(subset=['club', 'age', 'position', 'market_value'], keep=False)].shape

(13, 17)

#### Removing Duplicates

In [182]:
players[players.duplicated(subset=None, keep='first')]

                        name     club  age  ... club_id  big_club  new_signing
18   Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
19   Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
154             Granit Xhaka  Arsenal   24  ...       1         1            0

[3 rows x 17 columns]

In [183]:
players.market_value.mean()

11.125649350649349

In [184]:
players.drop_duplicates(keep='first').market_value.mean()

11.026252723311545

In [0]:
# duplicates are not necessarily bad!

#### Removing DataFrame Rows

In [186]:
players[players.duplicated()]

                        name     club  age  ... club_id  big_club  new_signing
18   Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
19   Alex Oxlade-Chamberlain  Arsenal   23  ...       1         1            0
154             Granit Xhaka  Arsenal   24  ...       1         1            0

[3 rows x 17 columns]

In [187]:
players.drop(labels=19, axis=0)

                   name            club  age  ... club_id  big_club  new_signing
0       Aaron Cresswell        West+Ham   27  ...      20         0            0
1          Aaron Lennon         Everton   30  ...       7         0            0
2            Aaron Mooy    Huddersfield   26  ...       8         0            0
3          Aaron Ramsey         Arsenal   26  ...       1         1            0
4    Abdoulaye Doucoure         Watford   24  ...      18         0            0
..                  ...             ...  ...  ...     ...       ...          ...
460        Yohan Cabaye  Crystal+Palace   31  ...       6         0            0
461      YounÃ¨s Kaboul         Watford   31  ...      18         0            1
462     Ã‰tienne Capoue         Watford   29  ...      18         0            0
463       Ã€ngel Rangel         Swansea   34  ...      16         0            0
464  Åukasz FabiaÅ„ski         Swansea   32  ...      16         0            0

[464 rows x 17 columns]

In [188]:
players.drop(index=19)

                   name            club  age  ... club_id  big_club  new_signing
0       Aaron Cresswell        West+Ham   27  ...      20         0            0
1          Aaron Lennon         Everton   30  ...       7         0            0
2            Aaron Mooy    Huddersfield   26  ...       8         0            0
3          Aaron Ramsey         Arsenal   26  ...       1         1            0
4    Abdoulaye Doucoure         Watford   24  ...      18         0            0
..                  ...             ...  ...  ...     ...       ...          ...
460        Yohan Cabaye  Crystal+Palace   31  ...       6         0            0
461      YounÃ¨s Kaboul         Watford   31  ...      18         0            1
462     Ã‰tienne Capoue         Watford   29  ...      18         0            0
463       Ã€ngel Rangel         Swansea   34  ...      16         0            0
464  Åukasz FabiaÅ„ski         Swansea   32  ...      16         0            0

[464 rows x 17 columns]

In [189]:
players.drop(index=[19, 20, 21, 231, 10])

                   name            club  age  ... club_id  big_club  new_signing
0       Aaron Cresswell        West+Ham   27  ...      20         0            0
1          Aaron Lennon         Everton   30  ...       7         0            0
2            Aaron Mooy    Huddersfield   26  ...       8         0            0
3          Aaron Ramsey         Arsenal   26  ...       1         1            0
4    Abdoulaye Doucoure         Watford   24  ...      18         0            0
..                  ...             ...  ...  ...     ...       ...          ...
460        Yohan Cabaye  Crystal+Palace   31  ...       6         0            0
461      YounÃ¨s Kaboul         Watford   31  ...      18         0            1
462     Ã‰tienne Capoue         Watford   29  ...      18         0            0
463       Ã€ngel Rangel         Swansea   34  ...      16         0            0
464  Åukasz FabiaÅ„ski         Swansea   32  ...      16         0            0

[460 rows x 17 columns]

In [190]:
players.shape

(465, 17)

#### BONUS - Removing Columns

In [0]:
# "remove rows" -> df.drop(labels=[19, 20], axis=0) or df.drop(index=[19, 20])

In [0]:
# "remove columns" -> ???

In [193]:
players.drop(labels=['age', 'market_value'], axis='columns')

                   name            club  ... big_club  new_signing
0       Aaron Cresswell        West+Ham  ...        0            0
1          Aaron Lennon         Everton  ...        0            0
2            Aaron Mooy    Huddersfield  ...        0            0
3          Aaron Ramsey         Arsenal  ...        1            0
4    Abdoulaye Doucoure         Watford  ...        0            0
..                  ...             ...  ...      ...          ...
460        Yohan Cabaye  Crystal+Palace  ...        0            0
461      YounÃ¨s Kaboul         Watford  ...        0            1
462     Ã‰tienne Capoue         Watford  ...        0            0
463       Ã€ngel Rangel         Swansea  ...        0            0
464  Åukasz FabiaÅ„ski         Swansea  ...        0            0

[465 rows x 15 columns]

In [194]:
players.columns

Index(['name', 'club', 'age', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [195]:
players.drop(columns=['age', 'market_value', 'name'])

               club position  position_cat  ...  club_id  big_club new_signing
0          West+Ham       LB             3  ...       20         0           0
1           Everton       RW             1  ...        7         0           0
2      Huddersfield       CM             2  ...        8         0           0
3           Arsenal       CM             2  ...        1         1           0
4           Watford       CM             2  ...       18         0           0
..              ...      ...           ...  ...      ...       ...         ...
460  Crystal+Palace       CM             2  ...        6         0           0
461         Watford       CB             3  ...       18         0           1
462         Watford       DM             2  ...       18         0           0
463         Swansea       RB             3  ...       16         0           0
464         Swansea       GK             4  ...       16         0           0

[465 rows x 14 columns]

#### BONUS - Another Way: pop()

In [196]:
players.pop('age')

0      27
1      30
2      26
3      26
4      24
       ..
460    31
461    31
462    29
463    34
464    32
Name: age, Length: 465, dtype: int64

In [0]:
# players.pop(['club', 'age'])

In [0]:
# players.pop('club') and then players.pop('age')

In [199]:
players.columns

Index(['name', 'club', 'position', 'position_cat', 'market_value',
       'page_views', 'fpl_value', 'fpl_sel', 'fpl_points', 'region',
       'nationality', 'new_foreign', 'age_cat', 'club_id', 'big_club',
       'new_signing'],
      dtype='object')

In [200]:
players.head(4)

              name          club position  ...  club_id  big_club  new_signing
0  Aaron Cresswell      West+Ham       LB  ...       20         0            0
1     Aaron Lennon       Everton       RW  ...        7         0            0
2       Aaron Mooy  Huddersfield       CM  ...        8         0            0
3     Aaron Ramsey       Arsenal       CM  ...        1         1            0

[4 rows x 16 columns]

#### BONUS - A Sophisticated Alternative

In [0]:
# reindex to remove rows/columns

In [202]:
players.reindex()

                   name            club  ... big_club  new_signing
0       Aaron Cresswell        West+Ham  ...        0            0
1          Aaron Lennon         Everton  ...        0            0
2            Aaron Mooy    Huddersfield  ...        0            0
3          Aaron Ramsey         Arsenal  ...        1            0
4    Abdoulaye Doucoure         Watford  ...        0            0
..                  ...             ...  ...      ...          ...
460        Yohan Cabaye  Crystal+Palace  ...        0            0
461      YounÃ¨s Kaboul         Watford  ...        0            1
462     Ã‰tienne Capoue         Watford  ...        0            0
463       Ã€ngel Rangel         Swansea  ...        0            0
464  Åukasz FabiaÅ„ski         Swansea  ...        0            0

[465 rows x 16 columns]

In [203]:
players.reindex(index=[0,3,9])

              name      club position  ...  club_id  big_club  new_signing
0  Aaron Cresswell  West+Ham       LB  ...       20         0            0
3     Aaron Ramsey   Arsenal       CM  ...        1         1            0
9           Adrian  West+Ham       GK  ...       20         0            0

[3 rows x 16 columns]

In [0]:
unwanted_rows = [1,2,3,4]
unwanted_columns = ['name', 'position', 'position_cat']

In [205]:
players.reindex(
    index=set(players.index).difference(unwanted_rows),
    columns=set(players.columns).difference(unwanted_columns)
    )

     new_signing  new_foreign  region  ... fpl_value            club  page_views
0              0            0       1  ...       5.0        West+Ham         380
5              0            0       4  ...       4.0     Bournemouth         126
6              0            0       1  ...       7.5       Liverpool        1808
7              0            0       1  ...       5.0     Bournemouth         200
8              0            0       1  ...       5.5         Everton        1387
..           ...          ...     ...  ...       ...             ...         ...
460            0            0       2  ...       5.5  Crystal+Palace         456
461            1            0       2  ...       4.5         Watford         263
462            0            0       2  ...       5.5         Watford         412
463            0            0       2  ...       4.0         Swansea         137
464            0            0       2  ...       4.5         Swansea         285

[461 rows x 13 columns]

#### Null Values In DataFrames

In [0]:
players = pd.read_csv('https://andybek.com/pandas-soccer')

In [207]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [208]:
players.shape

(465, 17)

In [0]:
# series refresher

In [0]:
ages = players.age

In [211]:
type(players.age)

pandas.core.series.Series

In [212]:
ages.isna()

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: age, Length: 465, dtype: bool

In [213]:
ages[ages.isna()]

Series([], Name: age, dtype: int64)

In [0]:
# dataframes

In [215]:
players.isna()

      name   club    age  position  ...  age_cat  club_id  big_club  new_signing
0    False  False  False     False  ...    False    False     False        False
1    False  False  False     False  ...    False    False     False        False
2    False  False  False     False  ...    False    False     False        False
3    False  False  False     False  ...    False    False     False        False
4    False  False  False     False  ...    False    False     False        False
..     ...    ...    ...       ...  ...      ...      ...       ...          ...
460  False  False  False     False  ...    False    False     False        False
461  False  False  False     False  ...    False    False     False        False
462  False  False  False     False  ...    False    False     False        False
463  False  False  False     False  ...    False    False     False        False
464  False  False  False     False  ...    False    False     False        False

[465 rows x 17 columns]

In [0]:
# how many NAs are there in this dataframe?

In [217]:
np.count_nonzero(players.isna())

4

In [0]:
# which records have NAs in this dataframe?

In [219]:
players[players.isna().values].drop_duplicates()

                  name            club  age  ... club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[3 rows x 17 columns]

#### Dropping And Filling DataFrame NAs

In [220]:
players.fillna('some meaningful replacement value').loc[[30, 192, 195]]

                  name            club  age  ... club_id  big_club new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1           0
192       Steve Mounie    Huddersfield   22  ...       8         0           0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0           0

[3 rows x 17 columns]

In [221]:
players.fillna({
    'market_value': 100,
    'position': 'RM'
}).loc[[30, 192, 195]]

                  name            club  age  ... club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[3 rows x 17 columns]

In [222]:
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [223]:
players.fillna({
    'market_value': players.market_value.mean(),
    'position': 'RM'
}).loc[[30, 192, 195]]

                  name            club  age  ... club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[3 rows x 17 columns]

In [0]:
# how about dropping nulls?

In [225]:
players.dropna(axis=1, how='all').loc[[30, 192, 195]]

                  name            club  age  ... club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[3 rows x 17 columns]

#### BONUS - Method And Axes With fillna()

In [226]:
players[players.isna().values].drop_duplicates()

                  name            club  age  ... club_id  big_club  new_signing
30        Granit Xhaka         Arsenal   24  ...       1         1            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[3 rows x 17 columns]

In [0]:
# players.fillna('some meaningful replacement value').loc[[30, 192, 195]]

# players.fillna({ 'market_value': 100, 'position': 'RM' }).loc[[30, 192, 195]]

In [228]:
players.fillna(method='ffill').loc[[29, 30, 191, 192, 194, 195]]

                  name            club  age  ... club_id  big_club  new_signing
29      Sead Kolasinac         Arsenal   24  ...       1         1            0
30        Granit Xhaka         Arsenal   24  ...       1         1            0
191   Laurent Depoitre    Huddersfield   28  ...       8         0            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
194       Riyad Mahrez  Leicester+City   26  ...       9         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[6 rows x 17 columns]

In [229]:
players.fillna(method='ffill', axis=0).loc[[29, 30, 191, 192, 194, 195]]

                  name            club  age  ... club_id  big_club  new_signing
29      Sead Kolasinac         Arsenal   24  ...       1         1            0
30        Granit Xhaka         Arsenal   24  ...       1         1            0
191   Laurent Depoitre    Huddersfield   28  ...       8         0            0
192       Steve Mounie    Huddersfield   22  ...       8         0            0
194       Riyad Mahrez  Leicester+City   26  ...       9         0            0
195  Kasper Schmeichel  Leicester+City   30  ...       9         0            0

[6 rows x 17 columns]

In [230]:
players.fillna(method='pad', axis=1).loc[[30, 192, 195]]

                  name            club age  ... club_id big_club new_signing
30        Granit Xhaka         Arsenal  24  ...       1        1           0
192       Steve Mounie    Huddersfield  22  ...       8        0           0
195  Kasper Schmeichel  Leicester+City  30  ...       9        0           0

[3 rows x 17 columns]

In [0]:
# 'ffill' -> 'pad'
# 'bfill' -> 'backfill'

In [0]:
# word of the lecture: duo -> pair

#### Skill Challenge

###### **1**.

From our *players* dataframe remove the rows labeled 2, 10, 21 and the market_value columns. Do not modify the underlying dataframe. Assign the result to _df2_.

###### **2**.

Does the _nationality_ column in _df2_ contain any NA values? How many unique nationalities are there?

###### **3**.

Starting from _df2_, isolate a dataframe slice of players that contains only the unique _age_-_position_ combinations for each _club_. Do not include the _club_ column itself.

#### Solution

In [233]:
players.head(3)

             name     club  age  ... club_id  big_club  new_signing
0  Alexis Sanchez  Arsenal   28  ...       1         1            0
1      Mesut Ozil  Arsenal   28  ...       1         1            0
2       Petr Cech  Arsenal   35  ...       1         1            0

[3 rows x 17 columns]

In [0]:
# 1

In [0]:
df2 = players.drop(labels=[2,10,21], axis=0)\
       .drop(labels='market_value', axis=1)

In [236]:
# alternative
players.drop(index=[2, 10, 21], columns='market_value')

                    name      club  age  ... club_id  big_club  new_signing
0         Alexis Sanchez   Arsenal   28  ...       1         1            0
1             Mesut Ozil   Arsenal   28  ...       1         1            0
3           Theo Walcott   Arsenal   28  ...       1         1            0
4      Laurent Koscielny   Arsenal   31  ...       1         1            0
5        Hector Bellerin   Arsenal   22  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1
464         Diafra Sakho  West+Ham   27  ...      20         0            0

[462 rows x 16 columns]

In [0]:
# 2

In [238]:
df2.nationality.isnull().sum()

0

In [239]:
df2.nationality[df2.nationality.isnull()]

Series([], Name: nationality, dtype: object)

In [0]:
# how many uniques

In [241]:
df2.nationality.drop_duplicates().size

61

In [0]:
# an alternative

In [243]:
df2.nationality.nunique()

61

In [0]:
# 3

In [245]:
df2.drop_duplicates(subset=['age', 'club', 'position'], keep='first').loc[:, ['age', 'position']]

     age position
0     28       LW
1     28       AM
3     28       RW
4     31       CB
5     22       RB
..   ...      ...
460   21       CM
461   23       LB
462   23       RB
463   21       CF
464   27       CF

[433 rows x 2 columns]

In [246]:
df2.shape

(462, 16)

#### Calculating Aggregates With agg()

In [247]:
players.agg('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [248]:
players.new_signing.mean()

0.14408602150537633

In [249]:
players.agg(np.min)

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                     4
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [0]:
# ===ASIDE

In [0]:
# >, <, <=, >= should have some meaning

In [252]:
'a' < 'b'

True

In [253]:
ord('a')

97

In [254]:
ord('b')

98

In [0]:
ls = ['a', 'b', 'c', 'day', 19]

In [0]:
# max(ls)

In [257]:
ord('d')

100

In [0]:
# ===END ASIDE

In [259]:
players.agg('min')

name            Aaron Cresswell
club                    Arsenal
age                          17
position_cat                  1
market_value               0.05
page_views                    3
fpl_value                     4
fpl_sel                   0.00%
fpl_points                    0
region                        1
nationality             Algeria
new_foreign                   0
age_cat                       1
club_id                       1
big_club                      0
new_signing                   0
dtype: object

In [260]:
players.select_dtypes(np.number).agg('min')

age             17.00
position_cat     1.00
market_value     0.05
page_views       3.00
fpl_value        4.00
fpl_points       0.00
region           1.00
new_foreign      0.00
age_cat          1.00
club_id          1.00
big_club         0.00
new_signing      0.00
dtype: float64

In [261]:
players.select_dtypes(np.number).agg(['min', 'max', 'mean'])

            age  position_cat  market_value  ...    club_id  big_club  new_signing
min   17.000000      1.000000      0.050000  ...   1.000000  0.000000     0.000000
max   38.000000      4.000000     75.000000  ...  20.000000  1.000000     1.000000
mean  26.776344      2.178495     11.125649  ...  10.253763  0.309677     0.144086

[3 rows x 12 columns]

#### Same-shape Transforms

In [262]:
players.head(3)

             name     club  age  ... club_id  big_club  new_signing
0  Alexis Sanchez  Arsenal   28  ...       1         1            0
1      Mesut Ozil  Arsenal   28  ...       1         1            0
2       Petr Cech  Arsenal   35  ...       1         1            0

[3 rows x 17 columns]

In [0]:
# we need an fx rate

In [0]:
# usdeur = 0.91

In [265]:
players.loc[:, ['market_value', 'fpl_value']]

     market_value  fpl_value
0            65.0       12.0
1            50.0        9.5
2             7.0        5.5
3            20.0        7.5
4            22.0        6.0
..            ...        ...
460           5.0        4.5
461           7.0        4.5
462           4.5        4.5
463           1.0        4.5
464          10.0        5.5

[465 rows x 2 columns]

In [266]:
players.loc[:, ['market_value', 'fpl_value']].transform(lambda x: x * 0.91)

     market_value  fpl_value
0          59.150     10.920
1          45.500      8.645
2           6.370      5.005
3          18.200      6.825
4          20.020      5.460
..            ...        ...
460         4.550      4.095
461         6.370      4.095
462         4.095      4.095
463         0.910      4.095
464         9.100      5.005

[465 rows x 2 columns]

In [267]:
players.loc[:, ['market_value', 'fpl_value']] * 0.91

     market_value  fpl_value
0          59.150     10.920
1          45.500      8.645
2           6.370      5.005
3          18.200      6.825
4          20.020      5.460
..            ...        ...
460         4.550      4.095
461         6.370      4.095
462         4.095      4.095
463         0.910      4.095
464         9.100      5.005

[465 rows x 2 columns]

In [0]:
# ===ASIDE

In [0]:
# 1. choice

In [0]:
from random import choice

In [0]:
names = ['Bud', 'Brooke', 'Paleo']

In [272]:
choice(names)

'Paleo'

In [0]:
# 2. str methods

In [274]:
'Andy'.upper()

'ANDY'

In [0]:
ser = pd.Series(['Bud CriMSon', 'Brooke', 'Paleo'])

In [276]:
ser.str.upper()

0    BUD CRIMSON
1         BROOKE
2          PALEO
dtype: object

In [277]:
ser.str.title()

0    Bud Crimson
1         Brooke
2          Paleo
dtype: object

In [278]:
ser.str.swapcase()

0    bUD cRImsON
1         bROOKE
2          pALEO
dtype: object

In [0]:
# ===END ASIDE

In [0]:
# the function should:
# - apply a random string capitalization method
# - to a sequence of values, and
# - return the transformed sequence

In [0]:
def random_case(x):
  funcs = [x.str.swapcase, x.str.lower, x.str.title, x.str.upper]

  return choice(funcs)()

In [282]:
for i in range(4):
  print(players.select_dtypes(include=object).transform(random_case).head())

                name     club position fpl_sel     nationality
0     Alexis Sanchez  arsenal       LW  17.10%           CHILE
1         Mesut Ozil  arsenal       AM   5.60%         GERMANY
2          Petr Cech  arsenal       GK   5.90%  CZECH REPUBLIC
3       Theo Walcott  arsenal       RW   1.50%         ENGLAND
4  Laurent Koscielny  arsenal       CB   0.70%          FRANCE
                name     club position fpl_sel     nationality
0     alexis sanchez  Arsenal       lw  17.10%           chile
1         mesut ozil  Arsenal       am   5.60%         germany
2          petr cech  Arsenal       gk   5.90%  czech republic
3       theo walcott  Arsenal       rw   1.50%         england
4  laurent koscielny  Arsenal       cb   0.70%          france
                name     club position fpl_sel     nationality
0     aLEXIS sANCHEZ  ARSENAL       Lw  17.10%           Chile
1         mESUT oZIL  ARSENAL       Am   5.60%         Germany
2          pETR cECH  ARSENAL       Gk   5.90%  Czech Republic
3       tHEO wALCOTT  ARSENAL       Rw   1.50%         England
4  lAURENT kOSCIELNY  ARSENAL       Cb   0.70%          France
                name     club position fpl_sel     nationality
0     Alexis Sanchez  arsenal       Lw  17.10%           chile
1         Mesut Ozil  arsenal       Am   5.60%         germany
2          Petr Cech  arsenal       Gk   5.90%  czech republic
3       Theo Walcott  arsenal       Rw   1.50%         england
4  Laurent Koscielny  arsenal       Cb   0.70%          france

#### More Flexibility With apply()

In [283]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [0]:
def round_floats(x):
  if x.dtype == np.float64:
    return round(x)

  return x

In [285]:
players.apply(round_floats)

                    name      club  age  ... club_id  big_club  new_signing
0         Alexis Sanchez   Arsenal   28  ...       1         1            0
1             Mesut Ozil   Arsenal   28  ...       1         1            0
2              Petr Cech   Arsenal   35  ...       1         1            0
3           Theo Walcott   Arsenal   28  ...       1         1            0
4      Laurent Koscielny   Arsenal   31  ...       1         1            0
..                   ...       ...  ...  ...     ...       ...          ...
460  Edimilson Fernandes  West+Ham   21  ...      20         0            1
461       Arthur Masuaku  West+Ham   23  ...      20         0            1
462            Sam Byram  West+Ham   23  ...      20         0            0
463      Ashley Fletcher  West+Ham   21  ...      20         0            1
464         Diafra Sakho  West+Ham   27  ...      20         0            0

[465 rows x 17 columns]

In [286]:
players.select_dtypes(np.float64).head()

   market_value  fpl_value
0          65.0       12.0
1          50.0        9.5
2           7.0        5.5
3          20.0        7.5
4          22.0        6.0

In [287]:
players.select_dtypes(np.float64).apply(round_floats).head()

   market_value  fpl_value
0          65.0       12.0
1          50.0       10.0
2           7.0        6.0
3          20.0        8.0
4          22.0        6.0

In [0]:
# apply() = agg() + transfroms()

In [0]:
# apply as aggregate

In [290]:
players.agg('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [291]:
players.apply('mean')

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [0]:
# players.transform('mean')

In [0]:
# flipping the axis param

In [294]:
players.apply('mean', axis=0)

age              26.776344
position_cat      2.178495
market_value     11.125649
page_views      771.546237
fpl_value         5.450538
fpl_points       57.544086
region            1.989247
new_foreign       0.034409
age_cat           3.195699
club_id          10.253763
big_club          0.309677
new_signing       0.144086
dtype: float64

In [295]:
players.age.mean()

26.776344086021506

In [296]:
players.apply('mean', axis=1)

0      392.333333
1      388.208333
2      143.708333
3      214.875000
4       91.916667
          ...
460     31.875000
461     24.791667
462     23.750000
463     39.875000
464     24.708333
Length: 465, dtype: float64

In [0]:
# players.loc[460, :].mean()

In [298]:
players.loc[460, [dtype != object for dtype in players.dtypes]].mean()

31.875

#### Element-wise Operations With applymap()

In [0]:
# vectorized ops: agg(), transform(), apply()

In [0]:
# non-vectorized: applymap()

In [301]:
players.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

In [0]:
# ~2%/year

In [0]:
inflation = 1.02

In [0]:
mini_df = players.loc[:, ['market_value', 'fpl_value']]

In [305]:
mini_df * inflation

     market_value  fpl_value
0           66.30      12.24
1           51.00       9.69
2            7.14       5.61
3           20.40       7.65
4           22.44       6.12
..            ...        ...
460          5.10       4.59
461          7.14       4.59
462          4.59       4.59
463          1.02       4.59
464         10.20       5.61

[465 rows x 2 columns]

In [0]:
from datetime import datetime
counter = 0

def log_and_transform(x):
  global counter
  counter += 1
  if counter % 100 == 0:
    print(f"It's {datetime.now()} and I just adjusted the {counter}th value.")
    # print("It's {} and I just adjusted the {}th value.".format(datetime.now(), counter))
  
  return x * inflation

In [307]:
import sys
sys.version

'3.6.9 (default, Nov  7 2019, 10:44:02) \n[GCC 8.3.0]'

In [308]:
mini_df.apply(log_and_transform)

     market_value  fpl_value
0           66.30      12.24
1           51.00       9.69
2            7.14       5.61
3           20.40       7.65
4           22.44       6.12
..            ...        ...
460          5.10       4.59
461          7.14       4.59
462          4.59       4.59
463          1.02       4.59
464         10.20       5.61

[465 rows x 2 columns]

In [309]:
mini_df.applymap(log_and_transform)

It's 2020-04-13 01:21:23.408745 and I just adjusted the 100th value.
It's 2020-04-13 01:21:23.409086 and I just adjusted the 200th value.
It's 2020-04-13 01:21:23.409250 and I just adjusted the 300th value.
It's 2020-04-13 01:21:23.409342 and I just adjusted the 400th value.
It's 2020-04-13 01:21:23.410245 and I just adjusted the 500th value.
It's 2020-04-13 01:21:23.410450 and I just adjusted the 600th value.
It's 2020-04-13 01:21:23.410582 and I just adjusted the 700th value.
It's 2020-04-13 01:21:23.410671 and I just adjusted the 800th value.
It's 2020-04-13 01:21:23.410751 and I just adjusted the 900th value.
It's 2020-04-13 01:21:23.411422 and I just adjusted the 1000th value.
It's 2020-04-13 01:21:23.411536 and I just adjusted the 1100th value.
It's 2020-04-13 01:21:23.412311 and I just adjusted the 1200th value.
It's 2020-04-13 01:21:23.412572 and I just adjusted the 1300th value.

     market_value  fpl_value
0           66.30      12.24
1           51.00       9.69
2            7.14       5.61
3           20.40       7.65
4           22.44       6.12
..            ...        ...
460          5.10       4.59
461          7.14       4.59
462          4.59       4.59
463          1.02       4.59
464         10.20       5.61

[465 rows x 2 columns]

#### Skill Challenge

###### **1.**

Create a standalone function that
- accepts a single parameter x
- returns the string 'relatively unknown' if x is less than 220
- 'kind of popular' if x is between 220 and 600 (non-inclusive)
- 'popular' if x is between 600 and 2000 (non-inclusive)
- 'super-popular' otherwise

| lower bound | upper bound (non-inclusive) | popularity label     |
|-------------|-----------------------------|----------------------|
| -inf        | 220                         | 'relatively unknown' |
| 220         | 600                         | 'kind of popular'    |
| 600         | 2000                        | 'popular'            |
| 2000        | +inf                        | 'super-popular'      |

###### **2.**

Apply the function from the step above to the players _page_views_ column. Use a method that supports vectorized operations.

###### **3.**

Add the output from the step above as a new column to the _players_ dataframe. Name the column _popularity_.

###### **4.**

How many "super-popular" players are there?

#### Solution

In [0]:
# 1

In [0]:
def get_popularity(x):
  if x < 220:
    return 'relatively unknown'
  elif x < 600:
    return 'kind of popular'
  elif x < 2000:
    return 'popular'
  else:
    return 'super-popular'

In [312]:
get_popularity(1)

'relatively unknown'

In [313]:
get_popularity(1000)

'popular'

In [314]:
get_popularity(10000)

'super-popular'

In [0]:
# 2

In [316]:
players.page_views.head()

0    4329
1    4395
2    1529
3    2393
4     912
Name: page_views, dtype: int64

In [317]:
players.page_views.apply(get_popularity)

0           super-popular
1           super-popular
2                 popular
3           super-popular
4                 popular
              ...
460       kind of popular
461    relatively unknown
462    relatively unknown
463       kind of popular
464    relatively unknown
Name: page_views, Length: 465, dtype: object

In [0]:
# 3

In [0]:
players['popularity'] = players.page_views.apply(get_popularity)

In [320]:
players.popularity

0           super-popular
1           super-popular
2                 popular
3           super-popular
4                 popular
              ...
460       kind of popular
461    relatively unknown
462    relatively unknown
463       kind of popular
464    relatively unknown
Name: popularity, Length: 465, dtype: object

In [0]:
# 4

In [322]:
players.popularity.value_counts()

kind of popular       170
popular               143
relatively unknown    115
super-popular          37
Name: popularity, dtype: int64

In [323]:
players[players.popularity == 'super-popular'].name.size

37

#### Setting DataFrame Values

In [324]:
players.head(10)

                name     club  age  ... big_club  new_signing       popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0    super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0    super-popular
2          Petr Cech  Arsenal   35  ...        1            0          popular
3       Theo Walcott  Arsenal   28  ...        1            0    super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0          popular
5    Hector Bellerin  Arsenal   22  ...        1            0          popular
6     Olivier Giroud  Arsenal   30  ...        1            0    super-popular
7      Nacho Monreal  Arsenal   31  ...        1            0  kind of popular
8   Shkodran Mustafi  Arsenal   25  ...        1            1          popular
9         Alex Iwobi  Arsenal   21  ...        1            0          popular

[10 rows x 18 columns]

In [325]:
%%timeit
players.loc[3, 'position'] = 'CM'

1000 loops, best of 3: 361 µs per loop

In [326]:
355/5.73

61.95462478184991

In [327]:
players.head()

                name     club  age  ... big_club  new_signing     popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0  super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0  super-popular
2          Petr Cech  Arsenal   35  ...        1            0        popular
3       Theo Walcott  Arsenal   28  ...        1            0  super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0        popular

[5 rows x 18 columns]

In [328]:
%%timeit
players.iloc[3, 3] = 'RW'

1000 loops, best of 3: 356 µs per loop

In [0]:
# at[] and iat[] should be preferred for single value assignment

In [330]:
%%timeit
players.at[3, 'position'] = 'CM'

The slowest run took 55.72 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 5.98 µs per loop

In [331]:
players.head()

                name     club  age  ... big_club  new_signing     popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0  super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0  super-popular
2          Petr Cech  Arsenal   35  ...        1            0        popular
3       Theo Walcott  Arsenal   28  ...        1            0  super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0        popular

[5 rows x 18 columns]

In [332]:
%%timeit
players.iat[3, 3] = 'RW'

The slowest run took 13.93 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 7.1 µs per loop

#### The SettingWithCopy Warning

In [333]:
players.head()

                name     club  age  ... big_club  new_signing     popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0  super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0  super-popular
2          Petr Cech  Arsenal   35  ...        1            0        popular
3       Theo Walcott  Arsenal   28  ...        1            0  super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0        popular

[5 rows x 18 columns]

In [334]:
players['page_views'][2] = 2001

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [335]:
players.head()

                name     club  age  ... big_club  new_signing     popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0  super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0  super-popular
2          Petr Cech  Arsenal   35  ...        1            0        popular
3       Theo Walcott  Arsenal   28  ...        1            0  super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0        popular

[5 rows x 18 columns]

In [336]:
players.drop_duplicates()['page_views'][2] = 3000

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [337]:
players.head()

                name     club  age  ... big_club  new_signing     popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0  super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0  super-popular
2          Petr Cech  Arsenal   35  ...        1            0        popular
3       Theo Walcott  Arsenal   28  ...        1            0  super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0        popular

[5 rows x 18 columns]

In [0]:
pd.options.mode.chained_assignment = 'warn'

In [0]:
# 'None' -> turns the SettingWithCopyWarning off

#### View vs Copy

In [340]:
players.head()

                name     club  age  ... big_club  new_signing     popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0  super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0  super-popular
2          Petr Cech  Arsenal   35  ...        1            0        popular
3       Theo Walcott  Arsenal   28  ...        1            0  super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0        popular

[5 rows x 18 columns]

In [0]:
players.loc[0:3, 'position'] = ['CM', 'RW', 'CB', 'GK']

In [342]:
players.head()

                name     club  age  ... big_club  new_signing     popularity
0     Alexis Sanchez  Arsenal   28  ...        1            0  super-popular
1         Mesut Ozil  Arsenal   28  ...        1            0  super-popular
2          Petr Cech  Arsenal   35  ...        1            0        popular
3       Theo Walcott  Arsenal   28  ...        1            0  super-popular
4  Laurent Koscielny  Arsenal   31  ...        1            0        popular

[5 rows x 18 columns]

In [0]:
# Aaron -> nickname

In [344]:
players.loc[players.name.str.startswith('Aaron')]

                name          club  age  ... big_club  new_signing       popularity
15      Aaron Ramsey       Arsenal   26  ...        1            0          popular
157     Aaron Lennon       Everton   30  ...        0            0  kind of popular
176       Aaron Mooy  Huddersfield   26  ...        0            0  kind of popular
455  Aaron Cresswell      West+Ham   27  ...        0            0  kind of popular

[4 rows x 18 columns]

In [0]:
players.loc[players.name.str.startswith('Aaron'), 'name'] = 'Ronny'

In [346]:
players.loc[[15, 157, 176, 455]]

      name          club  age  ... big_club  new_signing       popularity
15   Ronny       Arsenal   26  ...        1            0          popular
157  Ronny       Everton   30  ...        0            0  kind of popular
176  Ronny  Huddersfield   26  ...        0            0  kind of popular
455  Ronny      West+Ham   27  ...        0            0  kind of popular

[4 rows x 18 columns]

In [0]:
# do not do this!

In [348]:
players['age'].iloc[1] = '12'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [349]:
players.drop_duplicates().loc[3, 'position'] = 'CM'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

#### Adding DataFrame Columns

In [350]:
players.popularity

0           super-popular
1           super-popular
2                 popular
3           super-popular
4                 popular
              ...
460       kind of popular
461    relatively unknown
462    relatively unknown
463       kind of popular
464    relatively unknown
Name: popularity, Length: 465, dtype: object

In [351]:
'MVtoFPL' in players

False

In [352]:
'popularity' in players

True

In [0]:
players['MVtoFPL'] = 1.0

In [354]:
'MVtoFPL' in players

True

In [355]:
players.head()

                name     club age  ... new_signing     popularity  MVtoFPL
0     Alexis Sanchez  Arsenal  28  ...           0  super-popular      1.0
1         Mesut Ozil  Arsenal  12  ...           0  super-popular      1.0
2          Petr Cech  Arsenal  35  ...           0        popular      1.0
3       Theo Walcott  Arsenal  28  ...           0  super-popular      1.0
4  Laurent Koscielny  Arsenal  31  ...           0        popular      1.0

[5 rows x 19 columns]

In [0]:
players['MVtoFPL'] = players['market_value'] / players['fpl_value']

In [357]:
players.head()

                name     club age  ... new_signing     popularity   MVtoFPL
0     Alexis Sanchez  Arsenal  28  ...           0  super-popular  5.416667
1         Mesut Ozil  Arsenal  12  ...           0  super-popular  5.263158
2          Petr Cech  Arsenal  35  ...           0        popular  1.272727
3       Theo Walcott  Arsenal  28  ...           0  super-popular  2.666667
4  Laurent Koscielny  Arsenal  31  ...           0        popular  3.666667

[5 rows x 19 columns]

In [0]:
df_mini = players.iloc[:4, 1:5]

In [359]:
df_mini

      club age position  position_cat
0  Arsenal  28       CM             1
1  Arsenal  12       RW             1
2  Arsenal  35       CB             4
3  Arsenal  28       GK             1

In [0]:
player_names = pd.Series(['Bronson', 'Bradley', 'Ronald', 'Ronny'])

In [361]:
player_names

0    Bronson
1    Bradley
2     Ronald
3      Ronny
dtype: object

In [0]:
df_mini.insert(0, 'nicknames', player_names)

In [363]:
df_mini

  nicknames     club age position  position_cat
0   Bronson  Arsenal  28       CM             1
1   Bradley  Arsenal  12       RW             1
2    Ronald  Arsenal  35       CB             4
3     Ronny  Arsenal  28       GK             1

In [0]:
# the assign() approach

In [365]:
df_mini.assign(career_goals=[12 ,67, 179, 49], nationality=['American', 'British', 'Turkish', 'Indian'])

  nicknames     club age position  position_cat  career_goals nationality
0   Bronson  Arsenal  28       CM             1            12    American
1   Bradley  Arsenal  12       RW             1            67     British
2    Ronald  Arsenal  35       CB             4           179     Turkish
3     Ronny  Arsenal  28       GK             1            49      Indian

In [366]:
df_mini

  nicknames     club age position  position_cat
0   Bronson  Arsenal  28       CM             1
1   Bradley  Arsenal  12       RW             1
2    Ronald  Arsenal  35       CB             4
3     Ronny  Arsenal  28       GK             1

#### Adding Rows To DataFrames

In [367]:
df_mini

  nicknames     club age position  position_cat
0   Bronson  Arsenal  28       CM             1
1   Bradley  Arsenal  12       RW             1
2    Ronald  Arsenal  35       CB             4
3     Ronny  Arsenal  28       GK             1

In [0]:
# the append() method -> series, dfs, or a collection of them

In [0]:
cristiano = pd.Series({
    'nicknames': 'Cristiano',
    'age': 32,
    'position': 'RW',
    'club': 'Juventus',
    'position_cat': 1
}, name=4)

In [370]:
cristiano

nicknames       Cristiano
age                    32
position               RW
club             Juventus
position_cat            1
Name: 4, dtype: object

In [0]:
df_mini = df_mini.append(cristiano)

In [0]:
# df_mini.append([player_1, player_2, player_3...])

In [0]:
other_players = pd.DataFrame({
    'nicknames': ['Gianluigi', 'Lionel'],
    'age': [37, 32],
    'club': ['Juventus', 'Barcelona'],
    'position': ['GK', 'CF'],
    'position_cat': [4,2]
}, index=[5,6])

In [374]:
other_players

   nicknames  age       club position  position_cat
5  Gianluigi   37   Juventus       GK             4
6     Lionel   32  Barcelona       CF             2

In [0]:
df_mini = df_mini.append(other_players)

In [0]:
# setting with enlargement

In [0]:
# df['inexistent label'] = 'some value'

In [378]:
df_mini

   nicknames       club age position  position_cat
0    Bronson    Arsenal  28       CM             1
1    Bradley    Arsenal  12       RW             1
2     Ronald    Arsenal  35       CB             4
3      Ronny    Arsenal  28       GK             1
4  Cristiano   Juventus  32       RW             1
5  Gianluigi   Juventus  37       GK             4
6     Lionel  Barcelona  32       CF             2

In [0]:
df_mini.loc[9] = 'some row value'

In [380]:
df_mini

        nicknames            club  ...        position    position_cat
0         Bronson         Arsenal  ...              CM               1
1         Bradley         Arsenal  ...              RW               1
2          Ronald         Arsenal  ...              CB               4
3           Ronny         Arsenal  ...              GK               1
4       Cristiano        Juventus  ...              RW               1
5       Gianluigi        Juventus  ...              GK               4
6          Lionel       Barcelona  ...              CF               2
9  some row value  some row value  ...  some row value  some row value

[8 rows x 5 columns]

In [0]:
# adding rows to dataframes is inefficient (a very expensive operation)

#### BONUS - How Are DataFrames Stored In Memory

In [382]:
players.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Columns: 19 entries, name to MVtoFPL
dtypes: float64(3), int64(9), object(7)
memory usage: 69.1+ KB

In [383]:
players.head()

                name     club age  ... new_signing     popularity   MVtoFPL
0     Alexis Sanchez  Arsenal  28  ...           0  super-popular  5.416667
1         Mesut Ozil  Arsenal  12  ...           0  super-popular  5.263158
2          Petr Cech  Arsenal  35  ...           0        popular  1.272727
3       Theo Walcott  Arsenal  28  ...           0  super-popular  2.666667
4  Laurent Koscielny  Arsenal  31  ...           0        popular  3.666667

[5 rows x 19 columns]

#### Skill Challenge

###### **1.**

From the _players_ dataframe select 4 columns and 4 rows, of no particular order. Assign the resulting 4x4 dataframe to _df_random_.

###### **2**.

Extend _df_random_ **1**) vertically by adding a new row, and **2**) horizontally by adding a new column. Do this as two separate operations.

###### **3.**

Compare the relative performance of the operations above. Is adding a row or column faster? Is there a significant difference?

#### Solution

In [0]:
# 1

In [388]:
players.head()

                name     club age  ... new_signing     popularity   MVtoFPL
0     Alexis Sanchez  Arsenal  28  ...           0  super-popular  5.416667
1         Mesut Ozil  Arsenal  12  ...           0  super-popular  5.263158
2          Petr Cech  Arsenal  35  ...           0        popular  1.272727
3       Theo Walcott  Arsenal  28  ...           0  super-popular  2.666667
4  Laurent Koscielny  Arsenal  31  ...           0        popular  3.666667

[5 rows x 19 columns]

In [389]:
players.loc[0:3, 'name':'position']

             name     club age position
0  Alexis Sanchez  Arsenal  28       CM
1      Mesut Ozil  Arsenal  12       RW
2       Petr Cech  Arsenal  35       CB
3    Theo Walcott  Arsenal  28       GK

In [0]:
df_random = players.sample(4).sample(4, axis=1)

In [394]:
df_random

     nationality age position  club_id
288       Sweden  23       CB       12
35        Poland  37       GK        2
451      Ireland  30       GK       20
304  Netherlands  28       AM       13

In [0]:
# 2

In [397]:
df_random

     nationality age position  club_id
288       Sweden  23       CB       12
35        Poland  37       GK        2
451      Ireland  30       GK       20
304  Netherlands  28       AM       13

In [0]:
# adding a row

In [399]:
df_random.append(pd.Series({'nationality': 'Norway', 'age': 24, 'position': 'CM', 'club_id': 20}, name=307))

     nationality age position  club_id
288       Sweden  23       CB       12
35        Poland  37       GK        2
451      Ireland  30       GK       20
304  Netherlands  28       AM       13
307       Norway  24       CM       20

In [0]:
# add a column

In [402]:
df_random.assign(years_in_league=[3, 6, 1, 10])

     nationality age position  club_id  years_in_league
288       Sweden  23       CB       12                3
35        Poland  37       GK        2                6
451      Ireland  30       GK       20                1
304  Netherlands  28       AM       13               10

In [0]:
# 3

In [407]:
%%timeit
df_random.append(pd.Series({'nationality': 'Norway', 'age': 24, 'position': 'CM', 'club_id': 20}, name=307))

100 loops, best of 3: 4.4 ms per loop

In [408]:
%%timeit
df_random.assign(years_in_league=[3, 6, 1, 10])

1000 loops, best of 3: 623 µs per loop

In [409]:
4400/623

7.062600321027287