In [1]:
import os
os.chdir("C:\\Users\\User\\Desktop\\SG")

In [2]:
#print statement
print("hello world India")

hello world India

In [3]:
#print statement
print("hello","world")

hello world

In [5]:
#VARIABLES VS CONSTANTS
print(2000) #constant

myvar = "Aman" #variable declaration
print(myvar)

print(myvar*3)

2000
Aman
AmanAmanAman

# Python DataTypes#################

Data types are the classification or categorization of data items

Three categories of data type at high level
1. Numeric
2. Boolean
3. Sequence type

# Numeric Data type 1/3 - Integers

In [6]:
#Declare a variable
mydata_int = 3

In [7]:
mydata_int

3

In [9]:
#Check type of "mydata_int"
type(mydata_int)

int

# Numeric Data type 2/3 - Float

In [10]:
#Declare a variable
mydata_float = 3.5

In [11]:
#Check type of "mydata_float"
type(mydata_float)

float

# Numeric Data type 3/3 - Complex

In [133]:
#Declare a variable
mydata_complex = 6+4j

In [134]:
#Check type of "mydata_complex"
type(mydata_float)

float

# Boolean Data type 1/1

In [138]:
#Declare a variable
mydata_boolean = False

In [139]:
#Check type of "mydata_boolean"
type(mydata_boolean)

bool

# Sequence Data type - 1/5 - String

In [13]:
#Declare a string datatype - collection of one or more characters
mystring = "My name is Aman"

In [14]:
#Check the type
type(mystring)

str

In [15]:
mystring

'My name is Aman'

In [16]:
print("The type of variable having value", mystring, " is ", type(mystring))

The type of variable having value My name is Aman  is  <class 'str'>

In [18]:
#Some string operations
print(mystring[3:7]) #print character starting from 0 and stops before 3

name

In [81]:
print(len(mystring)) #length of string

15

In [149]:
#string concat example
str1 = 'Aman'
str2 = 'Kumar'

full_name = str1+" "+str2
print(full_name)

Aman Kumar

# Sequence Data type - 2/5 - List

In [21]:
#create a list - collection of one or more data items - not neccesarily same type - (mutable)
mylist = [1,2,32,34,'abc']
mynewist = list()

In [24]:
mynewist = list([1,2,3])

In [22]:
#Check type
print("The type of variable having value", mylist, " is ", type(mylist))

The type of variable having value [1, 2, 32, 34, 'abc']  is  <class 'list'>

In [25]:
#access list elements
mylist[3]

34

In [26]:
#add an element to list
mylist.append(65)

In [27]:
#Print list again
mylist

[1, 2, 32, 34, 'abc', 65]

In [155]:
mylist[1]

2

In [28]:
#change an element of list
mylist[1] = 'Donald trump'

In [29]:
#See new list - List is mutable - very very Important
mylist

[1, 'Donald trump', 32, 34, 'abc', 65]

In [30]:
mylist[1]

'Donald trump'

# Sequence Data type - 3/5 - Tuple

In [31]:
#Declare a tuple-collection of one or more data items - not neccesarily same type - (Immutable)
mytuple = (2,3,4,7)

In [32]:
#Check type of tuple
type(mytuple)

tuple

In [33]:
#access elements of tuple
mytuple[3]

7

In [34]:
#Change element of tuple - tupple is immutable
mytuple[3] = "text"

TypeError: 'tuple' object does not support item assignment

# Sequence Data type - 4/5 - Set

In [35]:
#Declare a set - unordered collection of unique items.
myset = {3,21,7,6,3} #Giving duplicate entries

In [36]:
#Check type 
type(myset)

set

In [37]:
myset #Does not take duplicate entries

{3, 6, 7, 21}

In [98]:
print(myset[2]) #not allowed since it is not subscriptable
#We can perform set operations like union, intersection on two sets

TypeError: 'set' object is not subscriptable

# Sequence Data type - 5/5 - dictionary

In [48]:
myt = (1,4,5)

In [49]:
#Declare a dictionary - unordered collection of key-value pair
mydict = {2:'Aman','surname':'kumar','key':myt}

In [50]:
#Check type
type(mydict)

dict

In [51]:
#Access elements
mydict.values()

dict_values(['Aman', 'kumar', (1, 4, 5)])

In [41]:
#dupicate keys create issues
mydict = {'name':'Aman','surname':'kumar','name':'abc','name':123}

In [ ]:
mydict.update()

In [42]:
mydict

{'name': 123, 'surname': 'kumar'}

In [174]:
#Typecasting example
my_integer = 32
type(my_integer)

int

In [175]:
my_integer = str(32)
type(my_integer)

str