Anova when one categorical variable has more then 2 groups
Two types
Anova 1 Way
Anova 2 Way

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols #ordinary least square

In [2]:
#water: how frequently each plant was watered: daily or weekly
#sun: how much sunlight exposure each plant received: low, medium, or high
#height: the height of each plant (in inches) after two months

In [5]:
#create data
#Plant Growth - Water, Sun, Plant Height
df=pd.DataFrame({'water':np.repeat(['daily','weekly'], 15),
                 'sun':np.tile(np.repeat(['low','med','high'],5),2),
                   'height': [6, 6, 6, 5, 6, 5, 5, 6, 4, 5,
                              6, 6, 7, 8, 7, 3, 4, 4, 4, 5,
                              4, 4, 4, 4, 4, 5, 6, 6, 7, 8]})

#view first ten rows of data 
#df[:10]
df

     water   sun  height
0    daily   low       6
1    daily   low       6
2    daily   low       6
3    daily   low       5
4    daily   low       6
5    daily   med       5
6    daily   med       5
7    daily   med       6
8    daily   med       4
9    daily   med       5
10   daily  high       6
11   daily  high       6
12   daily  high       7
13   daily  high       8
14   daily  high       7
15  weekly   low       3
16  weekly   low       4
17  weekly   low       4
18  weekly   low       4
19  weekly   low       5
20  weekly   med       4
21  weekly   med       4
22  weekly   med       4
23  weekly   med       4
24  weekly   med       4
25  weekly  high       5
26  weekly  high       6
27  weekly  high       6
28  weekly  high       7
29  weekly  high       8

In [6]:
#perform one-way ANOVA
model = ols('height ~ C(sun)',data=df).fit()
sm.stats.anova_lm(model, typ=1)

            df     sum_sq    mean_sq          F    PR(>F)
C(sun)     2.0  24.866667  12.433333  14.105042  0.000064
Residual  27.0  23.800000   0.881481        NaN       NaN

In [7]:
#perform two-way ANOVA
model = ols('height ~ C(water) + C(sun) + C(water):C(sun)', data=df).fit()
sm.stats.anova_lm(model, typ=2)

                    sum_sq    df        F    PR(>F)
C(water)          8.533333   1.0  16.0000  0.000527
C(sun)           24.866667   2.0  23.3125  0.000002
C(water):C(sun)   2.466667   2.0   2.3125  0.120667
Residual         12.800000  24.0      NaN       NaN

In [8]:
#water: p-value = .000527
#sun: p-value = .0000002
#water*sun: p-value = .120667

In [ ]:
#Since the p-values for water and sun are both less than .05, 
#this means that both factors have a statistically significant effect 
#on plant height.

#And since the p-value for the interaction effect (.120667) is not less 
#than .05, this tells us that there is no significant interaction effect 
#between sunlight exposure and watering frequency.