# **String Manipulation**



1.   **Creating a string**

>Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [1]:
# Python Program for creating string
   
String1 = 'Creating a String  with single Quotes.'
String2 = "Creating a String  with double Quotes."
String3 = '''Creating a String  with triple Quotes.'''
print(String1) 
print(String2) 
print(String3)

Creating a String  with single Quotes.
Creating a String  with double Quotes.
Creating a String  with triple Quotes.



2.   **Accessing characters in Python**

In [2]:
# Python Program to Access characters of String 
# characters of String 
  
String = "Exploratory Data Analysis"

# Printing First character 
print("\nFirst character of String is: ") 
print(String[0]) 
  
# Printing Last character 
print("\nLast character of String is: ") 
print(String[-1])

First character of String is:
E

Last character of String is:
s

3.   **String Slicing**

In [3]:
# Python Program to demonstrate String slicing 
  
# Creating a String 
String = "Exploratory Data Analysis"
  
# Printing 3rd to 12th character 
print("\nSlicing characters from 3-12: ") 
print(String[3:12]) 
  
# Printing characters between 3rd and 2nd last character 
print("\nSlicing characters between " +
    "3rd and 2nd last character: ") 
print(String[3:-2])

Slicing characters from 3-12:
loratory

Slicing characters between 3rd and 2nd last character:
loratory Data Analys

4.   **Deleting/Updating from a String**

In [4]:
# Updation of a character

String = "Exploratory Data Analysis"

String[2] = 'p'
print("\nUpdating character at 2nd Index: ") 
print(String)

TypeError: ignored

In [5]:
# Update entire String 
  
String1 = "Exploratory Data Analysis"
print("\nInitial String: ")
print(String1)  

String2 = "Welcome to the world of Data Science."
print("\nUpdated String: ") 
print(String2)

Initial String:
Exploratory Data Analysis

Updated String:
Welcome to the world of Data Science.

In [6]:
# Delete characters from a String 
  
String = "Exploratory Data Analysis"
  
del String[2]  
print(String)

TypeError: ignored

In [7]:
# Delete characters from a String 
  
String = "Exploratory Data Analysis"
  
del String  
print(String)

NameError: ignored

5.   **Escape Sequencing in Python**

In [9]:
# Python Program for Escape Sequencing  of String 
  
String = '''I'm a "Data Scientist"'''

# Initial String 
print("Initial String with use of Triple Quotes: ") 
print(String) 

# Escaping Single Quote  
String = 'I\'m a "Data Scientist"'
print("\nEscaping Single Quote: ") 
print(String) 
  
# Escaping Doule Quotes 
String = "I'm a \"Data Scientist\""
print("\nEscaping Double Quotes: ") 
print(String) 
  
# Printing Paths with the use of Escape Sequences 
String = "C:\\Python\\DataScience\\"
print("\nEscaping Backslashes: ") 
print(String) 

# To ignore the escape sequences in a String,r or R 
# is used, this implies that the string is a raw string
# and escape sequences inside it are to be ignored.

# Printing statements in diffrent lines 
Statements = "Lets talk about EDA.\n EDA is an acronym for Exploratory Data Analysis"
print("\nPrinting with the use of Escape Sequences: ") 
print(Statements) 
  
# Using raw String to  
# ignore Escape Sequences 
Statements = r"Lets talk about EDA.\n EDA is an acronym for Exploratory Data Analysis"
print("\nPrinting Raw String : ") 
print(Statements)

Initial String with use of Triple Quotes:
I'm a "Data Scientist"

Escaping Single Quote:
I'm a "Data Scientist"

Escaping Double Quotes:
I'm a "Data Scientist"

Escaping Backslashes:
C:\Python\DataScience\

Printing with the use of Escape Sequences:
Lets talk about EDA.
 EDA is an acronym for Exploratory Data Analysis

Printing Raw String :
Lets talk about EDA.\n EDA is an acronym for Exploratory Data Analysis

6.   **Formatting of Strings**

In [10]:
# Python Program for Formatting of Strings 
  
# Default order 
String1 = "{} {} {}".format('Exploratory ', 'Data ', 'Analysis') 
print("Print String in default order: ") 
print(String1) 
  
# Positional Formatting 
String1 = "{1} {0} {2}".format('Exploratory', 'Data', 'Analysis') 
print("\nPrint String in Positional order: ") 
print(String1) 
  
# Keyword Formatting 
String1 = "{l} {f} {g}".format(g = 'Exploratory', f = 'Data', l = 'Analysis') 
print("\nPrint String in order of Keywords: ") 
print(String1)

Print String in default order:
Exploratory  Data  Analysis

Print String in Positional order:
Data Exploratory Analysis

Print String in order of Keywords:
Analysis Data Exploratory

## Working with text dataset

For string formatting taking a little messier dataset would bee better. Kaggle launched a data exploration competition, giving users access to a database of comments made on Reddit.com during May 2015. I extracted the comments from the team's fan subreddit from the database of one of the popular basketball team Minnesota Timberwolves. You can get the data file (comments.csv)
[here](https://www.kaggle.io/svf/41614/79c92bacce098553297dbeec6c7c2196/comments.csv).

Let's start by loading the data and checking its structure and a few of the comments:

In [0]:
import numpy as np
import pandas as pd
import os

In [13]:

text = pd.read_csv("comments.csv")

text = text["body"]     # Convert from df to series

print (text.shape)

print( text.head(8))

(4166,)
0    Strongly encouraging sign for us.  The T-Wolve...
1    [My reaction.](http://4.bp.blogspot.com/-3ySob...
2                     http://imgur.com/gallery/Zch2AWw
3    Wolves have more talent than they ever had rig...
4    Nah. Wigg is on the level of KG but where's ou...
5           2004 was a pretty damn talented team dude.
6                                                  :')
7                                              *swoon*
Name: body, dtype: object

# Pandas String Functions

In [0]:
# str.lower() to convert the first comment to lowercase 
text[0].lower()

In [0]:
# Convert all comment to lowercase str.lower()
text.str.lower().head(8)

In [0]:
# str.upper() to convert the first comment to uppercase 
text[0].upper()

In [0]:
# str.len() to Get the length of all comments
text.str.len().head(8)

The string splitting and stripping functions also have pandas equivalents:

In [0]:
# Split comments on spaces
text.str.split(" ").head(8)

In [0]:
# Strip leading and trailing brackets
text.str.strip("[]").head(8)

Combine all the strings in a series together into a single string with series.str.cat():

In [0]:
 # Check the first 500 characters
text.str.cat()[0:500]

You can slice each string in a series and return the result in an elementwise fasion with series.str.slice():

In [0]:
# Slice the first 10 characters
text.str.slice(0, 10).head(8)

You can also use indexing after series.str to take slices:

In [0]:
# Slice the first 10 characters
text.str[0:10].head(8)

Replace a slice with a new substring using str.slice_replace():

In [0]:
text.str.slice_replace(5, 10, " Love you Wolves " ).head(8)

Replace the occurences of a given substring with a different substring using str.replace():

In [0]:
text.str.replace("Wolves", "Fox").head(8)

In [0]:
 # Get first 10 comments about Andrew Wiggins
selected_comments = text.str.lower().str.contains("wigg|drew")

text[selected_comments].head(10)

Just for information lets calculate the ratio of comments that mention Andrew Wiggins:

In [0]:
len(text[selected_comments])/len(text)

# Regular Expressions

"." - The period is a metacharacter that matches any character other than a newline:

In [0]:
# Match any substring ending in ill
my_words = pd.Series(["abaa","cabb","Abaa","sabb","dcbb"])
 
my_words.str.contains(".abb")

"[ ]" - Square brackets specify a set of characters to match:

In [0]:
# Matches T or t followed by "ill"
my_words.str.contains("[Aa]abb")

"^" - outside of square brackets, the caret symbol searches for matches at the beginning of a string:

In [0]:
# Matches He or he at the start of a string
Sentence_series= pd.Series(["Where did he go", "He went to the shop", "he is good"])

Sentence_series.str.contains("^(He|he)")

"$" - searches for matches at the end of a string:

In [0]:
# Matches go at the end of a string
Sentence_series.str.contains("(go)$")

In [0]:
# Match 0 or more a's, a single b, then 1 or characters

Word_series1 = pd.Series(["abnormal","bb","a","abbcc","aba"])

Word_series1.str.contains("a*b.+")

In [0]:
# Match 2 a's then 2 or more b's

Word_series2 = pd.Series(["abbaab","abbb","aabcbcb","aabb"])

Word_series2.str.contains("a{2}b{1,}")

In [0]:
# Match a single period and then a space

Word_series3 = pd.Series(["Mr. SK","Dr. Deepak","Miss\Mrs Gaire."])

Word_series3.str.contains("\. ")

In [0]:
# Match strings containing a backslash
Word_series3.str.contains(r"\\")

In [0]:
text.str.count(r"[Ww]olves").head(8)

Use series.str.findall() to get each matched substring and return the result as a list:

In [0]:
text.str.findall(r"[Ww]olves").head(8)

# Getting Posts with Web Links

In [0]:
web_links = text.str.contains(r"https?:")

posts_with_links = text[web_links]

print( len(posts_with_links))

posts_with_links.head(5)

In [0]:
only_links = posts_with_links.str.findall(r"https?:[^ \n\)]+")

only_links.head(10)