## Part 1.2 Functions

*  **Writing Functions**
*  Function arguments:  positional, keyword
*  Functional Currying:  Passing uncalled functions
*  Functions that Yield
*  Decorators:  Functions that wrap other functions
*  Making Classes Behave Like Functions
*  Applying a Function to a Pandas DataFrame
*  Writing Lambdas

#### Writing Functions
Learning to write a function is the most fundamental skill to learn in Python.  With a basic mastery of functions, it is possible to have an almost full command of the language.

**Simple function**

The simplest functions just return a value.

In [1]:
def favorite_martial_art():
    return "bjj"

In [2]:
print(favorite_martial_art())
# This is the same output
my_variable = "bjj"
my_variable

bjj

'bjj'

In [3]:
def myfunc():pass

In [4]:
res = myfunc()
print(res)
#result = myfunc()
#print(result)

None

**Documenting Functions**

It is a very good idea to document functions.  
In Jupyter Notebook and IPython docstrings can be viewed by referring to the function with a ?.  ie.

```
In [2]: favorite_martial_art_with_docstring?
Signature: favorite_martial_art_with_docstring()
Docstring: This function returns the name of my favorite martial art
File:      ~/src/functional_intro_to_python/<ipython-input-1-bef983c31735>
Type:      function
```

In [5]:
def favorite_martial_art_with_docstring():
    """This function returns the name of my favorite martial art
    This is more
    This is even more
    return "string"
    """
    return "bjj"

**Docstrings of functions can be printed out by referring to *```__doc__```***

In [6]:
#favorite_martial_art_with_docstring.__doc__
favorite_martial_art_with_docstring?

In [7]:
#favorite_martial_art_with_docstring?

#### Function arguments: positional, keyword

A function is most useful when arguments are passed to the function. New values for times are processed inside the function. This function is also a 'positional' argument, vs a keyword argument. Positional arguments are processed in the order they are created in.

In [8]:
def practice(times):
    print(f"I like to practice {times} times a day")

In [9]:
practice(2)

I like to practice 2 times a day

In [10]:
practice(3)

I like to practice 3 times a day

**Positional Arguments are processed in order**

Note, *position* is the key to pay attention to.

In [11]:
def practice(times, technique, duration):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [12]:
practice(3, "piano", 45)

I like to practice piano, 3 times a day, for 45 minutes

In [13]:
#Order is important, now the entire is incorrect and prints out nonsense
practice("piano", 7,60)

I like to practice 7, piano times a day, for 60 minutes

**Keyword Arguments are processed by key, value and can have default values**

One handy feature of keyword arguments is that you can set defaults and only change the defaults you want to change.

In [14]:
def practice(times=2, technique="python", duration=60):
    print(f"I like to practice {technique}, {times} times a day, for {duration} minutes")

In [15]:
practice()

I like to practice python, 2 times a day, for 60 minutes

In [16]:
practice(duration=90, times=4)

I like to practice python, 4 times a day, for 90 minutes

*****args and ****kwargs

allow dynamic argument passing to functions
Should be used with discretion because it can make code hard to understand

In [17]:
def attack_techniques(**kwargs):
    """This accepts any number of keyword arguments"""

    for name, attack in kwargs.items():
        print(f"This is an attack I would like to practice: {attack}")

In [18]:
attack_techniques(arm_attack="kimura",
                  leg_attack="straight_ankle_lock",
                  neck_attack="arm_triangle",
                 body_attack="charge")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: charge

In [19]:
#I also can pass as many things as I wants
attack_techniques(arm_attack="kimura",
                  leg_attack="straight_ankle_lock",
                  neck_attach="arm_triangle",
                  attack4="rear nake choke", attack5="key lock")

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle
This is an attack I would like to practice: rear nake choke
This is an attack I would like to practice: key lock

**passing dictionary of keywords to function**

**kwargs syntax can also be used to pass in arguments all at once

In [20]:
attacks = {"arm_attack":"kimura",
           "leg_attack":"straight_ankle_lock",
           "neck_attach":"arm_triangle"}

In [21]:
attack_techniques(**attacks)

This is an attack I would like to practice: kimura
This is an attack I would like to practice: straight_ankle_lock
This is an attack I would like to practice: arm_triangle

**Passing Around Functions**

Object-Oriented programming is a very popular way to program, but it isn't the only style available in Python. For concurrency and for Data Science, functional programming fits as a complementary style.

In the example, below a function can be used inside of another function by being passed into the function itself as an argument.

In [22]:
def attack_location(technique):
    """Return the location of an attack"""

    attacks = {"kimura": "arm_attack",
           "straight_ankle_lock":"leg_attack",
           "arm_triangle":"neck_attach"}
    if technique in attacks:
        return attacks[technique]
    return "Unknown"

In [23]:
attack_location("kimura")

'arm_attack'

In [24]:
attack_location("bear hug")

'Unknown'

In [25]:
def multiple_attacks(attack_location_function):
    """Takes a function that categorizes attacks and returns location"""

    new_attacks_list = ["rear_naked_choke", "americana", "kimura"]
    for attack in new_attacks_list:
        attack_location = attack_location_function(attack)
        print(f"The location of attack {attack} is {attack_location}")

In [26]:
multiple_attacks(attack_location)

The location of attack rear_naked_choke is Unknown
The location of attack americana is Unknown
The location of attack kimura is arm_attack

#### Closures and Functional Currying

Closures are functions that contain other nested functions with state from outer function.

In Python, a common way to use them is to keep track of the state. In the example below, the outer function, attack_counter keeps track of counts of attacks. The inner fuction attack_filter uses the "nonlocal" keyword in Python3, to modify the variable in the outer function.

This approach is called "functional currying". It allows for a specialized function to be created from general functions. As shown below, this style of function could be the basis of a simple video game or maybe for the statistics crew of a mma match.

In [27]:
#nonlocal cannot modify this variable
#lower_body_counter=5
def attack_counter():
    """Counts number of attacks on part of body"""
    lower_body_counter = 0
    upper_body_counter = 0
    #print(lower_body_counter)
    def attack_filter(attack):
        nonlocal lower_body_counter
        nonlocal upper_body_counter
        attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body",
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
        if attack in attacks:
            if attacks[attack] == "upper_body":
                upper_body_counter +=1
            if attacks[attack] == "lower_body":
                lower_body_counter +=1
        print(f"Upper Body Attacks {upper_body_counter}, Lower Body Attacks {lower_body_counter}")
    return attack_filter

In [28]:
fight = attack_counter()

In [29]:
fight("kimura")

Upper Body Attacks 1, Lower Body Attacks 0

In [30]:
fight("knee_bar")

Upper Body Attacks 1, Lower Body Attacks 1

In [31]:
fight("keylock")

Upper Body Attacks 2, Lower Body Attacks 1

#### Partial Functions

Useful to partial assign default values to functions

In [32]:
from functools import partial

def multiple_attacks(attack_one, attack_two):
  """Performs two attacks"""

  print(f"First Attack {attack_one}")
  print(f"Second Attack {attack_two}")

attack_this = partial(multiple_attacks, "kimura")
type(attack_this)

functools.partial

By using this partial function, only one argument is needed

In [33]:
attack_this("knee-bar")

First Attack kimura
Second Attack knee-bar

Alternately, the original function can also be called with a different two attacks

In [34]:
multiple_attacks("Darce Choke", "Bicep Slicer")

First Attack Darce Choke
Second Attack Bicep Slicer

#### Lazy Evaluated Functions (Generators)

A very useful style of programming is "lazy evaluation". A generator is an example of that. Generators yield an items at a time.

The example below return an "infinite" random sequence of attacks. The lazy portion comes into play in that while there is an infinite amount of values, they are only returned when the function is called.

In [35]:
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body",
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [36]:
attack = lazy_return_random_attacks()

In [37]:
type(attack)

generator

In [38]:
for _ in range(6):
    print(next(attack))

['straight_ankle_lock']
['straight_ankle_lock']
['kimura']
['arm_triangle']
['arm_triangle']
['keylock']

#### Decorators:   Functions that wrap other functions

##### Randomized Sleep Decorator

Another useful technique in Python is to use the decorator syntax to wrap one function with another function. In the example below, a decorator is written that adds random sleep to each function call. When combined with the previous "infinite" attack generator, it generates random sleeps between each function call.

In [39]:
def randomized_speed_attack_decorator(function):
    """Randomizes the speed of attacks"""

    import time
    import random

    def wrapper_func(*args, **kwargs):
        sleep_time = random.randint(0,3)
        print(f"Attacking after {sleep_time} seconds")
        time.sleep(sleep_time)
        return function(*args, **kwargs)
    return wrapper_func

In [40]:
@randomized_speed_attack_decorator
def lazy_return_random_attacks():
    """Yield attacks each time"""
    import random
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body",
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    while True:
        random_attack = random.choices(list(attacks.keys()))
        yield random_attack

In [41]:
for _ in range(5):
    print(next(lazy_return_random_attacks()))

Attacking after 1 seconds
['straight_ankle_lock']
Attacking after 1 seconds
['knee_bar']
Attacking after 1 seconds
['arm_triangle']
Attacking after 3 seconds
['arm_triangle']
Attacking after 3 seconds
['arm_triangle']

##### Timing Decorator

Using a decorator to time code is very common

In [42]:
from functools import wraps
from time import time

def timing(f):
    @wraps(f)
    def wrap(*args, **kw):
        ts = time()
        result = f(*args, **kw)
        te = time()
        print(f"fun: {f.__name__}, args: [{args}, {kw}] took: {te-ts} sec")
        return result
    return wrap

Using decorator to time execution of a function

In [43]:
@timing
def some_attacks():
  attack = lazy_return_random_attacks()
  for _ in range(5):
    print(next(attack))

some_attacks()

Attacking after 1 seconds
['knee_bar']
['knee_bar']
['arm_triangle']
['straight_ankle_lock']
['keylock']
fun: some_attacks, args: [(), {}] took: 1.0011982917785645 sec

#### Making Classes Behave Like Functions

Creating callable functions

In [44]:
class AttackFinder:
  """Finds the attack location"""


  def __init__(self, attack):
    self.attack = attack

  def __call__(self):
    attacks = {"kimura": "upper_body",
           "straight_ankle_lock":"lower_body",
           "arm_triangle":"upper_body",
            "keylock": "upper_body",
            "knee_bar": "lower_body"}
    if not self.attack in attacks:
      return "unknown location"
    return attacks[self.attack]

In [45]:
my_attack = AttackFinder("kimura")
my_attack()

'upper_body'

#### Applying Functions to Pandas DataFrames

The final lesson on functions is to take this knowledge and use it on a DataFrame in Pandas. One of the more fundamental concepts in Pandas is use apply on a column vs iterating through all of the values. An example is shown below where all of the numbers are rounded to a whole digit.

In [46]:
import pandas as pd
iris = pd.read_csv('iris.csv')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [47]:
iris.shape

(150, 5)

In [48]:
iris['rounded_sepal_length'] = iris[['sepal_length']].apply(pd.Series.round)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length
0,5.1,3.5,1.4,0.2,setosa,5.0
1,4.9,3.0,1.4,0.2,setosa,5.0
2,4.7,3.2,1.3,0.2,setosa,5.0
3,4.6,3.1,1.5,0.2,setosa,5.0
4,5.0,3.6,1.4,0.2,setosa,5.0

In [49]:
iris.shape

(150, 6)

This was done with a built in function, but a custom function can also be written and applied to a column. In the example below, the values are multiplied by 100. The alternative way to accomplish this would be to create a loop, transform the data and then write it back. In Pandas, it is straightforward and simple to apply custom functions instead.

In [50]:
def multiply_by_100(x):
    """Multiplies by 100"""

    res = x * 100
    #print(f"This was passed in {x}, and this result was generated {res}")
    return res


iris['100x_sepal_length'] = iris[['sepal_length']].apply(multiply_by_100)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length,100x_sepal_length
0,5.1,3.5,1.4,0.2,setosa,5.0,510.0
1,4.9,3.0,1.4,0.2,setosa,5.0,490.0
2,4.7,3.2,1.3,0.2,setosa,5.0,470.0
3,4.6,3.1,1.5,0.2,setosa,5.0,460.0
4,5.0,3.6,1.4,0.2,setosa,5.0,500.0

In [51]:
iris["new_column"] = iris[['sepal_length']]
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,rounded_sepal_length,100x_sepal_length,new_column
0,5.1,3.5,1.4,0.2,setosa,5.0,510.0,5.1
1,4.9,3.0,1.4,0.2,setosa,5.0,490.0,4.9
2,4.7,3.2,1.3,0.2,setosa,5.0,470.0,4.7
3,4.6,3.1,1.5,0.2,setosa,5.0,460.0,4.6
4,5.0,3.6,1.4,0.2,setosa,5.0,500.0,5.0

In [52]:
iris.groupby("species").max()

,sepal_length,sepal_width,petal_length,petal_width,rounded_sepal_length,100x_sepal_length,new_column
species,,,,,,,
setosa,5.8,4.4,1.9,0.6,6.0,580.0,5.8
versicolor,7.0,3.4,5.1,1.8,7.0,700.0,7.0
virginica,7.9,3.8,6.9,2.5,8.0,790.0,7.9

In [53]:
#iris.apply(pd.Series.round, axis=1)

In [54]:
#def sepal_category(x):

#  if x == 4:
#  return "big"

#iris['sepal_category'] = iris[['sepal_width']].apply(sepal_category)
#iris.head()

In [55]:
#example of a smarter function
def smart_multiply_by_100(x):
  if x > 5:
    return 1
  return x

inputs = [1,2,6,10]
for input in inputs:
  print(smart_multiply_by_100(input))

1
2
1
1

#### Writing Lambdas

Generally considered to be unnecessary.  A Python lambda is an inline python and it can often lead to confusing code.

In [56]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [57]:
func = lambda x: x**2
func(4)

16

In [58]:
def regular_func(x):
  return x**2

regular_func(4)

16

In [59]:
def regular_func2(x):
  """This makes my variable go to the second power"""
  return x**2

In [60]:
regular_func2(2)

4