In [1]:
#knn classification
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn import metrics as sm

In [5]:
cer_df=pd.read_excel('cereals.xlsx')
cer_df.head()

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating
0,100%_Bran,70,4,1,130,10.0,5.0,6,280,25,68.402973
1,100%_Natural_Bran,120,3,5,15,2.0,8.0,8,135,0,33.983679
2,All-Bran,70,4,1,260,9.0,7.0,5,320,25,59.425505
3,All-Bran_with_Extra_Fiber,50,4,0,140,14.0,8.0,0,330,25,93.704912
4,Almond_Delight,110,2,2,200,1.0,14.0,8,-1,25,34.384843

In [6]:
x,y=cer_df.shape
print(x,y)

77 11

In [7]:
cer_df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,93.704912

In [8]:
cer=cer_df.loc[:,'calories':'vitamins'] #All the columns from calories till vitamins
rating=cer_df['rating']
bins=[0,15,30,45,60,75,90,105]
label=['0-15','15-30','30-45','45-60','60-75','75-90','90-105']
target=pd.cut(rating,bins,labels=label)
target

0      60-75
1      30-45
2      45-60
3     90-105
4      30-45
       ...
72     30-45
73     15-30
74     45-60
75     45-60
76     30-45
Name: rating, Length: 77, dtype: category
Categories (7, object): ['0-15' < '15-30' < '30-45' < '45-60' < '60-75' < '75-90' < '90-105']

In [9]:
cer

    calories  protein  fat  sodium  fiber  carbo  sugars  potass  vitamins
0         70        4    1     130   10.0    5.0       6     280        25
1        120        3    5      15    2.0    8.0       8     135         0
2         70        4    1     260    9.0    7.0       5     320        25
3         50        4    0     140   14.0    8.0       0     330        25
4        110        2    2     200    1.0   14.0       8      -1        25
..       ...      ...  ...     ...    ...    ...     ...     ...       ...
72       110        2    1     250    0.0   21.0       3      60        25
73       110        1    1     140    0.0   13.0      12      25        25
74       100        3    1     230    3.0   17.0       3     115        25
75       100        3    1     200    3.0   17.0       3     110        25
76       110        2    1     200    1.0   16.0       8      60        25

[77 rows x 9 columns]

In [10]:
cer_df['rating_bin']=target #rating bins is the Dependent Variable
cer_df

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating,rating_bin
0,100%_Bran,70,4,1,130,10.0,5.0,6,280,25,68.402973,60-75
1,100%_Natural_Bran,120,3,5,15,2.0,8.0,8,135,0,33.983679,30-45
2,All-Bran,70,4,1,260,9.0,7.0,5,320,25,59.425505,45-60
3,All-Bran_with_Extra_Fiber,50,4,0,140,14.0,8.0,0,330,25,93.704912,90-105
4,Almond_Delight,110,2,2,200,1.0,14.0,8,-1,25,34.384843,30-45
...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,110,2,1,250,0.0,21.0,3,60,25,39.106174,30-45
73,Trix,110,1,1,140,0.0,13.0,12,25,25,27.753301,15-30
74,Wheat_Chex,100,3,1,230,3.0,17.0,3,115,25,49.787445,45-60
75,Wheaties,100,3,1,200,3.0,17.0,3,110,25,51.592193,45-60
76,Wheaties_Honey_Gold,110,2,1,200,1.0,16.0,8,60,25,36.187559,30-45

Scaling cer

In [11]:
cer_s=scale(cer)
cer_train,cer_test,target_train,target_test=train_test_split(cer_s,target,test_size=0.2,random_state=15)
cer_train.shape,cer_test.shape,target_train.shape,target_test.shape

((61, 9), (16, 9), (61,), (16,))

In [12]:
knn=KNeighborsClassifier(n_neighbors=7).fit(cer_train,target_train)
knn

KNeighborsClassifier(n_neighbors=7)

In [13]:
pred=knn.predict(cer_test)
pred

array(['45-60', '30-45', '45-60', '45-60', '30-45', '30-45', '15-30',
       '15-30', '30-45', '30-45', '30-45', '15-30', '30-45', '30-45',
       '45-60', '30-45'], dtype=object)

In [14]:
sm.accuracy_score(target_test,pred)

0.75

In [15]:
print(sm.classification_report,target_test,pred)

<function classification_report at 0x000001F453F439D0> 43     45-60
30     30-45
9      45-60
60     45-60
61     30-45
59     30-45
18     15-30
25     30-45
36     30-45
45     30-45
46     30-45
48     15-30
3     90-105
53     30-45
20     60-75
70     15-30
Name: rating, dtype: category
Categories (7, object): ['0-15' < '15-30' < '30-45' < '45-60' < '60-75' < '75-90' < '90-105'] ['45-60' '30-45' '45-60' '45-60' '30-45' '30-45' '15-30' '15-30' '30-45'
 '30-45' '30-45' '15-30' '30-45' '30-45' '45-60' '30-45']

OR Test Using Test data from the data sheet

In [16]:
test_df=pd.read_excel('cereals.xlsx',sheet_name='Test')
test_df

,name,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating
0,Fruitful_Bran,50,4,0,140,14,8,0,330,25,NaN
1,Golden_Crisp,90,2,1,200,4,15,6,125,25,NaN
2,Cocoa_Puffs,110,1,1,180,0,12,13,55,25,NaN
3,Cracklin'_Oat_Bran,110,3,3,140,4,10,7,160,25,NaN
4,Golden_Crisp,100,2,0,45,0,11,15,40,25,NaN

In [17]:
test=test_df.loc[:,'calories':'vitamins']
test

   calories  protein  fat  sodium  fiber  carbo  sugars  potass  vitamins
0        50        4    0     140     14      8       0     330        25
1        90        2    1     200      4     15       6     125        25
2       110        1    1     180      0     12      13      55        25
3       110        3    3     140      4     10       7     160        25
4       100        2    0      45      0     11      15      40        25

In [18]:
test_s=scale(test)
test_s

array([[-1.88585567,  1.56892908, -0.91287093, -0.01875147,  1.87408514,
        -1.38218948, -1.53438644,  1.8102045 ,  0.        ],
       [-0.08980265, -0.39223227,  0.        ,  1.10633644, -0.07808688,
         1.64135001, -0.41166465, -0.16368871,  0.        ],
       [ 0.80822386, -1.37281295,  0.        ,  0.73130714, -0.85895569,
         0.34554737,  0.89817743, -0.83770102,  0.        ],
       [ 0.80822386,  0.58834841,  1.82574186, -0.01875147, -0.07808688,
        -0.51832106, -0.22454436,  0.17331745,  0.        ],
       [ 0.3592106 , -0.39223227, -0.91287093, -1.80014064, -0.85895569,
        -0.08638684,  1.27241802, -0.98213223,  0.        ]])

In [19]:
pred=knn.predict(test_s)
pred

array(['45-60', '30-45', '15-30', '30-45', '30-45'], dtype=object)

In [20]:
print(sm.classification_report,test_s,pred)

<function classification_report at 0x000001F453F439D0> [[-1.88585567  1.56892908 -0.91287093 -0.01875147  1.87408514 -1.38218948
  -1.53438644  1.8102045   0.        ]
 [-0.08980265 -0.39223227  0.          1.10633644 -0.07808688  1.64135001
  -0.41166465 -0.16368871  0.        ]
 [ 0.80822386 -1.37281295  0.          0.73130714 -0.85895569  0.34554737
   0.89817743 -0.83770102  0.        ]
 [ 0.80822386  0.58834841  1.82574186 -0.01875147 -0.07808688 -0.51832106
  -0.22454436  0.17331745  0.        ]
 [ 0.3592106  -0.39223227 -0.91287093 -1.80014064 -0.85895569 -0.08638684
   1.27241802 -0.98213223  0.        ]] ['45-60' '30-45' '15-30' '30-45' '30-45']