In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import confusion_matrix, classification_report, precision_score
from sklearn import preprocessing
from sklearn import neighbors

%matplotlib inline
plt.style.use('seaborn-white')

Default Datset

Format
A data frame with 10000 observations on the following 4 variables.
	default
		A factor with levels No and Yes indicating whether the customer defaulted on their debt
	student
		A factor with levels No and Yes indicating whether the customer is a student
	balance
		The average balance that the customer has remaining on their credit card after making their monthly payment
	income 	Income of customer

In [2]:
df = pd.read_excel('Default.xlsx')
df

C:\Users\hp\anaconda4\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

      Unnamed: 0 default student      balance        income
0              1      No      No   729.526495  44361.625074
1              2      No     Yes   817.180407  12106.134700
2              3      No      No  1073.549164  31767.138947
3              4      No      No   529.250605  35704.493935
4              5      No      No   785.655883  38463.495879
...          ...     ...     ...          ...           ...
9995        9996      No      No   711.555020  52992.378914
9996        9997      No      No   757.962918  19660.721768
9997        9998      No      No   845.411989  58636.156984
9998        9999      No      No  1569.009053  36669.112365
9999       10000      No     Yes   200.922183  16862.952321

[10000 rows x 5 columns]

In [3]:
#Converting Categorical Column into Numerical Column
# Note: factorize() returns two objects: a label array and an array with the unique values.
# We are only interested in the first object. 
df['default2'] = df.default.factorize()[0]
df['student2'] = df.student.factorize()[0]
df.head(3)

   Unnamed: 0 default student      balance        income  default2  student2
0           1      No      No   729.526495  44361.625074         0         0
1           2      No     Yes   817.180407  12106.134700         0         1
2           3      No      No  1073.549164  31767.138947         0         0

In [4]:
#Here Target = default2, Input = student2, balance , income

In [5]:
#X = df[['balance', 'income', 'student2']].values
#y = df.default2.values

In [6]:
#X

In [7]:
#y

In [8]:
X = df[['balance', 'income', 'student2']]
y = df.default2

In [9]:
X

          balance        income  student2
0      729.526495  44361.625074         0
1      817.180407  12106.134700         1
2     1073.549164  31767.138947         0
3      529.250605  35704.493935         0
4      785.655883  38463.495879         0
...           ...           ...       ...
9995   711.555020  52992.378914         0
9996   757.962918  19660.721768         0
9997   845.411989  58636.156984         0
9998  1569.009053  36669.112365         0
9999   200.922183  16862.952321         1

[10000 rows x 3 columns]

In [10]:
y

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: default2, Length: 10000, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
from sklearn import metrics as sm

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=15)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((8000, 3), (2000, 3), (8000,), (2000,))

K-Nearest Neighbors

n_neighbors=1

In [13]:
knn = neighbors.KNeighborsClassifier()
pred = knn.fit(X_train, y_train).predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [14]:
print(confusion_matrix(y_test, pred).T)

[[1917   54]
 [  17   12]]

In [15]:
print(classification_report(y_test, pred, digits=3))

              precision    recall  f1-score   support

           0      0.973     0.991     0.982      1934
           1      0.414     0.182     0.253        66

    accuracy                          0.965      2000
   macro avg      0.693     0.587     0.617      2000
weighted avg      0.954     0.965     0.958      2000

In [16]:
grid_pram = {"weights":['uniform', 'distance'],
             "n_neighbors":range(2,10 ,1)
             }

In [17]:
grid_ccp = GridSearchCV(estimator=knn,param_grid=grid_pram , cv = 10 , n_jobs=-1)

NameError: name 'GridSearchCV' is not defined

In [ ]:
grid_ccp.fit(xtrain,ytrain)

n_neighbors=3

In [ ]:
knn = neighbors.KNeighborsClassifier(n_neighbors=3)
pred = knn.fit(X_train, y_train).predict(X_test)
pred

In [ ]:
print(confusion_matrix(y_test, pred).T)

In [ ]:
print(classification_report(y_test, pred, digits=3))